<section id="how-faq" class="bg-gray-600">
  <div class="container">
    <div class="row">
      {% for faq in page.faqs %}
      <div class="col-lg-6 mb-3">
        <div class="bg-gray text-white p-5" data-toggle="collapse" data-target="#collapse-{{ forloop.index }}"
          aria-expanded="false" aria-controls="collapse-{{ forloop.index }}">
          <h5 class="text-uppercase">Question</h5>
          {{ faq.question }}
        </div>
        <div class="collapse bg-primary text-white p-5" id="collapse-{{ forloop.index }}">
          <h5 class="text-uppercase">Answer</h5>
          {{ faq.answer_html }}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>