---
layout: page
title: Blog
meta:
  title: Blog | Food Education, Regenerative Agriculture, and Company News
  description: >-
    Stay up-to-date on what is new with 4P Foods, our community, and our
    partners. 4P's impact blog has community stories, updates, and home-grown
    hype.
  image:
footer_image: /uploads/2009-09-swisschard-va-xx.JPG
---
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 mx-lg-auto text-center">
        <div class="editable">
          <h1><strong>4P Foods Monthly Harvest</strong></h1>
          <h3>
            <font face="Spectral, serif"><i>Get insights on food education, company news, climate impact, and regenerative farming practices.</i></font>
          </h3>
        </div>
      </div>
    </div>
    <hr />
  </div>
</section>
<section class="pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul class="nav nav-tabs" id="news-tabs" role="tablist">
          <!-- <li class="nav-item">
            <a class="nav-link active" id="tab-news" data-toggle="tab" href="#news" role="tab" aria-controls="news" aria-selected="true">4P News</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" id="tab-newsletters" data-toggle="tab" href="#newsletters" role="tab" aria-controls="newsletters" aria-selected="false">Weekly Harvest Newsletters</a>
          </li> -->
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade show active" id="news" role="tabpanel" aria-labelledby="tab-news">
            {% include news/featured-news-item.html %}
            {% include news/news-list.html %}
          </div>
          <!-- <div class="tab-pane fade" id="newsletters" role="tabpanel" aria-labelledby="tab-newsletters">
            {% include news/newsletter-list.html %}
          </div> -->
        </div>
      </div>
    </div>
  
</section>

{% include footer-image.html %}
