---
layout: page
title: Newsletter
meta:
  title:
  description:
  image:
---
<section class="pb-0">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 mx-auto text-center">
        <div class="editable">
          <h1><strong>Food Service Newsletter</strong></h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    {% assign newsletters = site.newsletters %}
    {% for newsletter in newsletters | sort: "newsletter_date" | reversed %}
      <div class="row align-items-center mb-5">
        <div class="col-lg-4">
          <a href="{{ newsletter.newsletter_link }}" class="bg-image aspect-4x3 mb-3 mb-lg-0" style="background-image: url({{ newsletter.featured_image }})" target="_blank" rel="noopener"></a>
        </div>
        <div class="col-lg-8">
          <h4><a href="{{ newsletter.newsletter_link}}" target="_blank" rel="noopener" class="text-body">{{ newsletter.title }}</a></h4>
          <small>
            <p class="mb-0">{% if newsletter.source %}{{ newsletter.source }} | {% endif %}{{ newsletter.newsletter_date | date: '%B %-d, %Y'}}</p>
        
            {% if newsletter.author %}
              <p class="mb-0">Written by: {{ newsletter.author }}</p>
            {% endif %}
          </small>
          <p class="mt-3">{{ newsletter.excerpt | truncatewords: 60}}</p>
          <a href="{{ newsletter.newsletter_link }}" class="btn btn-primary" target="_blank" rel="noopener">View Newsletter</a>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
