---
layout: page
title: Newsletter
meta:
  title:
  description:
  image:
---
<section class="pb-0">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 mx-auto text-center">
        <div class="editable">
          <h1><strong>4P Foods Press</strong></h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    {% assign press = site.press | sort: 'press_date' %}
    {% for press in press reversed %}
      <div class="row align-items-center mb-5">
        <div class="col-lg-4">
          <a href="{{ press.link }}" class="bg-image aspect-4x3 mb-3 mb-lg-0" style="background-image: url({{ press.featured_image }})" target="_blank" rel="noopener"></a>
        </div>
        <div class="col-lg-8">
          <h4><a href="{{ press.link}}" target="_blank" rel="noopener" class="text-body">{{ press.title }}</a></h4>
          <small>
            <p class="mb-0">{% if press.source %}{{ press.source }} | {% endif %}{{ press.press_date | date: '%B %-d, %Y'}}</p>
        
            {% if press.author %}
              <p class="mb-0">Written by: {{ press.author }}</p>
            {% endif %}
          </small>
          <p class="mt-3">{{ press.description | truncatewords: 60}}</p>
          <a href="{{ press.link }}" class="btn btn-primary" target="_blank" rel="noopener">View Article</a>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
