#community-picks {
  @include media-breakpoint-up(sm) {
    .card {
      position: relative;
      .card-footer {
        color: $white;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba($gray-600, 0.4);
        h5 {
          color: $white;
        }
      }
    }
  }
}

#shenandoah-banner {
  position: relative;
  overflow: hidden;
  .border-left-circle {
    p {
      font-family: $font-family-secondary;
      color: $gray-850;
      font-size: 20px;
      padding-left: 30px;
    }
  }
}
#shenandoah-badge {
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 286px;
  background-color: #F8F6EE;
  border-radius: 50%;
  padding: 45px;
}