<section id="FoodAccessIntro" class="bg-gray text-white">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 col-lg-11 mx-lg-auto text-center">
        <div class="editable">
          <h2>
            Food Access Programs
          </h2>
        </div>
        <p class="lead editable">
          <em>4P works to build a better food system that enables all people, regardless of income or ZIP code, to have access to good, healthy food.</em>
        </p>
        <div class="editable">
          <p>Food Access (or lack thereof) is a multi-pronged problem touching on the areas of geography, financial, and personal. 4P Foods, together with our partners, helps to deliver food along with solutions that mirror those challenges.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="threesome">
          <div class="card bg-transparent">
            <div class="card-content align-items-center">
              <div class="card-header p-0">
                <div class="content">
                  <img src="/img/icons/homepage-foodaccess-geographic.png" class="img-fluid editable" alt="Food Access Geographic icon" />
                </div>
              </div>
              <div class="card-body">
                <div class="content text-center">
                  <h4 class="editable text-uppercase font-weight-bold">
                    Geographic
                  </h4>
                  <div class="editable">
                    <p>Geographic access relates to proximity to Good Food sources. For example, is there a grocery store within a reasonable distance?</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card bg-transparent">
            <div class="card-content align-items-center">
              <div class="card-header p-0">
                <div class="content">
                  <img src="/img/icons/homepage-foodaccess-financial.png" class="img-fluid editable" alt="Food Access Financial icon" />
                </div>
              </div>
              <div class="card-body">
                <div class="content text-center">
                  <h4 class="editable text-uppercase font-weight-bold">
                    Financial
                  </h4>
                  <div class="editable">
                    <p>Financial access means being able to afford Good Food. Even if there is a nearby grocery store, healthy, fresh food is often a luxury</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card bg-transparent">
            <div class="card-content align-items-center">
              <div class="card-header p-0">
                <div class="content">
                  <img src="/img/icons/homepage-foodaccess-personal.png" class="img-fluid editable" alt="Food Access personal icon" />
                </div>
              </div>
              <div class="card-body">
                <div class="content text-center">
                  <h4 class="editable text-uppercase font-weight-bold">
                    Personal
                  </h4>
                  <div class="editable">
                    <p>The personal access challenge is about lifestyle limitations. For example, someone working multiple jobs may not have the time, tools, or knowledge to buy and prepare healthy food.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <a href="/food-access-programs" class="btn btn-primary editable">Find Out More</a>
      </div>
    </div>
  </div>
</section>