<section id="bring-us-to-your-community" class="bg-primary text-white">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 mx-lg-auto text-center">
        <h2 class="editable">
          Bring 4p to your community
        </h2>
        <h3 class="editable">
          <em>Make your space a hub for local food</em>
        </h3>
        <div class="editable">
          <p>4p Foods sources sustainably grown foods from farms in the Mid-Atlantic foodshed and delivers them to your home, office, apartment building, or business once each week. If you&rsquo;re interested in getting set up as a delivery site (which makes all deliveries FREE for people who pick up at your location), <a class="text-white" href="/contact">drop us a line</a>.</p>
        </div>
      </div>
    </div>
    <div class="foursome mt-5">
      <div class="card">
        <div class="card-content pin-footer">
          <div class="card-header">
            <div class="content">
              <img src="{{ '/img/icons/4p-icons-delivery-01.png' }}" class="img-fluid" alt="Office icon" />
            </div>
          </div>
          <div class="card-body">
            <div class="content text-center">
              <h4 class="editable">
                Your Office
              </h4>
              <div class="editable">
                <p>Help your employees lead healthier lifestyles at no cost to you by getting farm-fresh food delivered right to the office. For offices that provide snacks to their employees, we have Office Shares for that, too.</p>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <p><a href="/how-it-works" class="btn btn-green btn-block editable">Learn More</a></p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content pin-footer">
          <div class="card-header">
            <div class="content">
              <img src="{{ '/img/icons/4p-icons-delivery-02.png' }}" class="img-fluid" alt="Building icon" />
            </div>
          </div>
          <div class="card-body">
            <div class="content text-center">
              <h4 class="editable">
                Your Building
              </h4>
              <div class="editable">
                <p>Your residents will love having a local, sustainable grocery delivery option&mdash;not to mention the fact that delivery is always free at partner buildings.</p>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <p><a href="/how-it-works" class="btn btn-green btn-block editable">Learn More</a></p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content pin-footer">
          <div class="card-header">
            <div class="content">
              <img src="{{ '/img/icons/4p-icons-delivery-03.png' }}" class="img-fluid" alt="Community Icon" />
            </div>
          </div>
          <div class="card-body">
            <div class="content text-center">
              <h4 class="editable">
                Your Community
              </h4>
              <div class="editable">
                <p>Are you a school, community center, or church with lots of local food lovers? You can become a delivery site to bring Good Food to your community.</p>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <p><a href="/how-it-works" class="btn btn-green btn-block editable">Learn More</a></p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content pin-footer">
          <div class="card-header">
            <div class="content">
              <img src="{{ '/img/icons/4p-icons-delivery-04.png' }}" class="img-fluid" alt="Business icon" />
            </div>
          </div>
          <div class="card-body">
            <div class="content text-center">
              <h4 class="editable">
                Your Business
              </h4>
              <div class="editable">
                <p>Making your business a delivery site will not only get your community Good Food with no delivery fee&mdash;it will also ensure customers come back week after week.</p>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <p><a href="/how-it-works" class="btn btn-green btn-block editable">Learn More</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
