{% if page.notification.show_notification %}
  <div id="homepage-notification" class="bg-green-dark py-3 rounded" data-cms-bind="#notification">
    <div class="container-fluid">
      <div class="d-lg-flex justify-content-between align-items-center">
        <div>
          {% if site.data.notifications.homepage_notification.link %}
          <p class="mb-0 font-weight-500 text-white d-flex align-items-center"><a href="{{ site.data.notifications.homepage_notification.link }}" class="link-arrow text-white">{{ site.data.notifications.homepage_notification.notification_text }} <i class="ri-arrow-right-circle-fill"></i></a></p>
          {% else %}
            <p class="mb-0 font-weight-bold text-white">{{ site.data.notifications.homepage_notification.notification_text }}</p>
          {% endif %}
        </div>
        {% if site.data.notifications.homepage_notification.subtitle %}
        <div>
          <p class="opacity-50 text-white mb-0 font-weight-500">{{ site.data.notifications.homepage_notification.subtitle }}</p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
 