<div class="container">
  <ul id="how-it-works-tabs" class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" id="tab-fresh" data-toggle="tab" href="#fresh" role="tab" aria-controls="fresh" aria-selected="true">Fresh from the farm</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="tab-shop" data-toggle="tab" href="#shopping" role="tab" aria-controls="shopping" aria-selected="false">Start Shopping</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="tab-delivered" data-toggle="tab" href="#delivered" role="tab" aria-controls="delivered" aria-selected="false">Delivered to you</a>
    </li>
  </ul>
</div>
<section class="bg-tan">
  <div class="container">
    <div class="tab-content">
      <div id="fresh" role="tabpanel" aria-labelledby="tab-what" class="tab-pane fade show active">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1">
            <div class="editable">
              <h4>Empowering Farmers</h4>
              <p>4P currently empowers more than 250+ local and regional family farmers and producers to put their high quality, sustainably grown produce, protein, dairy on more tables every day.</p>
              <h4>Committed to our Planet</h4>
              <p>4P Foods works with farmers who are good stewards of our environment and committed to low-impact, sustainable or regenerative methods of food production. Plus, our food network aims to be carbon efficient and locally focused, improving your carbon footprint.</p>
            </div>
            <a href="/our-farmers" class="btn btn-primary editable">Learn More</a>
          </div>
          <div class="col-lg-6 order-1 order-lg-2">
            <img class="img-fluid editable mb-3 mb-lg-0" alt="Farmer image" src="/uploads/home/4p-homepage-farm-tab.jpg" width="768" />
          </div>
        </div>
      </div>
      <div id="shopping" role="tabpanel" aria-labelledby="tab-why" class="tab-pane fade show">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1">
            <div class="editable">
              <div>
                <h4>Recurring Purchases</h4>
                <p>You can stop stressing about making it to the grocery store or farmers&rsquo; market by signing up for a recurring delivery. Choose from any combination of produce, meat, or dairy, pantry add-ons at a cadence that works for you, whether weekly, biweekly, or whenever it fits in your schedule.</p>
                <h4>One-time purchases</h4>
                <p>Whether you want to try something new, need that one more thing to round out your recurring order, or are looking for a unique gift for the food-lover in your life, one-time purchases allow you to get just what you need, just once.</p>
              </div>
              <p><a class="btn btn-primary cc-active" href="https://shop.4pfoods.com">Start Shopping</a></p>
              <p><a href="/how-it-works">Or learn more about how it works</a></p>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2">
            <img src="/uploads/home/4p-homepage-shoppingtab.jpg" class="img-fluid mb-3 mb-lg-0 editable" alt="Peach image" />
          </div>
        </div>
      </div>
      <div id="delivered" role="tabpanel" aria-labelledby="tab-who" class="tab-pane fade show">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1">
            <div class="editable">
              <div>
                <h4>Delivered to your home, office, or building</h4>
                <p>We strive to make eating Good Food easy and affordable, while also minimizing our impact on the planet. We'll waive the delivery fee for home orders over $50 and all orders to participating community pick-up sites. Don&rsquo;t see your office or apartment building on our list of delivery sites? <a href="community@4pfoods.com">Reach out</a> to make a connection!</p>
                <h4>Skip or donate your Recurring delivery</h4>
                <p>Life happens, and you won&rsquo;t always need your regular 4P order. You can skip delivery as often as you need to (as long as you do it before your skip deadline). And if you forget to skip your bag in time, or just want to pay it forward, you can always opt to donate your bag to one of our food access partners.</p>
              </div>
              <p><a class="btn btn-primary cc-active" href="/how-it-works">Learn More</a></p>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2">
            <img src="/uploads/home/4p-homepage-deliverytab.jpg" class="img-fluid mb-3 mb-lg-0 editable" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>