{% unless page.layout == 'homepage' %}
  {% if page.footer_image %}
  <div
    data-cms-editor-link="cloudcannon:#footer_image"
    data-cms-editor-link-style="modal"
    class="bg-image aspect-4x1 cms-editor-link"
    style="background-image: url({{ page.footer_image }})">
  </div>
  {% elsif layout.footer_image %}
  <div class="bg-image aspect-4x1" style="background-image: url({{ layout.footer_image }})"></div>
  {% endif %}
  {% comment %}
  <section id="tryUsToday" class="bg-primary bg-image aspect-none"
    style="background-image: url({{ '/img/bg-illustrations/4p-homepage-goodfood-01.jpg' }})">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <!-- <try-us></try-us> -->
          <a href="{{ site.store_url }}{{ site.store_signup }}" class="btn btn-primary btn-block text-mega storeLink">Try Us Today&mdash;Completely Commitment Free</a>
        </div>
      </div>
    </div>
  </section>
  {% endcomment %}
{% endunless %}