<header id="pageHeader">
  <!-- <div class="bg-green-darker d-none d-lg-block">
    <div class="container-fluid">
      <nav id="usernav" class="navbar navbar-expand-lg">
        <a href="/wholesale-programs" class="text-uppercase font-weight-bold editable">Interested in Wholesale?</a>
        <div id="header-notification">
          {% if site.data.notifications.header_notification.link %}
            <p class="mb-0 font-weight-bold"><a href="{{ site.data.notifications.header_notification.link }}">{{ site.data.notifications.header_notification.notification_text }}</a></p>
          {% else %}
            <p class="mb-0 font-weight-bold">{{ site.data.notifications.header_notification.notification_text }}</p>
          {% endif %}
        </div>
        <div id="secondarynav">
          <auth-nav>
            <a href="{{ site.store_url }}/login" class="btn btn-primary storeLink">Login</a>
          </auth-nav>
        </div>
      </nav>
    </div>
  </div> -->
  <div class="container-fluid bg-light">
    <nav id="mainnav" class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="/" title="{{ site.title }}">
        <img src="/img/logo-wordmark.svg" alt="{{ site.title }}" />
      </a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#primarynav" aria-controls="primarynav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </span>
      </button>
      <div class="collapse navbar-collapse justify-content-md-start" id="primarynav">
        <ul class="nav d-flex align-items-center justify-content-center d-lg-none mb-5">
          <li class="nav-item mt-3 mt-lg-0">
            <a href="{{ site.store_url }}" class="btn btn-primary mx-2 storeLink">Shop</a>
          </li>
          <li class="nav-item mt-3 mt-lg-0 d-block d-lg-none">
            <a href="{{ site.store_url }}/login" class="btn btn-primary mx-2 storeLink">Login</a>
          </li>
        </ul>
        <ul class="primary-nav-links navbar-nav">
          {% for link in site.data.navigation.primary_navigation.navigation %}
          {% if link.links %}
            {% assign href_att = 'data-href' %}
          {% else %}
            {% assign href_att = 'href' %}
          {% endif %}
          {% assign slug = link.label | slugify %}

          <li class="nav-item {% if link.links %}dropdown mega-dropdown{% endif %}{% if page.url contains slug %} active{% endif %}">
            <a class="nav-link" {% if link.links %}
                id="#collapse-{{ link.label | slugify }}"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              {% endif %}
              href="{{ link.url }}"
              {{ href_att }}="{{ link.url }}">
              {{ link.label }}
              <span class="arrow d-inline-block d-lg-none"><i class="ri-arrow-down-s-line"></i></span>
              <span class="sr-only">(current)</span>
            </a>
            {% if link.links %}
            <div class="dropdown-menu mega-menu v-2 z-depth-1 {% if link.has_sublinks %}has-sublinks{% endif %}" aria-labelledby="collapse-{{ link.label | slugify }}">
              <div class="row justify-content-lg-center">
                {% for link in link.links %}
                <div class="col-12 col-lg-auto sub-menu mb-lg-0 mb-4">
                  <a href="{{ link.url }}">{{ link.label }}</a>
                </div>
                {% endfor %}
              </div>
              {% for link in link.links %}
                {% if link.sublinks.first.url %}
                  <div class="sublinks-menu">
                    <div class="row justify-content-lg-center">
                      {% for link in link.sublinks %}
                      <div class="col-12 col-lg-auto sub-menu mb-lg-0 mb-4">
                        <a href="{{ link.url }}" class="d-flex align-items-center justify-content-center px-lg-3 {% if page.url contains link.url %} active{% endif %}"><img src="{{ link.icon_image }}" class="inline-block mr-1 mr-xl-3" alt="{{ link.label }} icon"><span>{{ link.label }}</span></a>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
            {% endif %}
          </li>
          {% endfor %}
          <li class="nav-item">
            <a href="/wholesale" class="text-uppercase font-weight-bold d-block d-lg-none editable link-mobile-wholesale">Are you a Wholesaler?</a>
          </li>
        </ul>
        <ul class="nav navbar-nav ml-auto d-none d-lg-flex align-items-center">
          <li class="nav-item mt-3 mt-lg-0">
            <a href="{{ site.store_url }}" class="btn btn-primary storeLink">Shop Groceries</a>
          </li>
          <li class="nav-item mt-3 mt-lg-0 mx-3">
            <a href="{{ site.store_url }}/cart" class="nav-icon-link"><i class="ri-shopping-cart-2-fill"></i></a>
          </li>
          <li class="nav-item mt-3 mt-lg-0">
            <a href="{{ site.store_url }}/user" class="nav-icon-link"><i class="ri-user-fill"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  {% if site.data.notifications.bar_notification.notification_text %}
    <div class="d-none d-lg-block bg-tan py-3">
      <div class="container">
        <nav class="navbar navbar-expand-lg justify-content-center">
          <div id="header-notification" class="text-center">
            {% if site.data.notifications.bar_notification.link %}
              <p class="mb-0 font-weight-bold"><a href="{{ site.data.notifications.bar_notification.link }}">{{ site.data.notifications.bar_notification.notification_text }}</a>
              </p>
            {% else %}
              <p class="mb-0 font-weight-bold">{{ site.data.notifications.bar_notification.notification_text }}</p>
            {% endif %}
          </div>
        </nav>
      </div>
    </div>
  {% endif %}
  {% include components/LocationBar.html %}
</header>
