<header id="pageHeader">
  <div class="bg-teal d-none d-lg-block">
    <div class="container">
      <nav id="usernav" class="navbar navbar-expand-lg">
        <a href="/wholesale-programs" class="text-uppercase font-weight-bold">Are you a wholesaler?</a>
        <div id="header-notification">
          <p class="mb-0 font-weight-bold">{{ site.data.notifications.header_notification }}</p>
        </div>
        <div id="secondarynav">
          <a href="{{ site.store_url }}/login" class="btn btn-primary">Login</a>
        </div>
      </nav>
    </div>
  </div>
  <div class="container">
    <nav id="mainnav" class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="/" title="{{ site.title }}">
        <img src="/img/logo-wordmark.svg" alt="{{ site.title }}">
      </a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#primarynav"
        aria-controls="primarynav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </span>
      </button>
      <div class="collapse navbar-collapse justify-content-md-end" id="primarynav">
        <ul class="nav navbar-nav mx-auto">
          <li class="nav-item"><a href="/how-it-works" class="nav-link">How it works</a></li>
          <li class="nav-item"><a href="/our-impact" class="nav-link">Our Impact</a></li>
          <li class="nav-item"><a href="/news" class="nav-link">4P News</a></li>
          <li class="nav-item d-lg-none"><a href="/wholesale-programs" class="nav-link">Wholesale Programs</a></li>
        </ul>
        <ul class="nav navbar-nav">
          <li class="nav-item mt-3 mt-lg-0">
            <a href="{{ site.store_url }}" class="btn btn-primary">Shop Now</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

