{% assign item = include.item %}
<section class="bg-mid">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          {% if item.label %}
            <h6 class="text-primary">{{ item.label }}</h6>
          {% endif %}
          {% if item.title_html %}
            {{ item.title_html }}
          {% endif %}
          {% if item.subtitle %}
            <p class="lead text-black-light">{{ item.subtitle }}</p>
          {% endif %}
        </div>
        {% if item.links.first.link %}
          <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center mt-5">
            {% for link in item.links %}
              <a href="{{ link.link}}" class="btn {% cycle 'btn-green-light','btn-blue-light'%} mx-3 mb-3 mb-lg-0">{{ link.label}}</a>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>