<meta property="og:title" content="{% if page.meta.title %}{{ page.meta.title }}{% else %}{{ page.title | default: site.title }}{% endif %}" />
<meta property="og:description" content="{{ page.meta.description | default: site.description }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ page.url | absolute_url }}" />
<meta property="og:image" content="{% if page.meta.image %}{{ page.meta.image }}{% else %}{{ page.featured_image | default: site.socialshare.twitter.image | absolute_url }}{% endif %}" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="{{ site.socialshare.twitter.handle }}" />
<meta name="twitter:creator" content="{{ site.socialshare.twitter.handle }}" />
<meta name="twitter:title" content="{% if page.meta.title %}{{ page.meta.title }}{% else %}{{ page.title | default: site.title }}{% endif %}" />
<meta name="twitter:description" content="{{ page.meta.description | default: site.description }}" />
<meta name="twitter:text:description" content="{{ page.meta.description | default: site.description }}" />
<meta name="twitter:image" content="{% if page.meta.image %}{{ page.meta.image }}{% else %}{{ page.featured_image | default: site.socialshare.twitter.image | absolute_url }}{% endif %}" />
<meta name="twitter:image:alt" content="{{ page.meta.title | default: site.title }}" />