{% assign item = include.item %}
<div class="image-grid split-vertical">
  <div class="top-row">
    <div class="bg-image aspect-4x3 rounded" style="background-image: url({{ item[0].image }})" title="{{ item[0].alt}}"></div>
  </div>
  <div class="bottom-row bottom-row-2-1">
    <div class="mr-3">
      <div class="bg-image aspect-1x1 rounded" style="background-image: url({{ item[1].image }})" title="{{ item[1].alt}}"></div>
    </div>
    <div>
      <div class="bg-image aspect-5x7 rounded" style="background-image: url({{ item[2].image }})" title="{{ item[2].alt}}"></div>
    </div>
  </div>
</div>