<div class="image-grid split-vertical">
  <div class="top-row">
    <div class="bg-image aspect-4x3 rounded" style="background-image: url(https://placehold.co/600x400)"></div>
  </div>
  <div class="bottom-row bottom-row-2-1">
    <div class="mr-3">
      <div class="bg-image aspect-1x1 rounded" style="background-image: url(https://placehold.co/600)"></div>
    </div>
    <div>
      <div class="bg-image aspect-5x7 rounded" style="background-image: url(https://placehold.co/768x400)"></div>
    </div>
  </div>
</div>