<div
  data-cms-editor-link-style="modal"
  class="row flex-wrap align-items-center justify-content-center cms-editor-link logo-pile">
  {% for logo in include.items %}
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 text-center">
      {% if logo.link %}<a href="{{logo.link}}" target="_blank">{% endif %}
        {% if logo.featured_image or logo.image %}
          <div class="px-3 px-md-4 py-4">
            <div class="bg-image aspect-{{ include.aspect | default: '1x1' }} bg-contain bg-transparent {% if include.grayscale %}grayscale{% endif %}" style="background-image: url({{ logo.image | default: logo.featured_image }})"></div>
          </div>
        {% else %}
          <div class="px-3 px-md-4 py-4">
            <h5 class="text-uppercase text-dark">{{ logo.label }}</h5>
          </div>  
        {% endif %}
      {% if logo.link %}</a>{% endif %}
    </div>
  {% endfor %}
</div>