{% assign slider = include.slider %}
{% if slider.show_section %}
  <div class="embla">
    <div class="embla__container">
      {% for item in slider.items %}
        {% if item.image%}
          <div class="embla__slide p-4">
            <div class="bg-image aspect-4x3 rounded" style="background-image: url({{ item.image | default: 'https://placehold.co/600x400?text=slide'}})"></div>
          </div>
        {% elsif item.title_black_text or item.title_green_text %}
          <div class="embla__slide p-4">
            <div class="d-flex h-100 align-items-between justify-content-center bg-mid p-4 rounded">
              <div class="d-flex flex-column justify-content-between">
                {% if item.title_black_text or item.title_green_text %}
                <p class="text-serif font-weight-bold lead leading-loose">{% if item.title_black_text %}{{ item.title_black_text }}{% endif %}{% if item.title_green_text %} <span class="text-primary">{{ item.title_green_text }}</span>{% endif %}</p>
                {% endif %}
                {% if item.subtitle%}
                  <p class="text-right text-green-dark">{{ item.subtitle }}</p>
                {% endif %}
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}