#timeline {
  .container {
    overflow: hidden;
  }
}
#filmTimeline {
  position: relative;
  width: 100%;
  padding-top: 35%;
  .filmStrip {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
  }
  .filmThumb {
    flex: 1;
    margin: 0 0.5rem;
    background-color: transparent;
    transform: scale(0.95);
    @include transition();
    cursor: pointer;
    &:hover {
      transform: scale(1);
    }
    @include media-breakpoint-down(sm) {
      .p3 {
        padding: 5px !important;
      }
      h5 {
        font-size: 16px;
      }
    }
  }
}
