featured-news,
try-us-cta,
featured-weekly-harvest,
wholesale-cta,
how-to-shop,
community-picks,
home-tabs,
testimonials-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: $red;
  color: $white;
  &:after {
    content: "React Component";
    display: block;
    color: $white;
  }
}
