featured-news,
featured-farms,
farm-map,
try-us-cta,
featured-weekly-harvest,
frequently-asked-questions,
wholesale-cta,
how-to-shop,
community-picks,
home-tabs,
testimonials-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: $red;
  color: $white;
  &:after {
    content: 'React Component';
    display: block;
    color: $white;
  }
}

auth-nav {
  background-color: $teal;
  display: flex;
  padding: 5px;
  &::after {
    content: 'Login';
    display: block;
    color: $white;
  }
}

featured-products {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: $gray-400;
  color: $white;
  margin-bottom: 20px;
  &:after {
    content: 'Featured Products';
    display: block;
    color: $white;
  }
}
