.btn {
  font-family: $headings-font-family;
  padding: .5rem 1.25rem;
  text-transform: uppercase;
  color: $white;
  border: 0;
  @include transition(.3s);
  &:hover {
    color: $white;
  }
  &.btn-outline-white {
    border: 1px solid $white;
  }
  &.btn-green-dark {
    background-color: $green-dark;
  }
  &.btn-white {
    background-color: $white;
    color: $gray-400;
  }
}