.card {
  border: 0;
  background-color: $beige;
  .card-body,
  .card-footer {
    border: 0;
  }
   h5 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 17px;
    color: $gray-600;
    margin-bottom: 5px;
  }

  h6 {
    font-family: $font-family-secondary;
    font-style: italic;
    color: $gray-600;
    margin-bottom: 20px;
  }
}