{% unless page.layout == 'homepage'%}
{% if page.footer_image %}
<div class="bg-image aspect-4x1" style="background-image: url({{ page.footer_image | prepend: site.url }})"></div>
{% elsif layout.footer_image %}
<div class="bg-image aspect-4x1" style="background-image: url({{ layout.footer_image | prepend: site.url }})"></div>
{% endif %}
<section id="tryUsToday" class="bg-primary bg-image aspect-none"
  style="background-image: url({{ '/img/bg-illustrations/4p-homepage-goodfood-01.jpg' | prepend: site.url }})">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <a href="#" class="btn btn-primary btn-block text-mega">Try Us Today&mdash;Completely Commitment Free</a>
      </div>
    </div>
  </div>
</section>
{% endunless %}