<div class="row">
  <div class="col-12">
    <div 
      data-cms-editor-link="cloudcannon:#featured_recipes"
      data-cms-editor-link-style="modal"
      class="responsive-card-deck cards-lg-2 cards-md-2 mt-4 cms-editor-link">
      {% for object in page.featured_recipes %}
      {% assign recipe = site.recipes | where: 'slug', object | first %}
      <div class="card bg-transparent">
        <div
          class="bg-image aspect-4x3"
          style="background-image: url({{ recipe.featured_image }})"
        ></div>
        <div class="card-body">
          <h4>{{ recipe.title }}</h4>
        </div>
        <div class="card-footer bg-transparent">
          <a href="{{ recipe.url }}" class="btn btn-secondary text-white">Read Recipe</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>