<div class="container">
  <ul id="how-it-works-tabs" class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" id="tab-office" data-toggle="tab" href="#office" role="tab" aria-controls="office" aria-selected="true">Your Office</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="tab-building" data-toggle="tab" href="#building" role="tab" aria-controls="building" aria-selected="false">Your Building</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="tab-home" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">Your Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="tab-business" data-toggle="tab" href="#business" role="tab" aria-controls="business" aria-selected="false">Your Business</a>
    </li>
  </ul>
</div>
<section class="bg-tan">
  <div class="container">
    <div class="tab-content">
      <div id="office" role="tabpanel" aria-labelledby="tab-office" class="tab-pane fade show active">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1">
            <div class="editable">
              <h4>Give your employees the gift of health&mdash; at no cost to you!</h4>
              <p>As a health and wellness perk, 4P can help you recruit new employees and keep your current staff healthy and happy. It&rsquo;s also an excellent addition to your sustainability initiatives, with environmental and social impacts that any company can be proud of.</p>
            </div>
            <a href="https://try4pfoods.com/in-your-office" class="btn btn-secondary text-white editable" target="_blank" rel="noopener">learn More</a>
          </div>
          <div class="col-lg-6 order-1 order-lg-2">
            <img src="/uploads/how-it-works/4p-howitworks-youroffice-03.jpg" class="img-fluid mb-3 editable" alt="" />
          </div>
        </div>
      </div>
      <div id="building" role="tabpanel" aria-labelledby="tab-building" class="tab-pane fade">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1">
            <div class="editable">
              <div>
                <h4>save tenants both time and money&mdash; at no cost to you!</h4>
                <p>Your residents will love having a local, sustainable grocery delivery option&mdash; not to mention the fact that delivery is always free at partner buildings! It&rsquo;s also an excellent addition to your sustainability initiatives, with environmental, wellness and social impacts that any company can be proud of.</p>
              </div>
              <p><a class="btn btn-secondary text-white" target="_blank" rel="noopener" href="https://try4pfoods.com/in-your-buildings">learn More</a></p>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2">
            <img src="/uploads/how-it-works/4p-howitworks-yourbuilding-01.jpg" class="img-fluid mb-3 editable" alt="" />
          </div>
        </div>
      </div>
      <div id="home" role="tabpanel" aria-labelledby="tab-home" class="tab-pane fade">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1">
            <div class="editable">
              <div>
                <h4>with 4P it's easy to keep good food on the table!</h4>
                <p>Save yourself a trip to the store and get the region&rsquo;s bounty delivered right to your door. Delivery is free on all orders over $50 (and let&rsquo;s be honest&mdash;how often do you spend less than $50 at the grocery store?).</p>
              </div>
              <p><a class="btn btn-secondary text-white" target="_blank" rel="noopener" href="https://try4pfoods.com/at-home">Find Out More</a></p>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2">
            <img src="/uploads/how-it-works/4p-howitworks-yourbuilding-01.jpg" class="img-fluid mb-3 editable" alt="" />
          </div>
        </div>
      </div>
      <div id="business" role="tabpanel" aria-labelledby="tab-business" class="tab-pane fade">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1">
            <div class="editable">
              <div>
                <h4>Give customers another reason to keep coming back!</h4>
                <p>Get your coffee shop, brewery, gym, or other business set up as a 4P pick-up site to give your customers another reason to stop by week after week. We'd love to <a href="mailto:community@4pfoods.com?subject=Becoming%20a%204P%20Foods%20Pick-up%20Site">talk about</a> driving some traffic your way, too!</p>
              </div>
              <p><a class="btn btn-secondary text-white" target="_blank" rel="noopener" href="/contact/">Get In Touch</a></p>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2">
            <img src="/uploads/how-it-works/4p-howitworks-yourbusiness-01.jpg" class="img-fluid mb-3 editable" alt="drop off image" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
