<div class="container">
  <ul id="how-it-works-tabs" class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" id="tab-office" data-toggle="tab" href="#office" role="tab" aria-controls="office" aria-selected="true">Your Office</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="tab-building" data-toggle="tab" href="#building" role="tab" aria-controls="building" aria-selected="false">Your Building</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="tab-home" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">Your Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="tab-business" data-toggle="tab" href="#business" role="tab" aria-controls="business" aria-selected="false">Your Business</a>
    </li>
  </ul>
</div>
<section class="bg-tan">
  <div class="container">
    <div class="tab-content">
      <div id="office" role="tabpanel" aria-labelledby="tab-office" class="tab-pane fade show active">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1">
            <div class="editable">
              <h3><strong>Treat your team to locally- sourced and crafted food.&nbsp;</strong></h3>
              <p>Add 4P Foods as a wellness perk to keep your team fueled with farm-fresh, nutrient-dense foods.</p>
              <p>Adding 4P Foods to your perks programs also helps honor corporate sustainability initiatives - helping to curb your food's footprint and climate impact.</p>
              <p>&nbsp;</p>
            </div>
            <a href="/how-to-shop/" class="btn btn-secondary text-white editable" target="_blank" rel="noopener">learn More</a>
          </div>
          <div class="col-lg-6 order-1 order-lg-2">
            <img class="img-fluid mb-3 editable" width="618" src="/uploads/office.png" />
          </div>
        </div>
      </div>
      <div id="building" role="tabpanel" aria-labelledby="tab-building" class="tab-pane fade">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1">
            <div class="editable">
              <div>
                <h3><strong>Offer weekly CSA deliveries as a building amenity.</strong></h3>
                <p>Provide your tenants and residents with a local, sustainable grocery delivery option. We deliver weekly to your building with locally-sourced, in-season fruits and vegetables and ethically raised proteins. as an amenity!</p>
                <p>4P Foods is also an excellent addition to your sustainability initiatives, with environmental and social impacts that any company can be proud of.</p>
              </div>
              <p><a class="btn btn-secondary text-white" target="_blank" rel="noopener" href="/how-to-shop/">learn More</a></p>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2">
            <img class="img-fluid mb-3 editable" width="618" src="/uploads/building.png" />
          </div>
        </div>
      </div>
      <div id="home" role="tabpanel" aria-labelledby="tab-home" class="tab-pane fade">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1">
            <div class="editable">
              <div>
                <h3><strong>Locally-sourced, nutrient dense food - good for you and the family.</strong></h3>
                <p>&nbsp;</p>
                <p>Think of us as your online farmers market.</p>
                <p>With a weekly delivery to neighborhoods in Washington, DC, Virginia, and Maryland - get in-season produce, ethically raised proteins and seafood, and locally crafted pantry items the whole family needs and loves.</p>
                <p>&nbsp;</p>
              </div>
              <p><a class="btn btn-secondary text-white" target="_blank" rel="noopener" href="https://try4pfoods.com/at-home">Find Out More</a></p>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2">
            <img class="img-fluid mb-3 editable" width="618" src="/uploads/family.png" />
          </div>
        </div>
      </div>
      <div id="business" role="tabpanel" aria-labelledby="tab-business" class="tab-pane fade">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1">
            <div class="editable">
              <div>
                <h3><strong>More people want to buy local and locally sourced.</strong></h3>
                <p>&nbsp;</p>
                <p>Give your customers another reason to walk through your doors as a contactless pick-up point for weekly groceries.</p>
                <p>4P Foods proudly partners with breweries, cafes, gyms and wellness centers throughout the areas we serve, offering waived delivery fee and sense of community.</p>
                <p><a href="mailto:community@4pfoods.com?subject=Becoming%20a%204P%20Foods%20Pick-up%20Site">Contact</a> our team to start driving some traffic your way too!</p>
              </div>
              <p><a class="btn btn-secondary text-white" target="_blank" rel="noopener" href="/contact/">Get In Touch</a></p>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2">
            <img class="img-fluid mb-3 editable" alt="drop off image" src="/uploads/business.png" width="618" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
