<div class="container">
  <ul id="what-why-who" class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" id="tab-what" data-toggle="tab" href="#what" role="tab" aria-controls="what" aria-selected="true">What do we do?</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="tab-why" data-toggle="tab" href="#why" role="tab" aria-controls="why" aria-selected="false">Why do we do it?</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="tab-who" data-toggle="tab" href="#who" role="tab" aria-controls="who" aria-selected="false">Who does it impact?</a>
    </li>
  </ul>
</div>
<section class="bg-tan">
  <div class="container">
    <div class="tab-content">
      <div id="what" role="tabpanel" aria-labelledby="tab-what" class="tab-pane fade show active">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1">
            <div class="editable">
              <h4>4P has a dual mission: to support small farmers by giving them access to new markets, while working to ensure that all people have access to Good Food produced by these farmers.</h4>
              <p>As a food hub, 4p Foods aggregates food from small family farms throughout the region and delivers it to consumers and businesses in DC, Maryland, and Virginia. We support:</p>
              <ul class="checklist">
                <li class="text-uppercase mb-3"><i class="ri-check-line text-primary"></i>local farmers</li>
                <li class="text-uppercase mb-3"><i class="ri-check-line text-primary"></i>the environment</li>
                <li class="text-uppercase mb-3"><i class="ri-check-line text-primary"></i>the economy</li>
                <li class="text-uppercase mb-3"><i class="ri-check-line text-primary"></i>the community</li>
                <li class="text-uppercase mb-3"><i class="ri-check-line text-primary"></i>you and your family</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2">
            <img src="/uploads/our-impact/4p-ourimpact-what-tab-01.jpg" class="img-fluid mb-3 editable" alt="Sign image" />
          </div>
        </div>
      </div>
      <div id="why" role="tabpanel" aria-labelledby="tab-why" class="tab-pane fade show">
        <div class="row">
          <div class="col-lg-4 order-2 order-lg-1">
            <div class="editable">
              <h4>We believe in a world where Good Food is the norm&mdash;not the exception.</h4>
              <p><em>1 in 4 dollars spent in the entire health care system is spent on treating diabetes &ndash; a disease that is 100% treatable with Good Food.</em></p>
              <p>To us, Good Food: provides nourishment and enables people to thrive, is equitably accessible to everyone in the region, is produced in a manner that is environmentally regenerative, comes from a supply chain in which every being is treated with respect and dignity, and improves health outcomes and economic security for all.</p>
            </div>
          </div>
          <div class="col-lg-8 order-1 order-lg-2">
            <img src="/uploads/our-impact/4p-ourimpact-why-tab.jpg" class="img-fluid mb-3 editable" alt="Peaches image" />
          </div>
        </div>
      </div>
      <div id="who" role="tabpanel" aria-labelledby="tab-who" class="tab-pane fade show">
        <div class="row">
          <div class="col-12">
            <div class="threesome">
              <div class="card">
                <div class="card-content">
                  <div class="card-header">
                    <img src="/uploads/our-impact/4p-ourimpact-who-tab-01.jpg" class="img-fluid editable" alt="" />
                  </div>
                  <div class="card-body">
                    <div class="editable">
                      <h4>Low Access Communities</h4>
                      <p>4P actively helps build a better food system that enables all people, regardless of income or ZIP code, to have equitable access to Good Food through strategic partnerships with community organizations.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-content">
                  <div class="card-header">
                    <img src="/uploads/our-impact/4p-ourimpact-who-tab-02.jpg" class="img-fluid editable" alt="" />
                  </div>
                  <div class="card-body">
                    <div class="editable">
                      <h4>Small Farmers &amp; Artisans</h4>
                      <p>4P supports the agricultural economy and empowers a network of over 200+ family farms to grow and thrive by connecting their fresh, high quality food to households, communities, and businesses throughout the region.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-content">
                  <div class="card-header">
                    <img src="/uploads/our-impact/4p-ourimpact-who-tab-03.jpg" class="img-fluid editable" alt="" />
                  </div>
                  <div class="card-body">
                    <div class="editable">
                      <h4>Our Environment</h4>
                      <p>4P partners with farmers who are committed to low-impact, sustainable and regenerative methods of production. Our direct supply chain, focus on local food, and reusable delivery bags means a lower food carbon footprint.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>