<div class="container">
  <ul id="what-why-who" class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" id="tab-what" data-toggle="tab" href="#what" role="tab" aria-controls="what" aria-selected="true">What do we do?</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="tab-why" data-toggle="tab" href="#why" role="tab" aria-controls="why" aria-selected="false">Why do we do it?</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="tab-who" data-toggle="tab" href="#who" role="tab" aria-controls="who" aria-selected="false">Who does it impact?</a>
    </li>
  </ul>
</div>
<section class="bg-tan">
  <div class="container">
    <div class="tab-content">
      <div id="what" role="tabpanel" aria-labelledby="tab-what" class="tab-pane fade show active">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1">
            <div class="editable">
              <h3><strong>4P Foods delivers food from small and mid-sized family farmers and artisans</strong></h3>
              <p>We help our local and regional farmers thrive by providing access to new markets, customers, and communities and work to ensure&nbsp; all people get equitable access to the food they need.</p>
              <p><a href="https://shop.4pfoods.com/summary.php?go=products">Shop for home delivery</a> or <a target="_blank" rel="noopener" href="https://4pfoods.com/wholesale/">contact us </a>about wholesale offerings.</p>
              <h5><strong>Every 4P Foods delivery supports a sustainable farm-to-table model that connects:</strong></h5>
              <ul class="checklist">
                <li class="text-uppercase mb-3"><i class="ri-check-line text-primary"></i>Local farmers</li>
                <li class="text-uppercase mb-3"><i class="ri-check-line text-primary"></i>the environment</li>
                <li class="text-uppercase mb-3"><i class="ri-check-line text-primary"></i>the economy</li>
                <li class="text-uppercase mb-3"><i class="ri-check-line text-primary"></i>the community</li>
                <li class="text-uppercase mb-3"><i class="ri-check-line text-primary"></i>you and your family</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2">
            <img class="img-fluid mb-3 editable" alt="Sign image" width="572" src="/uploads/4p-foods-featured-items-icons-3.png" srcset="/uploads/4p-foods-featured-items-icons-3.png [object Blob]w, /uploads/4p-foods-featured-items-icons-3.png 1144w" />
          </div>
        </div>
      </div>
      <div id="why" role="tabpanel" aria-labelledby="tab-why" class="tab-pane fade show">
        <div class="row">
          <div class="col-lg-4 order-2 order-lg-1">
            <div class="editable">
              <h4>We believe in a world where Good Food is the norm&mdash;not the exception.</h4>
              <p>&nbsp;</p>
              <p>At 4P Foods, Good Food is defined as food that:</p>
              <ol>
                <li>Provides nourishment and enables people and communities to thrive.</li>
                <li>Is equitably accessible to everyone in our region, regardless of income, race, or zip code.</li>
                <li>Is produced in a manner that is sustainable and regenerative for our environment.</li>
                <li>Comes from a supply chain in which every being is treated with respect and dignity.</li>
                <li>Improves health outcomes and economic security for all.</li>
              </ol>
            </div>
          </div>
          <div class="col-lg-8 order-1 order-lg-2">
            <img class="img-fluid mb-3 editable" alt="Peaches image" width="749" src="/uploads/4pfoods-web-images.png" />
          </div>
        </div>
      </div>
      <div id="who" role="tabpanel" aria-labelledby="tab-who" class="tab-pane fade show">
        <div class="row">
          <div class="col-12">
            <div class="threesome">
              <div class="card">
                <div class="card-content">
                  <div class="card-header">
                    <img src="/uploads/our-impact/4p-ourimpact-who-tab-01.jpg" class="img-fluid editable" alt="" />
                  </div>
                  <div class="card-body">
                    <div class="editable">
                      <h4>underserved Communities</h4>
                      <p>4P actively helps build a better food system that enables all people, regardless of income or ZIP code, to have equitable access to healthy foods through strategic partnerships with food access and community organizations.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-content">
                  <div class="card-header">
                    <img class="img-fluid editable" alt="" src="/uploads/4f7eb61405034d16053aa70ca3928e7c.jpg" width="350" />
                  </div>
                  <div class="card-body">
                    <div class="editable">
                      <h4>Small Farmers &amp; Artisans</h4>
                      <p>4P supports the agricultural economy and empowers a network of over 200+ family farms to grow and thrive by connecting their fresh, high quality food to households, communities, and businesses throughout the region.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-content">
                  <div class="card-header">
                    <img class="img-fluid editable" alt="" src="/uploads/2015-09-06-0007-1024x685.jpg" width="350" srcset="/uploads/2015-09-06-0007-1024x685.jpg 350w, /uploads/2015-09-06-0007-1024x685@2x.jpg 700w" />
                  </div>
                  <div class="card-body">
                    <div class="editable">
                      <h4>Our Environment</h4>
                      <p>4P partners with farmers who are committed to low-impact, sustainable and regenerative methods of food production. Our trusted supply chain, focus on local food, and reusable delivery bags means a lower food carbon footprint for your home or business.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
