<!-- Modal -->
<div class="modal fade show" id="modal-onboarding" tabindex="-1" aria-labelledby="modal-onboarding-label" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <button type="button" class="close shadow" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body p-0">
        <div id="carousel-onboarding" class="carousel slide d-none d-lg-block" data-ride="carousel" data-interval="false" data-wrap="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              {% include onboarding/slide-welcome.html %}
            </div>
            {% for slide in site.data.onboarding.slides %}
              <div class="carousel-item">
                {% include onboarding/slide.html %}
              </div>
            {% endfor %}
            <div class="carousel-item">
              {% include onboarding/slide-start-shopping.html %}
            </div>
          </div>
          <div class="carousel-controls controls-active">
            <a class="carousel-control-prev" href="#carousel-onboarding" role="button" data-slide="prev">
              <i class="ri-arrow-left-s-fill text-primary"></i>
              <span class="sr-only">Previous</span>
            </a>
            <span class="slide-number"></span>
            <a class="carousel-control-next" href="#carousel-onboarding" role="button" data-slide="next">
              <i class="ri-arrow-right-s-fill text-primary"></i>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="d-block d-lg-none">
          {% include onboarding/slide-welcome.html %}
          
          {% for slide in site.data.onboarding.slides %}
          <section>
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <h2 class="text-nocase">{{ slide.title }}</h2>
                  {{ slide.description_html }}
                  <video src="{{ slide.video_mobile_path }}" autoplay loop></video>
                </div>
              </div>
              {% for instruction in slide.instructions %} 
                <div class="row">
                  <div class="col-12">
                    <h3 class="h6 text-nocase font-weight-bold">{{ instruction.title }}</h3>
                    {{ instruction.description_html }}
                    <video src="{{ instruction.video_mobile_path }}" autoplay loop></video>
                  </div>
                </div>
              {% endfor %}
            </div>
          </section>
           
          {% endfor %}
          {% include onboarding/slide-start-shopping.html %}  
        </div>
      </div>
      <div class="footer-notification">
        <p class="mb-0"><small>Been here before? <span class="d-none d-lg-inline">Don't let us stand in your way, jump right in a start shopping.</span> 
          <em data-dismiss="modal">Click Here to close this window</em></small> 
        </p>
        <div class="form-group d-none d-lg-block form-check mb-0">
          <input type="checkbox" class="form-check-input mt-0" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1"><small>Please do not show me this again</small></label>
        </div>
      </div>
    </div>
  </div>
</div>