<!-- Modal -->
<div class="modal fade show" id="modal-onboarding" tabindex="-1" aria-labelledby="modal-onboarding-label" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <button type="button" class="close shadow" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body p-0">
        {% include onboarding/desktop-onboarding.html %}
        {% include onboarding/mobile-onboarding.html %}
      </div>
      <div class="footer-notification">
        <p class="mb-0"><small>Been here before? <span class="d-none d-lg-inline">Don't let us stand in your way, jump right in a start shopping.</span> 
          <a href="#" data-dismiss="modal" class="text-white"><em>Click Here to close this window</em></a></small> 
        </p>
        <div class="form-group form-check mb-0">
          <input type="checkbox" class="form-check-input" id="dismiss-onboarding">
          <label class="form-check-label" for="dismiss-onboarding"><small>Please do not show me this again</small></label>
        </div>
      </div>
    </div>
  </div>
</div>