<h3 class="bg-primary text-center text-white py-3 py-lg-5 px-3 mb-3 mb-lg-5">Welcome to our new shopping experience!</h3>
<div class="row">
  <div class="col-12">
    <div class="text-center">
      <h4 class="mb-0"><em>What has changed?</em></h4>
      <h3>Learn How to Shop</h3>
      <p>Let us show you around and share some of our exciting new features</p>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-12 col-md-3 col-lg-2">
    <div class="text-center">
      <div class="step-number">
        1
      </div>
      <p>Step Description</p>
    </div>
  </div>
  <div class="col-12 col-md-3 col-lg-2">
    <div class="text-center">
      <div class="step-number">
        2
      </div>
      <p>Step Description</p>
    </div>
  </div>
  <div class="col-12 col-md-3 col-lg-2">
    <div class="text-center">
      <div class="step-number">
        3
      </div>
      <p>Step Description</p>
    </div>
  </div>
</div>