<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-lg-auto">
        <div class="text-center">
          <h3>Managing Your Deliveries</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum nulla odio, expedita doloribus aperiam dolor libero culpa temporibus aliquid, perferendis molestias porro deleniti in velit? Dolore repellat corrupti asperiores ducimus!</p>
          <a href="#"><em>See Next Tip</em></a>
        </div>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-lg-4">
        <div class="bg-image aspect-2x1 bg-dark mb-3"></div>
      </div>
      <div class="col-lg-4">
        <div class="bg-image aspect-2x1 bg-dark mb-3"></div>
      </div>
      <div class="col-lg-4">
        <div class="bg-image aspect-2x1 bg-dark mb-3"></div>
      </div>
    </div>
  </div>
</section>
