
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-lg-auto">
        <div class="text-center">
          <h3>How to customize your order</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, deleniti dolore. Minima expedita nobis accusamus, placeat pariatur illum, earum, vel tempore corporis nihil dignissimos sint tempora facilis. Magni, autem non.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="bg-image aspect-2x1 bg-dark mb-3 mb-lg-0"></div>
      </div>
      <div class="col-lg-6">
        <div class="bg-image aspect-2x1 bg-dark"></div>
      </div>
    </div>
  </div>
</section>

