<div class="row">
  <div class="col-lg-6">
    <div class="content-wrapper">
      <div class="content text-lg-center">
        <h2>Learn More</h2>
        <p>Still have a few questions? Dive deeper in our How to Shop Guide and FAQs, or watch a full video tutorial.</p>
        <img src="https://via.placeholder.com/1200x600" class="img-fluid" alt="">
        <a href="#" class="btn btn-primary mt-5">How to Shop Guide</a>
      </div>
    </div>
  </div>
  <div class="col-lg-6 bg-primary text-white bg-cabbage-large">
    <div class="content-wrapper">
      <div class="content text-lg-center">
        <h1>Start Shopping</h1>
        <p>Now that you know the basics, click through to reset your password and enjoy our new shopping experience (or if you're brand new, create an account)</p>
        <a href="#" class="btn btn-white">Start Shopping</a>
      </div>
    </div>
  </div>
</div>