<div class="row">
  <div class="col-lg-6">
    <div class="content-wrapper">
      <div class="content">
        <span class="mb-0 text-primary h3">3.</span>
        <h2>Go Shopping for More</h2>
        <p>Add extras to your 4P Bags with our a la carte shopping feature. Find select a la carte goods within each product category. (For example: Hop over to Dairy &amp; Eggs). Just make sure you meet the $30 minimum order for delivery, and all orders over $50 get free delivery!</p>
        <div class="accordion mt-4" id="accordion-shopping">
          <div class="card">
            <div class="card-header" id="heading-shopping-1">
              <button
                class="btn btn-link btn-block text-left collapsed"
                type="button"
                data-toggle="collapse"
                data-target="#collapse-shopping-1"
                aria-expanded="true"
                aria-controls="collapse-shopping-1"
                data-image="https://via.placeholder.com/1200x1000?text=instruction5"
                >
                Try a Fully A La Carte Order <i class="ri-add-line"></i>
              </button>
            </div>
        
            <div id="collapse-shopping-1" class="collapse" aria-labelledby="heading-shopping-1" data-parent="#accordion-shopping">
              <div class="card-body px-0 pt-0">
                <p>You can build an order of exactly what you need from our a la carte selection of produce, pantry, and select protein and dairy products, no bag required. As long as you hit the $30 order minimum, you're good to go!</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading-shopping-2">
              <button
                class="btn btn-link btn-block text-left collapsed"
                type="button"
                data-toggle="collapse"
                data-target="#collapse-shopping-2"
                aria-expanded="false"
                aria-controls="collapse-shopping-2"
                data-image="https://via.placeholder.com/1200x1000?text=instruction6"
                >
                Shop Shenandoah Produce <i class="ri-add-line"></i>
              </button>
            </div>
            <div id="collapse-shopping-2" class="collapse" aria-labelledby="heading-shopping-2" data-parent="#accordion-shopping">
              <div class="card-body px-0 pt-0">
                <p>We are excited now to feature products from the Shenandoah Valley region in our Shenandoah Produce category. This hyper-locally focused product line brings you the best of this rich agricultural region's produce, meat, and dairy. Look for a la carte items in the header or for swap items with the SP icon.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 bg-primary text-white">
    <div class="content-wrapper">
      <div class="content text-lg-center">
        <img src="https://via.placeholder.com/1200x1000?text=default3" class="img-fluid instruction-image" alt="" data-default-image="https://via.placeholder.com/1200x1000?text=default3">
      </div>
    </div>
  </div>
</div>

