<div class="row">
  <div class="col-lg-6">
    <div class="content-wrapper">
      <div class="content">
        <h1 class="h2">Tour The New 4P Foods Shopping Experience</h1>
        <p>We promise it's worth your while! Click the arrows to see how it all works and then be on your way to your next delivery of Good Food!</p>
      </div>
    </div>
    
  </div>
  <div class="col-lg-6 bg-primary text-white bg-lettuce-2" style="background-image: url(/img/bg-illustrations/4p-background-lettuce-02.png)">
    <div class="content-wrapper">
      <div class="content text-lg-center">
        <a href="#carousel-onboarding" class="h1 d-flex align-items-center" data-slide="next">Get Started! <i class="ri-arrow-right-s-fill" ></i></a>
      </div>
    </div>
  </div>
</div>

