<div id="welcome" class="row">
  <div class="col-lg-6">
    <div class="content-wrapper">
      <div class="content">
        <h1 class="text-nocase d-none d-lg-block">{{ site.data.onboarding.welcome_page.title_desktop }}</h1>
        <h1 class="text-nocase d-block d-lg-none">{{ site.data.onboarding.welcome_page.title_mobile }}</h1>
        <div class="d-none d-lg-block">
          {{ site.data.onboarding.welcome_page.description_desktop_html }}
        </div>
        <div class="d-block d-lg-none">
          {{ site.data.onboarding.welcome_page.description_mobile_html }}
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 bg-primary text-white bg-lettuce-2" style="background-image: url(/img/bg-illustrations/4p-background-lettuce-02.png)">
    <div class="content-wrapper">
      <div class="content text-center">
        <a href="#carousel-onboarding" class="h1 d-lg-flex text-align-center align-items-center justify-content-center" data-slide="next">{{ site.data.onboarding.welcome_page.link_label }} <i class="ri-arrow-right-s-fill d-block d-lg-inline" ></i></a>
      </div>
    </div>
  </div>
</div>

