<div class="row">
  <div class="col-lg-6">
    <div class="content-wrapper">
      <div class="content text-lg-center">
        <h2>{{ site.data.onboarding.start_shopping_page.title }}</h2>
        {{ site.data.onboarding.start_shopping_page.description_html  }}
        <div class="responsive-iframe aspect-16x9">
          <iframe src="{{ site.data.onboarding.start_shopping_page.video_embed }}" frameborder="0"></iframe>
        </div>
        <div class="text-center">
          <a href="{{ site.data.onboarding.start_shopping_page.how_to_shop_guide_link }}" class="btn btn-primary mt-5">{{ site.data.onboarding.start_shopping_page.how_to_shop_guide_link_label }}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 bg-primary text-white bg-cabbage-large">
    <div class="content-wrapper">
      <div class="content text-lg-center">
        <h1 class="text-nocase mb-3">{{ site.data.onboarding.start_shopping_page.shopping_title }}</h1>
        {{ site.data.onboarding.start_shopping_page.shopping_description_html }}
        <a href="{{ site.store_url }}/login" class="btn btn-white text-primary text-nocase mt-4">{{ site.data.onboarding.start_shopping_page.shopping_link_label }}</a>
      </div>
    </div>
  </div>
</div>