<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-nocase">{{ site.data.onboarding.welcome_page.title_mobile }}</h1>
        {{ site.data.onboarding.welcome_page.description_mobile_html }}
      </div>
    </div>
  </div>
</section>
<section class="bg-primary text-white bg-lettuce-2" style="background-image: url(/img/bg-illustrations/4p-background-lettuce-02.png)">
  <div class="col-12">
    <div class="content text-center">
      <a href="#instructions" class="h1 text-nocase text-align-center align-items-center justify-content-center">{{ site.data.onboarding.welcome_page.link_label }} <i class="ri-arrow-down-s-fill d-block"></i></a>
    </div>
  </div>
</section>