---
layout: page
title: Careers
meta:
footer_image: '/img/uploads/careers/4P-footer-09.jpg'
_images:
  - /img/uploads/careers/4p-careers-headerimage-01.jpg
  - /img/uploads/careers/4p-careers-headerimage-02.jpg
  - /img/uploads/careers/4p-careers-headerimage-03.jpg

---

{% include careers/image-bar.html %}
<section class="pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-lg-auto text-center">
        <div class="editable">
          <h1 class="editable">Careers at 4P</h1>
          <h3 class="editable"><em>Supportive Sub-Headline Here</em></h3>
          <div class="editable">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    {% assign careers = site.careers | sort: 'posted_date' | reversed %}
    {% assign num_careers = careers | size %}
    {% if num_careers > 0 %}
      {% for career in careers %}
        <hr />
        <div class="row">
          <div class="col-12">
            <h4>{{ career.title }}</h4>
            <p><strong>{{ career.location }}</strong> <em>Job posted {{ career.posted_date | date: '%m/%d/%Y' }}</em></p>
            <p>{{ career.description }}</p>
            <a href="{{ career.url }}" class="btn btn-secondary">Learn More and Apply</a>
          </div>
        </div>
        <hr />
      {% endfor %}
    {% else %}
      <div class="row">
        <div class="col-12">
          <h1>No careers message here...</h1>
        </div>
      </div>
    {% endif %}
  </div>
</section>
{% include careers/volunteer.html %}