---
layout: page
title: How It Works
meta:
footer_image:
faqs:
  - question: >-
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.?
    answer_html: >-
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  - question: >-
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.?
    answer_html: >-
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  - question: >-
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.?
    answer_html: >-
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  - question: >-
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.?
    answer_html: >-
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
featured_products:
  - test-product-1
  - test-product-2
  - test-product-3
  - test-product-4
  - test-product-5
  - test-product-6
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 mx-auto text-center">
        <h1 class="editable">How It Works</h1>
        <h3 class="editable"><em>Get delicious, local, farm fresh food - delivered right to your door</em></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <a href="#how-to-shop" class="nav-link btn btn-secondary text-white my-2">How to Shop 4P</a>
      </div>
      <div class="col-lg-4">
        <a href="#delivery" class="nav-link btn btn-secondary text-white my-2">Delivered to You</a>
      </div>
      <div class="col-lg-4">
        <a href="#fresh-from-the-farm" class="nav-link btn btn-secondary text-white my-2">Fresh from the Farm</a>
      </div>
    </div>
    <div class="row justify-content-between text-center mt-5">
      <div class="col-12 col-md-4">
        <div class="m-3 arrow arrow-right-green">
          <img
            src="{{ '/img/icons/4p-icons-ourimpact-01.png' | prepend: site.url }}"
            alt="farm icon"
            class="img-fluid mx-4 w-50 mb-3"
          />
          <h4><em class="editable">Farmers grow and harvest sustainable, healthy food</em></h4>
          <p class="editable">
            We work with more than 200 farmers for the best quality and variety. And the more we grow, the more we give.
          </p>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="m-3 arrow arrow-right-green">
          <img
            src="{{ '/img/icons/4p-icons-howitworks-02.png' | prepend: site.url }}"
            alt="Orders Icon"
            class="img-fluid mx-4 w-50 mb-3"
          />
          <h4><em class="editable">Stroll through our online shop and customize your cart</em></h4>
          <p class="editable">
            Produce, dairy, or meat? Feeding a family of 6 or cooking for one? We have the food selection for you to
            make everyone happy.
          </p>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="m-3">
          <img
            src="{{ '/img/icons/4p-icons-howitworks-03.png' | prepend: site.url }}"
            alt="Dropoff Icon"
            class="img-fluid mx-4 w-50 mb-3"
          />
          <h4><em class="editable">Determine where you’d like your food dropped off</em></h4>
          <p class="editable">
            Save yourself the hassle of a trip to the store and set up delivery right to your door. Or pick one of our
            community delivery sites to save yourself the delivery fee.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="how-to-shop" class="bg-tan">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 mx-lg-auto text-center">
        <h2 class="editable">How to shop 4P Foods</h2>
        <h3 class="editable"><em>Get local, farm-fresh Good Food - delivered right to your door.</em></h3>
      </div>
    </div>
  </div>
</section>
<!-- <how-to-shop></how-to-shop> -->
{% include wholesale-cta.html %} {% include how-it-works/how-faq.html %}
<!-- <wholesale-cta></wholesale-cta> -->
<section id="delivery" class="position-relative">
  <img
    src="{{ '/img/bg-illustrations/4p-background-lettuce-01.png' | prepend: site.url }}"
    alt="lettuce illustration"
    style="position: absolute; top: -60%; width: 28%; left: 0%; transform: rotate(-65deg); pointer-events: none;"
  />
  <img
    src="{{ '/img/bg-illustrations/4p-background-radish-01.png' | prepend: site.url }}"
    alt="radish illustration"
    style="position: absolute; top: -40%; width: 28%; right: 5%; pointer-events: none;"
  />
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 col-xl-6 mx-lg-auto text-center">
        <h2 class="editable">Delivered to your home, office, or building</h2>
        <h3><em>Healthy, Good Food, Direct To You</em></h3>
      </div>
    </div>
  </div>
</section>
{% include how-it-works/how-tabs.html %}
<section id="fresh-from-the-farm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h2 class="editable">Fresh from the Farm</h2>
      </div>
      <div class="col-lg-4 text-lg-right">
        <a href="/our-farmers" class="btn btn-primary">Explore Farmers &amp; Producers</a>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-6">
        <div class="editable">
          <h4>Local Farmers</h4>
          <p>
            4P currently empowers more than 200 local family farms to put their high quality produce, meat, and dairy
            products on more tables every day.
          </p>
          <h4>Committed to our planet</h4>
          <p>
            4P Foods works with farmers who are committed to low-impact, sustainable methods of production. Plus, local
            food requires less travel, improving your carbon footprint.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <img
          src="{{ '/img/uploads/how-it-works/4p-howitworks-ourfarms-01.jpg' | prepend: site.url }}"
          class="img-fluid editable"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
{% include community-picks.html %}
