---
layout: homepage
title: Home
meta: []
_assets:
  asset1_image: 'https://via.placeholder.com/800x500'
  asset2_image: 'https://via.placeholder.com/800x500'
  asset3_image: 'https://via.placeholder.com/800x500'
products:
  - name: Test Product 1
    label: Label detail goes here...
    image:
    link:
  - name: Test Product 2
    label: Label details info here...
    image:
    link:
---

<section class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-9 mx-lg-auto text-center">
        <p class="text-mega text-white editable">We believe in a world where
          <a href="/our-impact" class="text-white text-underline">good food</a> is the rule &mdash; not the
          exception.</p>
      </div>
    </div>
  </div>
</section>

<section id="featured-collections" class="pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h2>Featured Collections + Goods</h2>
        <p class="mb-5">Year-round, 4p delivers health, seasonal food from local family farms&mdash;all grown and
          harvested in the most responsible, sustainable way possible.</p>
      </div>
      <div class="col-lg-4 text-right">
        <a href="#" class="btn btn-primary">Start Shopping</a>
      </div>
    </div>
  </div>
</section>
<section id="featured-store" class="pt-0">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="responsive-card-deck cards-lg-3 cards-md-2">
          <div class="card product-card">
            <div class="bg-image aspect-4x3"></div>
            <div class="card-body">
              <h5 class="card-title">Product title</h5>
              <h6>Producer Name</h6>
              <div class="d-flex align-items-center justify-content-between">
                <div class="product-amount">Amount / Oz</div>
                <div class="product-price">$55.55</div>
              </div>
            </div>
            <div class="card-footer d-flex align-items-center p-0">
              <button class="product-button w-50">
                Weekly<br />
                Delivery
              </button>
              <button class="product-button w-50">
                One-Time<br />
                Purchase
              </button>
            </div>
          </div>
          <div class="card product-card">
            <div class="bg-image aspect-4x3"></div>
            <div class="card-body">
              <h5 class="card-title">Product title</h5>
              <h6>Producer Name</h6>
              <div class="d-flex align-items-center justify-content-between">
                <div class="product-amount">Amount / Oz</div>
                <div class="product-price">$55.55</div>
              </div>
            </div>
            <div class="card-footer d-flex align-items-center p-0">
              <button class="product-button w-50">
                Weekly<br />
                Delivery
              </button>
              <button class="product-button w-50">
                One-Time<br />
                Purchase
              </button>
            </div>
          </div>
          <div class="card product-card">
            <div class="bg-image aspect-4x3"></div>
            <div class="card-body">
              <h5 class="card-title">Product title</h5>
              <h6>Producer Name</h6>
              <div class="d-flex align-items-center justify-content-between">
                <div class="product-amount">Amount / Oz</div>
                <div class="product-price">$55.55</div>
              </div>
            </div>
            <div class="card-footer d-flex align-items-center p-0">
              <button class="product-button w-50">
                Weekly<br />
                Delivery
              </button>
              <button class="product-button w-50">
                One-Time<br />
                Purchase
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="how-it-works">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2>How it works</h2>
        <h3><em>Building Equitable Food Communities</em></h3>
      </div>
    </div>
    <div class="row justify-content-between text-center">
      <div class="col-12 col-md-4">
        <div class="m-3 arrow arrow-right">
          <img src="/img/icons/orders.svg" alt="" class="img-fluid mx-4" />
          <h4><em>Farmers grow and harvest sustainable, healthy food</em></h4>
          <p>We work with more than 200 farmers for the best quality and variety. And the more we grow, the more we
            give.</p>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="m-3 arrow arrow-right">
          <img src="/img/icons/dropoff.svg" alt="" class="img-fluid mx-4" />
          <h4><em>Stroll through our online shop and customize your cart</em></h4>
          <p>Produce, dairy, or meat? Feeding a family of 6 or cooking for one? We have the food selection for you to
            make everyone happy.</p>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="m-3">
          <img src="/img/icons/food.svg" alt="" class="img-fluid mx-4" />
          <h4><em>Determine where you’d like your food dropped off</em></h4>
          <p>Save yourself the hassle of a trip to the store and set up delivery right to your door. Or pick one of our
            community delivery sites to save yourself the delivery fee.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <ul id="how-it-works-tabs" class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" id="tab-fresh" data-toggle="tab" href="#fresh" role="tab" aria-controls="fresh"
        aria-selected="true">Fresh from the farm</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="tab-shop" data-toggle="tab" href="#shopping" role="tab" aria-controls="shopping"
        aria-selected="false">Start Shopping</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="tab-delivered" data-toggle="tab" href="#delivered" role="tab" aria-controls="delivered"
        aria-selected="false">Delivered to you</a>
    </li>
  </ul>
</div>
<section class="bg-tan">
  <div class="container">
    <div class="tab-content">
      <div id="fresh" role="tabpanel" aria-labelledby="tab-what" class="tab-pane fade show active">
        <div class="row">
          <div class="col-lg-6">
            <div class="editable">
              <h4>Empowering Farmers</h4>
              <p>4P currently empowers more than 200 local family farms to put their high quality produce, meat, and dairy products on
              more tables every day.</p>
              <h4>Committed to our Planet</h4>
              <p>4P Foods works with farmers who are committed to low-impact, sustainable methods of production. Plus, local food
              requires less travel, improving your carbon footprint.</p>
            </div>
            <a href="#" class="btn btn-primary editable">Learn More</a>
          </div>
          <div class="col-lg-6">
            <img src="https://via.placeholder.com/768x768" class="img-fluid editable" alt="" />
          </div>
        </div>
      </div>
      <div id="shopping" role="tabpanel" aria-labelledby="tab-why" class="tab-pane fade show">
        <div class="row">
          <div class="col-lg-6">
            <div class="editable">
              <div class="editable">
                <h4>Recurring Program</h4>
                <p>You can stop stressing about making it to the grocery store or farmers’ market by signing up for a recurring delivery of
                any combination of produce, meat, or dairy at a cadence that works for you, whether weekly, biweekly, or whenever it
                fits in your schedule.</p>
                <h4>One-time purchases</h4>
                <p>Whether you want to try something new, need that one thing to round out your shopping list, or are looking for a unique
                gift for the food-lover in your life, our a la carte ordering allows you to get just what you need, just once.</p>
              </div>
              <p><a href="#" class="btn btn-primary editable">Start Shopping</a></p>
              <a href="/how-it-works">Or learn more about how it works</a>
            </div>
          </div>
          <div class="col-lg-6">
            <img src="https://via.placeholder.com/768x768" class="img-fluid editable" alt="" />
          </div>
        </div>
      </div>
      <div id="delivered" role="tabpanel" aria-labelledby="tab-who" class="tab-pane fade show">
        <div class="row">
          <div class="col-lg-6">
            <div class="editable">
              <div class="editable">
                <h4>Delivered to your home, office, or building</h4>
                <p>We want to make getting Good Food delivered easy and affordable, while also minimizing our impact on the planet. We
                waive the delivery fee for home orders over $60 and all orders to participating delivery sites. Don’t see your office or
                apartment building on our list of delivery sites? Reach out and let us know!</p>
                <h4>Skip or donate your delivery</h4>
                <p>Life happens, and you won’t always need your regular 4P order. You can skip delivery as often as you need to (as long as
                you do it before your skip deadline). And if you forget to skip your bag in time, or just want to pay it forward, you
                can always opt to donate your bag to one of our food access partners.</p>
              </div>
              <p><a href="#" class="btn btn-primary editable">Learn More</a></p>
            </div>
          </div>
          <div class="col-lg-6">
            <img src="https://via.placeholder.com/768x768" class="img-fluid editable" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-green">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="btn btn-outline-white btn-lg">Start Shopping 4P</div>
      </div>
    </div>
  </div>
</section>
<section id="testimonials" class="bg-primary text-white">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h4 class="text-white mb-4">Stories of Satisfied Customers</h4>
        <div id="carousel-testimonials" class="carousel slide" data-ride="carousel" data-interval="10000">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-lg-10 mx-lg-auto">
                  <blockquote class="quote">
                    <p>“I can’t say enough good things about 4P! My boyfriend and I have been subscribed to their produce bags
                      for over a year now, and we absolutely love it! Unlike most CSAs, 4P is extremely flexible. It allows
                      you to switch out things you don’t like and get more of the items you do. They also allow you to skip
                      weeks, which we often do during the winter when there are fewer options. At $35 per “small” bag (which
                      they recommend for 1-2 people), you definitely get your money’s worth in terms of quantity and quality.
                      Most of the items are organic, in addition to being locally grown. My boyfriend picks up the bag at his
                      office. I strongly recommend 4P for its convenience and commitment to sustainability!”</p>
                    <footer>Collin B. - <cite>Yelp Review</cite></footer>
                  </blockquote>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-lg-10 mx-lg-auto">
                  <blockquote class="quote">
                    <p>“I can’t say enough good things about 4P! My boyfriend and I have been subscribed to their produce bags
                      for over a year now, and we absolutely love it! Unlike most CSAs, 4P is extremely flexible. It allows
                      you to switch out things you don’t like and get more of the items you do. They also allow you to skip
                      weeks, which we often do during the winter when there are fewer options. At $35 per “small” bag (which
                      they recommend for 1-2 people), you definitely get your money’s worth in terms of quantity and quality.
                      Most of the items are organic, in addition to being locally grown. My boyfriend picks up the bag at his
                      office. I strongly recommend 4P for its convenience and commitment to sustainability!”</p>
                    <footer>Collin B. - <cite>Yelp Review</cite></footer>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carousel-testimonials" role="button" data-slide="prev">
            <i class="ri-arrow-left-s-line"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-tesimonials" role="button" data-slide="next">
            <i class="ri-arrow-right-s-line"></i>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="row no-gutters">
  <div class="col-4">
    <div class="p-1">
      <div class="bg-image aspect-4x3" style="background-image: url('{{ page._assets.asset1_image }}')"
        data-cms-editor-link="cloudcannon:#_assets.asset1_image"></div>
    </div>
  </div>
  <div class="col-4">
    <div class="p-1">
      <div class="bg-image aspect-4x3" style="background-image: url('{{ page._assets.asset2_image }}')"
        data-cms-editor-link="cloudcannon:#_assets.asset2_image"></div>
    </div>
  </div>  
  <div class="col-4">
    <div class="p-1">
      <div class="bg-image aspect-4x3" style="background-image: url('{{ page._assets.asset3_image }}')"
        data-cms-editor-link="cloudcannon:#_assets.asset3_image"></div>
    </div>
  </div>
</div>
<section id="FoodAccessIntro" class="bg-gray text-white">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 col-lg-11 mx-lg-auto text-center">
        <h2 class="editable">Food Access Programs</h2>
        <p class="lead editable"><em>4P fights to build a better food system that enables all people, regardless of
            income or
            ZIP code, to have access to good, healthy food.</em></p>
        <p>Food Access (or lack thereof) is a multi-pronged problem touching on the areas of geography, financial, and
          personal. 4P Foods, together with our partners, helps to deliver food along with solutions that mirror those
          challenges.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="threesome">
          <div class="card bg-transparent">
            <div class="card-content align-items-center">
              <div class="card-header p-0">
                <div class="content">
                  <img src="/img/icons/homepage-foodaccess-geographic.png" class="img-fluid editable" alt="" />
                </div>
              </div>
              <div class="card-body">
                <div class="content">
                  <h4 class="editable">Geographic</h4>
                  <p class="editable">The geographic access challenge is availability to resources for Good Food. For
                    examples, no grocery stores within a reasonable distance.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card bg-transparent">
            <div class="card-content align-items-center">
              <div class="card-header p-0">
                <div class="content">
                  <img src="/img/icons/homepage-foodaccess-financial.png" class="img-fluid editable" alt="" />
                </div>
              </div>
              <div class="card-body">
                <div class="content">
                  <h4 class="editable">Financial</h4>
                  <p class="editable">The financial access challenge of earning enough money for Good Food. Even if
                    there is a grocery
                    store, healthy fresh produce is often a luxury</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card bg-transparent">
            <div class="card-content align-items-center">
              <div class="card-header p-0">
                <div class="content">
                  <img src="/img/icons/homepage-foodaccess-personal.png" class="img-fluid editable" alt="" />
                </div>
              </div>
              <div class="card-body">
                <div class="content">
                  <h4 class="editable">Personal</h4>
                  <p class="editable">The personal access challenge is about lifestyle limitations. For example, someone
                    working multiple
                    jobs may not have the time, tools or knowledge to buy and prepare healthy food.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <a href="/food-access-programs" class="btn btn-primary">Find Out More</a>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 mx-lg-auto text-center">
        <h2 class="editable">Enrich Yourself</h2>
        <h3><em>News, Recipes, Tips, and Home-grown Hype</em></h3>
        <p>4P Foods sources farm-fresh food from farms in the Washington DC local foodshed and delivers them to your
          office or
          apartment building once each week.</p>
      </div>
    </div>
  </div>
</section>
{% include news/featured-weekly-harvest.html %}
{% include news/featured-news.html %}
<!-- <featured-weekly-harvest></featured-weekly-harvest>
<featured-news></featured-news> -->
<section id="bring-us-to-your-community" class="bg-primary text-white">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 mx-lg-auto text-center">
        <h2>Bring 4p to your community</h2>
        <h3><em>Supportive Sub-Headline Here</em></h3>
        <p>4p Foods sources farm-fresh food from farms in the Washington DC local foodshed and delivers them to your
          office or apartment building once each week.</p>
      </div>
    </div>
    <div class="foursome mt-5">
      <div class="card">
        <div class="card-content pin-footer">
          <div class="card-header">
            <div class="content">
              <img src="/img/icons/4p-homepage-youroffice.png" alt="" />
            </div>
          </div>
          <div class="card-body">
            <div class="content">
              <h4>Your Office</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione praesentium veritatis at error fuga
                magni labore cum iusto, natus obcaecati recusandae, fugiat voluptatibus reprehenderit laborum ex magnam
                molestiae? Sit, omnis!</p>
            </div>
          </div>
          <div class="card-footer">
            <p><a href="/" class="btn btn-green btn-block">Learn More</a></p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content pin-footer">
          <div class="card-header">
            <div class="content">
              <img src="/img/icons/4p-homepage-yourbuilding.png" alt="" />
            </div>
          </div>
          <div class="card-body">
            <div class="content">
              <h4>Your Building</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione praesentium veritatis at error fuga
                magni labore cum iusto, natus obcaecati recusandae, fugiat voluptatibus reprehenderit laborum ex magnam
                molestiae? Sit, omnis!</p>
            </div>
          </div>
          <div class="card-footer">
            <p><a href="/" class="btn btn-green btn-block">Learn More</a></p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content pin-footer">
          <div class="card-header">
            <div class="content">
              <img src="/img/icons/4p-homepage-yourcommunity.png" alt="" />
            </div>
          </div>
          <div class="card-body">
            <div class="content">
              <h4>Your Community</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione praesentium veritatis at error fuga
                magni labore cum iusto, natus obcaecati recusandae, fugiat voluptatibus reprehenderit laborum ex magnam
                molestiae? Sit, omnis!</p>
            </div>
          </div>
          <div class="card-footer">
            <p><a href="/" class="btn btn-green btn-block">Learn More</a></p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content pin-footer">
          <div class="card-header">
            <div class="content">
              <img src="/img/icons/4p-homepage-yourbusiness.png" alt="" />
            </div>
          </div>
          <div class="card-body">
            <div class="content">
              <h4>Your Business</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione praesentium veritatis at error fuga
                magni labore cum iusto, natus obcaecati recusandae, fugiat voluptatibus reprehenderit laborum ex magnam
                molestiae? Sit, omnis!</p>
            </div>
          </div>
          <div class="card-footer">
            <p><a href="/" class="btn btn-green btn-block">Learn More</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="bg-image aspect-4x1" style="background-image: url(https://via.placeholder.com/1800x600)"></div>
<section id="tryUsToday">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <a href="#" class="btn btn-primary btn-block btn-xl text-mega">Try Us Today&mdash;Completely Commitment Free</a>
      </div>
    </div>
  </div>
</section>
<section class="bg-tan-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="text-white">Community Picks</h2>
      </div>
      <div class="col-lg-6 text-lg-right">
        <a href="#" class="btn btn-white">Start Shopping</a>
      </div>
    </div>
    <div class="responsive-card-deck cards-lg-2">
      {% for product in page.products %}
        <div class="card">
          <div class="bg-image aspect-16x9" style="background-image: url({{ product.image | default: 'https://via.placeholder.com/800x500' }})"></div>
          <div class="card-footer">
            <div class="row">
              <div class="col-6">
                <h5>{{ product.name }}</h5>
                <p>{{ product.label }}</p>
              </div>
              <div class="col-6 text-right">
                <a href="{{ product.link }}" class="btn btn-white">See Item</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- <community-picks></community-picks> -->