---
layout: page
title: Our Farmers
meta:
farmers:
footer_image: https://via.placeholder.com/1800x600/000/222/?text=placeholder
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 mx-lg-auto text-center">
        <h2>Meet our farmers and producers</h2>
        <p class="lead">Get local, farm-fresh Good Food - delivered right to your door.</p>
        <p>Year round, 4p delivers healthy, sustainable, seasonal food from local family farms. This means you're getting
          the freshest produce, meat, and dairy products on any given day&mdash;all grown and harvested in the most
          responsible, sustainable way possible.</p>
      </div>
    </div>
  </div>
</section>
<farm-map></farm-map>
<section>
  <div class="container">
    {% include farmers/featured-farmer.html %}
    {% include farmers/farmers-list-all.html %}
  </div>
</section>

<!-- <featured-farms></featured-farms> -->
