<div class="row no-gutters">
  <div class="col-4">
    <div class="p-1">
      <div class="bg-image aspect-16x9" style="background-image: url('{{ page._image[0] }}')"
        data-cms-editor-link="cloudcannon:#_image[0]" data-cms-editor-link-style="modal"></div>
    </div>
  </div>
  <div class="col-4">
    <div class="p-1">
      <div class="bg-image aspect-16x9" style="background-image: url('{{ page._image[1] }}')"
        data-cms-editor-link="cloudcannon:#_image[1]" data-cms-editor-link-style="modal"></div>
    </div>
  </div>
  <div class="col-4">
    <div class="p-1">
      <div class="bg-image aspect-16x9" style="background-image: url('{{ page._image[2] }}')"
        data-cms-editor-link="cloudcannon:#_image[2]" data-cms-editor-link-style="modal"></div>
    </div>
  </div>
</div>