<div class="row no-gutters">
  <div class="col-4">
    <div class="p-1">
      <div class="bg-image aspect-16x9" style="background-image: url('{{ page._assets[0].image | prepend: site.url }}')"
        data-cms-editor-link="cloudcannon:#_assets[0].image" data-cms-editor-link-style="modal"></div>
    </div>
  </div>
  <div class="col-4">
    <div class="p-1">
      <div class="bg-image aspect-16x9" style="background-image: url('{{ page._assets[1].image | prepend: site.url }}')"
        data-cms-editor-link="cloudcannon:#_assets[1].image" data-cms-editor-link-style="modal"></div>
    </div>
  </div>
  <div class="col-4">
    <div class="p-1">
      <div class="bg-image aspect-16x9" style="background-image: url('{{ page._assets[2].image | prepend: site.url s}}')"
        data-cms-editor-link="cloudcannon:#_assets[2].image" data-cms-editor-link-style="modal"></div>
    </div>
  </div>
</div>