<div class="row no-gutters">
  <div class="col-4">
    <div class="p-1">
      <div class="bg-image aspect-16x9" style="background-image: url('{{ page._assets.asset1_image }}')"
        data-cms-editor-link="cloudcannon:#_assets.asset1_image" data-cms-editor-link-style="modal"></div>
    </div>
  </div>
  <div class="col-4">
    <div class="p-1">
      <div class="bg-image aspect-16x9" style="background-image: url('{{ page._assets.asset2_image }}')"
        data-cms-editor-link="cloudcannon:#_assets.asset2_image" data-cms-editor-link-style="modal"></div>
    </div>
  </div>
  <div class="col-4">
    <div class="p-1">
      <div class="bg-image aspect-16x9" style="background-image: url('{{ page._assets.asset3_image }}')"
        data-cms-editor-link="cloudcannon:#_assets.asset3_image" data-cms-editor-link-style="modal"></div>
    </div>
  </div>
</div>