<div class="threesome mt-5">
  {% assign posts = site.posts | sort: 'date' | reversed %} {% for post in site.posts offset: 1 limit: 3 %}
  <div class="card bg-transparent">
    <div class="card-content pin-footer">
      {% if post.featured_image %}
      <div class="card-header">
        <div class="content">
          <a
            href="{{ post.url }}"
            class="bg-image aspect-4x3"
            style="background-image: url({{ post.featured_image }})"
          ></a>
        </div>
      </div>
      {% else %}
      <div class="card-header">
        <div class="content">
          <a href="{{ post.url }}" class="bg-image aspect-4x3" style="background-image: url(/img/post-fallback.jpg)"></a>
        </div>
      </div>
      {% endif %}
      <div class="card-body">
        <div class="text-left">
          <h5><a href="{{ post.url }}" class="text-body">{{ post.title }}</a></h5>
          <p>{{ post.date | date: '%B %d, %Y'}}</p>
          <p>{{ post.content | strip_html | truncatewords: 30 }}</p>
        </div>
      </div>
      <div class="card-footer">
        <a href="{{ post.url }}" class="btn btn-secondary text-white">Read More</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
