<div class="threesome mt-5">
  {% for post in site.posts offset: 1 %}
  <div class="card bg-transparent mb-5">
    <div class="card-content pin-footer">
      <div class="card-header">
        <div class="content">
          <a href="{{ post.url }}"
            class="bg-image aspect-4x3"
            style="background-image: url({{ post.featured_image | default: site.fallback_logo }})"
          ></a>
        </div>
      </div>
      <div class="card-body">
        <div class="content text-left">
          <h5><a href="{{ post.url }}" class="text-body">{{ post.title }}</a></h5>
          <p>{{ post.date | date: '%B %d, %Y'}}</p>
          {% if post.excerpt %}
          <p>{{ post.excerpt | strip_html | truncatewords: 50 }}</p>
          {% else %}
          <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
          {% endif %}
        </div>
      </div>
      <div class="card-footer">
        <a href="{{ post.url }}" class="btn btn-secondary text-white">Read More</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
