---
layout: page
_assets:
  asset1_image: 'https://via.placeholder.com/800x500'
  asset2_image: 'https://via.placeholder.com/800x500'
  asset3_image: 'https://via.placeholder.com/800x500'
---
{% include careers/image-bar.html %}
<section class="pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-lg-auto text-center">
        <div class="editable">
          <h1 class="editable">Careers at 4P</h1>
          <h3 class="editable"><em>Supportive Sub-Headline Here</em></h3>
          <div class="editable">
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{page.title}}</h1>
        <p><strong>{{ page.location }}</strong> <em>Job posted {{ page.posted_date | date: '%m/%d/%Y' }}</em></p>
        {{ page.content }}
      </div>
    </div>
  </div>
</section>

{% include careers/volunteer.html %}