---
layout: default
---
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-lg-flex align-items-center">
          <h1>FAQ</h1>
          <div class="form-group ml-5">
            <label class="sr-only">Search</label>
          </div>
          <input id="faq-search" type="text" placeholder="Search" class="form-control" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card-columns">
          {% for faq in page.faqs %}
          <div class="card">
            <p class="text-uppercase">Question</p>
            <p>{{faq.question}}</p>
            <p class="text-uppercase">Answer</p>
            {{ faq.answer_html }}
            <hr />
          </div>
          {% endfor %}
        </div>
      </div>
      
    </div>
  </div>
</section>
