---
layout: default
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1>{{ page.title }}</h1>
        <p>{{ page.location}}</p>
        <img src="{{ page.featured_image | prepend: site.url }}" class="img-fluid" alt="{{ page.title }} image" />
      </div>
    </div>
  </div>
</section>
<featured-products vendor_id="{{ page.vendor_id }}"></featured-products>
<!-- <section id="featured-store" class="pt-0">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="responsive-card-deck cards-lg-3 cards-md-2">
          <div class="card product-card">
            <div class="bg-image aspect-4x3"></div>
            <div class="card-body">
              <h5 class="card-title">Product title</h5>
              <h6>Producer Name</h6>
              <div class="d-flex align-items-center justify-content-between">
                <div class="product-amount">Amount / Oz</div>
                <div class="product-price">$55.55</div>
              </div>
            </div>
            <div class="card-footer d-flex align-items-center p-0">
              <button class="product-button w-50">
                Weekly<br />
                Delivery
              </button>
              <button class="product-button w-50">
                One-Time<br />
                Purchase
              </button>
            </div>
          </div>
          <div class="card product-card">
            <div class="bg-image aspect-4x3"></div>
            <div class="card-body">
              <h5 class="card-title">Product title</h5>
              <h6>Producer Name</h6>
              <div class="d-flex align-items-center justify-content-between">
                <div class="product-amount">Amount / Oz</div>
                <div class="product-price">$55.55</div>
              </div>
            </div>
            <div class="card-footer d-flex align-items-center p-0">
              <button class="product-button w-50">
                Weekly<br />
                Delivery
              </button>
              <button class="product-button w-50">
                One-Time<br />
                Purchase
              </button>
            </div>
          </div>
          <div class="card product-card">
            <div class="bg-image aspect-4x3"></div>
            <div class="card-body">
              <h5 class="card-title">Product title</h5>
              <h6>Producer Name</h6>
              <div class="d-flex align-items-center justify-content-between">
                <div class="product-amount">Amount / Oz</div>
                <div class="product-price">$55.55</div>
              </div>
            </div>
            <div class="card-footer d-flex align-items-center p-0">
              <button class="product-button w-50">
                Weekly<br />
                Delivery
              </button>
              <button class="product-button w-50">
                One-Time<br />
                Purchase
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<section class="py-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{ page.content }}
      </div>
    </div>
    {% assign categories_size = page.categories | size %} {% if categories_size > 0 %}
    <div class="row">
      <div class="col-12">
        <h4>Farm Categories</h4>
        <p>
          {% for category in page.categories %} {{category}}{% unless forloop.last %},{% endunless %} {% endfor %}
        </p>
      </div>
    </div>
    {% endif %} {% assign links_size = page.links | size %} {% if links_size > 0 %}
    <div class="row">
      <div class="col-12">
        {% for link in page.links %}
        <a href="{{ link.url }}" class="btn btn-primary" target="_blank" rel="noopener">{{ link.label }}</a>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
</section>
<section>
  <div class="container">
    <div class="row no-gutters">
      {% assign images = page.assets | where: '_type', 'image' %} {% assign videos = page.assets | where: '_type',
      'video' %} {% for image in images %}
      <div class="col-lg-4">
        <div class="p-1">
          <div class="bg-image aspect-4x3" style="background-image: url({{ image.image }})"></div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% for video in videos %}
    <div class="row no-gutters">
      <div class="col-12">
        <div class="responsive-iframe aspect-16x9 mb-3">
          <iframe src="{{ video.embed_url }}"></iframe>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
<!-- add logic to show related farmers-->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h2 class="editable">Related Farmers & Producers</h2>
      </div>
      <div class="col-lg-4 text-lg-right">
        <a href="/our-farmers" class="btn btn-primary">Back to our farmers</a>
      </div>
    </div>
    {% include farmers/farmers-list-related.html %}
  </div>
</section>
