---
layout: default
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1>{{ page.title }}</h1>
        <p>{{ page.location}}</p>
        <img src="{{ page.featured_image }}" class="img-fluid" alt="{{ page.title }} image">
      </div>
    </div>
  </div>
</section>
<section id="featured-store" class="pt-0">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="responsive-card-deck cards-lg-3 cards-md-2">
          <div class="card product-card">
            <div class="bg-image aspect-4x3"></div>
            <div class="card-body">
              <h5 class="card-title">Product title</h5>
              <h6>Producer Name</h6>
              <div class="d-flex align-items-center justify-content-between">
                <div class="product-amount">Amount / Oz</div>
                <div class="product-price">$55.55</div>
              </div>
            </div>
            <div class="card-footer d-flex align-items-center p-0">
              <button class="product-button w-50">
                Weekly<br />
                Delivery
              </button>
              <button class="product-button w-50">
                One-Time<br />
                Purchase
              </button>
            </div>
          </div>
          <div class="card product-card">
            <div class="bg-image aspect-4x3"></div>
            <div class="card-body">
              <h5 class="card-title">Product title</h5>
              <h6>Producer Name</h6>
              <div class="d-flex align-items-center justify-content-between">
                <div class="product-amount">Amount / Oz</div>
                <div class="product-price">$55.55</div>
              </div>
            </div>
            <div class="card-footer d-flex align-items-center p-0">
              <button class="product-button w-50">
                Weekly<br />
                Delivery
              </button>
              <button class="product-button w-50">
                One-Time<br />
                Purchase
              </button>
            </div>
          </div>
          <div class="card product-card">
            <div class="bg-image aspect-4x3"></div>
            <div class="card-body">
              <h5 class="card-title">Product title</h5>
              <h6>Producer Name</h6>
              <div class="d-flex align-items-center justify-content-between">
                <div class="product-amount">Amount / Oz</div>
                <div class="product-price">$55.55</div>
              </div>
            </div>
            <div class="card-footer d-flex align-items-center p-0">
              <button class="product-button w-50">
                Weekly<br />
                Delivery
              </button>
              <button class="product-button w-50">
                One-Time<br />
                Purchase
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{ page.content }}
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row no-gutters">
      {% for image in page.images %}
        <div class="col-lg-4">
          <div class="p-1">
            <div class="bg-image aspect-4x3" style="background-image: url({{ image.image }})"></div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>