---
layout: default
---

<section className="bg-image aspect-2x1"
  style="background-image: https://via.placeholder.com/1800x900"></section>
<section>
  <div className="container">
    <div className="row mb-5">
      <div className="col-12">
        <h2 className="underline-heading">Films</h2>
        <h3>{{ page.title }}</h3>
        {{ page.description_html }}
        <div className="d-flex align-items-center mt-5">
          <h6>Release Date</h6>
          <p>{{ page.release_date}}</p>
        </div>
      </div>
    </div>
    <div className="row">
      <div className="col-lg-6">
        <p className="text-uppercase text-light"><small>Fun Facts</small></p>
        <ul className="internal-pagenav">
          <li><button>Water is wet</button></li>
          <li><button>Starry Skies</button></li>
          <li><button>Dumb and Dumber</button></li>
        </ul>
      </div>
      <div className="col-lg-6">
        <div className="bg-image aspect-4x3"
          style="background-image: url(https://via.placeholder.com/1000x600)"></div>
      </div>
    </div>
  </div>
</section>