---
layout: page
---

{{ content }}

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="responsive-card-deck cards-lg-2 cards-md-2">
          {% for farm in page.farms %}
          <div class="card bg-transparent">
            <div class="bg-image aspect-4x3" style="background-image: url({{ farm.image }})"></div>
            <div class="card-body">
              <h4>{{ farm.name }}</h4>
              <p>{{ farm.description }}</p>
            </div>
            <div class="card-footer bg-transparent">
              <a href="{{ farm.link }}" class="btn btn-secondary">Shop this weeks items</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>