---
layout: page
---
{{ content }}
<section class="pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="responsive-card-deck cards-lg-3 cards-md-2 mt-5">
          {% for partner in page.partners %}
          <div class="card bg-transparent mb-3 mb-lg-5">
            <div class="bg-image aspect-4x3" style="background-image: url({{ partner.image }})"></div>
            <div class="card-body">
              <h5>{{ partner.name }}</h5>
              <p>{{ partner.description }}</p>
            </div>
            <div class="card-footer bg-transparent">
              <a href="{{ partner.link }}" class="btn btn-secondary" target="_blank" rel="noopener">Learn More</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>