---
layout: default
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        {% if page.featured_image %}
          <img src="{{ page.featured_image | prepend: site.url }}" class="img-fluid mb-5" alt="{{ page.title }} image">
        {% endif %}
        <h1>{{ page.title }}</h1>
        <p>{{ page.date | date: '%B %d, %Y'}}</p>
        {{ page.content }}
      </div>
    </div>
  </div>
</section>
<section class="pt-0">
  <div class="container">
    <div class="row">
      {% assign images = page.assets | where: '_type', 'image' %}
      {% assign videos = page.assets | where: '_type', 'video' %}
      {% for image in images %}
      <div class="col-lg-4">
        <div class="bg-image aspect-4x3" style="background-image: url({{ image.image | prepend: site.url }})"></div>
      </div>
      {% endfor %}
      </div>
      {% for video in videos %}
      <div class="row mt-5">
        <div class="col-12">
          <div class="responsive-iframe aspect-16x9 mb-3">
            <iframe src="{{ video.embed_url }}"></iframe>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</section>
<section>
  <div class="container">
    <hr class="mb-5">
    <div class="row">
      <div class="col-lg-8">
        <h2 class="editable">Related Posts</h2>
      </div>
      <div class="col-lg-4 text-right">
        <a href="/news" class="btn btn-primary">Back to 4P News</a>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% include news/related-posts.html %}
      </div>
    </div>
  </div>
</section>