---
layout: page
title: Team
meta:
footer_image: https://via.placeholder.com/1800x600/000/222/?text=placeholder
---
{{ content }}
<section class="pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="responsive-card-deck cards-lg-3 cards-md-2">
          {% for team in site.team_members %}
          <div class="card bg-transparent">
            <a href="{{ team.url }}" class="bg-image aspect-1x1" style="background-image: url({{ team.image }})"></a>
            <div class="card-body">
              <h4 class="mb-0">{{ team.title }}</h4>
              <h5 class="font-weight-light">{{ team.role }}</h5>
              <p>Favorite Veggie:<br/>
                {{ team.favorite_veggie }}
              </p>
            </div>
            <div class="card-footer bg-transparent">
              <a href="{{ team.url }}" class="btn btn-secondary">Read More</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-notice text-white">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 mx-lg-auto text-center">
        <div class="editable">
          <h2>Work with us</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis
            aute irure dolor in reprehenderit</p>
        </div>
        <a href="/contact" class="btn btn-secondary">Contact Us</a>
      </div>
    </div>
  </div>
</section>