<div class="responsive-card-deck cards-lg-3">
  {% for object in page.featured_products %}
    {% assign product = site.featured_products | where: 'slug', object | first  %}
    <div class="card product-card">
      <a href="{{ product.link }}" class="bg-image aspect-4x3"
        style="background-image: url({{ product.image }})"></a>
      <div class="card-header">
        <h5 class="card-title">{{ product.name }}</h5>
        {% if product.vendor_name %}
        <h6 class="mb-0">{{ product.vendor_name }}</h6>
        {% endif %}
      </div>
      <a href="{{ product.link }}" class="card-body">
        <div class="d-flex align-items-center justify-content-between w-100">
          <div class="product-amount">
            {% if product.size %}
              {{ product.size }}
            {% endif %}
            {% if product.label %}
              {{ product.label }}
            {% endif %}
          </div>
          <div class="product-price">{{ product.price }}</div>
        </div>
      </a>
      <div class="card-footer d-flex align-items-center">
        <button class="btn btn-primary">Shop Now</button>
      </div>
    </div>
  {% endfor %}
</div>