#StoreNav {
  .nav-item {
    display: inline-block;
    a {
      display: inline-block;
      padding: 0.5rem 1rem;
      color: $gray-500;
      text-transform: uppercase;
      font-weight: 200;
      &:hover {
        color: $primary;
        text-decoration: none;
      }
    }
    &:first-child {
      a {
        padding-left: 0;
      }
    }
  }
  .nav-link {
  }
}
