<section id="volunteer" class="bg-gray text-white m-lg-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 mx-lg-auto text-center">
        <div class="editable">
          <h2>Building a regenerative and resilient food system</h2>
          <p>4P Foods is a leading social enterprise dedicated to creating regenerative and equitable food systems by connecting local farmers, food producers, and communities. We are committed to promoting soil health, biodiversity, and climate resilience through regenerative agricultural practices. Launched in 2014 as a Public Benefit Corporation, 4P Foods is actively rebuilding the “missing middle” required to scale regional and regenerative food systems.</p>
        </div>
        <a href="/contact" class="btn btn-secondary text-white editable">
          Contact Us
        </a>
      </div>
    </div>
  </div>
</section>
