<div class="row">
  <div class="col-12">
    <div class="bg-image aspect-16x9" style="background-image: url(https://via.placeholder.com/1800x1000)"></div>
    <div class="bg-tan p-4">
      <div class="row">
        <div class="col-lg-6">
          <h4>Farm Name</h4>
          <p><span class="text-uppercase">Lorem ipsum dolor sit</span>, amet consectetur adipisicing elit. Nemo,
            veritatis officia doloremque ullam similique quasi magnam. Ad suscipit eligendi nulla pariatur. Fugit
            quaerat ullam quidem sequi deserunt. Suscipit, ipsam. Saepe.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <a href="#" class="btn btn-primary">Shop this weeks items</a>
        </div>
      </div>
    </div>
  </div>
</div>

