---
layout: page
title: About 4P Foods | Local CSA | Grocery Delivery | Regenerative Agriculture
meta:
  title: About 4P Foods | Rebuilding a Regenerative and Equitable Food System
  description: >-
    4P Foods' mission is to build a regenerative and equitable alternative to
    the industrial food system. 4P delivers seasonal, source-identified Good
    Food to customers in DC, Maryland, and Virginia.
  image:
_assets:
  - image:
assets:
  - _type: image
    title: 4P Foods Founder Tom McDougall
    image: /uploads/4pfoods-bio-photos.png
  - _type: image
    title: 4P Foods Weekly Grocery Delivery
    image: /uploads/4p-foods-featured-items-icons.png
---
<section class="pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="bg-image aspect-2x1 cms-editor-link" style="background-image: url('{{ page._assets[0].image }}')" data-cms-editor-link="cloudcannon:#_assets[0].image" data-cms-editor-link-style="modal">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 mx-lg-auto text-center">
        <div class="editable">
          <h1><strong>Real People Working With Real Food</strong></h1>
          <h2><code>We're on a mission to rebuild a regenerative and equitable food system.</code></h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="editable">
          <h3><strong>The 4P Foods Story</strong></h3>
        </div> 
        <div class="editable">
          <p>At 4P Foods, we are real people, working with real food.&nbsp;</p>
          <p>We <em>love</em> to be in the dirt, connect with farmers and eaters, and get nutritious food to people who need it most.</p>
          <p>Nothing is complicated about what we do and we want to keep it that way.&nbsp;</p>
          <p>Above all: we LOVE the work we do and the impact we make in our communities.&nbsp;</p>
          <p>Tom McDougall&rsquo;s idea to create a better food system for all took root in 2014. After witnessing the damages of the existing industrial food system, he set out to create a regenerative, equitable, and accessible option to the industrial food system.</p>
          <p>Tom&rsquo;s first step focused on moving the existing CSA (community-supported agriculture) model into eCommerce and food delivery. In those early days, 4P Foods entire deliver fleet consisted of a lone Tom McDougall, duking it out on the DC metro, shuffling bags of farm-fresh local produce to 4P Foods&rsquo; first customers.</p>
          <h1><strong>4P Foods has three main areas of business.</strong></h1>
          <p>&nbsp;</p>
          <h4>1. Delivering Weekly Groceries Direct From Farmers</h4>
          <p>Our grocery delivery business has grown, with weekly groceries direct from farmers to thousands reading thousands of people in Washington, D.C., Maryland, and Virginia.&nbsp;</p>
          <h4>2. Providing Locally Farmed, Regenerative Food to Businesses</h4>
          <p>We deliver wholesale produce to retail, restaurants, groceries, markets, and businesses that provide transparent, local, and regenerative food options to their customers. Our existing wholesale distribution reaches Virginia, Maryland, Washington, D.C., and North Carolina.&nbsp;</p>
          <h4>3. Institutional Partnerships to Get More Local Food to School Systems</h4>
          <p>Enriching school and institutional food options with local farm partnerships.</p>
        </div>
        <div class="editable">
          <h3 class="mt-5"><strong>Our Milestones</strong></h3>
        </div>
        <div class="editable">
          <ul>
            <li>With our long-time food access partners, the Washington Nationals Philanthropies/<a target="_blank" rel="noopener" href="https://nats4good.org/youth-baseball-academy/">Youth Baseball Academy</a> and the <a target="_blank" rel="noopener" href="https://www.ymcadc.org/virtual-kitchen/">YMCA of Metropolitan Washington</a>, distributed over 3,000 subsidized 4P Produce Bags at a year-round market. (turned contactless pickup location during the COVID pandemic) in DC&rsquo;s Ward 7 since April 2018.</li>
            <li>Deepened impact on equitable food access in DC's Ward 7 and 8 through the Bainum Family Foundation's&nbsp;<a target="_blank" rel="noopener" href="/posts/partnership-with-bainum-family-foundation/">Food Security Initiative</a>&nbsp;(2018).</li>
            <li>In 2018, 4P Foods became an operational partner for Local Food Hub's Fresh Farmacy Program, which grew 3x in 2020 to meet the growing need during the pandemic.</li>
            <li>Expanded into <a target="_blank" rel="noopener" href="https://4pfoods.com/wholesale">wholesale distribution</a>, enabling us to connect more farmers to larger markets, when 4P Foods acquired the wholesale operations and Charlottesville warehouse of Local Food Hub in May 2019.&nbsp;</li>
            <li>Co-led the founding of the first-ever food hub trade agreement, the <a target="_blank" rel="noopener" href="https://www.easternfoodhubcollaborative.org/">Eastern Food Hub Collaborative</a>&nbsp;in February 2020, which now has 15+ partner hubs up and down the Eastern Seaboard.</li>
            <li>Moved into a new warehouse facility in Vint Hill, VA in March 2020 thanks in part to the support of the <a target="_blank" rel="noopener" href="/posts/partnership-with-the-path-foundation/">PATH Foundation</a>.</li>
            <li>Founded the <a target="_blank" rel="noopener" href="/posts/mid-atlantic-food-resilience-and-access-coalition-mafrac/">Mid-Atlantic Food Resilience and Access Coalition</a> (MAFRAC) in March 2020 with the goal of supporting local farms, nonprofits, and food businesses working hard to feed communities during the pandemic and beyond.</li>
            <li><a target="_blank" rel="noopener" href="https://4pfoods.com/posts/2020-year-in-review/">Distributed over 10,000 meals</a> for community members in need in partnership with Community Cooks from April to July 2020.</li>
          </ul>
          <p>&nbsp;</p>
          <h3><strong>4P Foods is proud to be part of the following coalitions for actors in the Good Food Movement:</strong></h3>
          <ul>
            <li><a target="_blank" rel="noopener" href="https://www.easternfoodhubcollaborative.org/">Eastern Food Hub Collaborative</a></li>
            <li><a target="_blank" rel="noopener" href="https://mafrac.com/">Mid-Atlantic Food Resilience and Access Coalition</a></li>
            <li>DC chapter of the <a target="_blank" rel="noopener" href="https://goodfoodpurchasing.org/program-overview/">Good Food Purchasing Program</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="row no-gutters">
          {% assign images = page.assets | where: '_type', 'image' %} 
          {% assign videos = page.assets | where: '_type', 'video' %} 
          {% for image in images %}
          <div class="col-12">
            <div class="p-1 mb-3">
              <div class="bg-image aspect-1x1" style="background-image: url({{ image.image }})"></div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% for video in videos %}
        <div class="row no-gutters">
          <div class="col-12">
            <div class="responsive-iframe aspect-16x9 mb-3">
              <iframe src="{{ video.embed_url }}"></iframe>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<section class="bg-tan">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="editable">
          <h3 class="mb-3"><strong>We Stand 4Ps &amp; Love</strong></h3>
        </div>
        <div class="editable">
          <p><img width="1200" height="1200" src="/uploads/4p-foods-featured-items-icons-2.png" /></p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="editable">
          <h3 class="mb-3"><strong>The 4P Foods Promise</strong></h3>
        </div>
        <div class="editable">
          <p>&nbsp;</p>
          <p>Each day, our work at 4P Foods gets us closer to the kind of food system farmers thrive in, soil is regeneratively cared for, animals are treated humanely, and all communities have equitable access to healthy food.&nbsp;</p>
          <p><br />We promise to only work with farmers who ethically steward land, food, animals, and communities. We encourage our local and small farmers to gain GAP and organic certifications and use regenerative methods whenever possible. We pay farmers fair prices, support equitable sourcing, and fair labor practices. We prioritize our local farmers and the Mid-Atlantic region and strive to provide full-transparency to help you make informed decisions about the food you buy and eat.</p>
          <p>We mindfully manage our natural resources and use eco-friendly insulated tote bags to curb our food&rsquo;s carbon footprint.&nbsp;</p>
          <p><strong>Meet the farmers and artisans behind your food in our growing collection of <a target="_blank" rel="noopener" href="/farmers/">Farmer &amp; Artisan Profiles</a>.</strong></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center editable">
          <h1><strong>Our Values</strong></h1>
          <h4><em>At 4P Foods, we work within a better-for-all values system. We seek to ensure that every, single human involved in our business leaves the literal table with better food, better revenue, better soil, and better wages. </em></h4>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-4">
        <img class="img-fluid editable" alt="4P Foods logo" width="4168" src="/uploads/4p-foods-featured-items-icons-1.png" />
      </div>
      <div class="col-lg-8">
        <div class="editable">
          <p>&nbsp;</p>
          <p><strong>We operate with purpose. </strong><strong></strong>Every person deserves access to nutrient-dense food and every farmer deserves to earn a sustainable living. We match farmers to people, businesses, and institutions who want direct access to locally harvested food.</p>
          <p><strong>We take care of people. </strong><strong></strong>We believe every person deserves to be heard, to live joyfully, and love their work. We create intentional interactions with our customer, team member, and food producer to positively impact their work, day, or digestive system.&nbsp;</p>
          <p><strong>We heal our planet. </strong><strong></strong>There is only one earth (as far as we know) and we are fearlessly dedicated to making it greener. We mindfully manage our natural resources, partner with sustainable and regenerative farmers, and provide educational resources to farms transitioning their practices.</p>
          <p><strong>We sustain prosperity. </strong><strong></strong>We have this big, beautiful, and bold vision at 4P Foods - and can&rsquo;t bring it to life alone. We are committed to paying fair prices to our farmers and good wages to our staff. It&rsquo;s a win-win in our guidebook.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% include footer-image.html %}
