html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
  @include media-breakpoint-up(lg) {
    scroll-padding-top: 250px;
  }
}

body {
  background-color: $body-bg;
  color: $body-color;
  font-size: 18px;
  font-family: $font-family-base;
}

section {
  padding: 35px 0;
  @include media-breakpoint-up(md) {
    padding: 100px 0;
  }
}

address {
  font-family: $font-family-secondary;
}

dl {
  dd,
  dt {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

a.text-underline {
  text-decoration: underline;
}

a {
  &:hover {
    text-decoration: none;
  }
  &.text-white {
    &:hover {
      color: $white !important;
      &.text-underline {
        text-decoration: underline;
      }
    }
  }
}

hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

blockquote {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.25;
  font-family: $font-family-secondary;
  padding: 20px 30px;
  @include media-breakpoint-up(lg) {
    font-size: 1.3rem;
    padding: 20px;
  }
  footer {
    color: $green-dark;
    font-family: $font-family-base;
    font-size: 1rem;
    font-weight: 400;
  }
  cite {
  }
}
