#pageFooter {
  h6 {
    font-weight: 800;
    text-transform: uppercase;
  }
  .nav-link {
    width: 100%;
    padding: 5px 0;
    text-transform: none;
    color: $white;
  }

  .navbar-brand {
    max-width: 200px;
  }

  .social {
    i {
      color: $white;
      font-size: 26px;
    }
  }
  .form-group {
    width: 100%;
    input {
      width: 60%;
      max-width: 300px;
      border: 2px solid $gray-300;
      @include media-breakpoint-up(sm) {
        width: 75%;
      }
    }
    .btn {
      width: 40%;
      // padding-top: 15px;
      // padding-bottom: 15px;
      color: $white;
      @include media-breakpoint-up(sm) {
        width: 25%;
      }
    }
  }
}