#pageFooter {
  h4 {
    font-size: 25px;
    @include media-breakpoint-up(xl) {
      font-size: 31px;
    }
    
  }
  h6 {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.1rem;
  }
  .nav-link {
    width: 100%;
    padding: 5px 0;
    text-transform: none;
    color: $white;
    @include media-breakpoint-up(lg) {
      font-size: 15px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 16px;
    }
  }

  .navbar-brand {
    max-width: 600px;
  }

  .social {
    i {
      color: $white;
      font-size: 26px;
      @include media-breakpoint-up(lg) {
        font-size: 30px;
      }
    }
  }
  .form-group {
    width: 100%;
    input {
      width: 60%;
      max-width: 300px;
      border: 2px solid $gray-300;
      height: 48px;
      &::placeholder {
        color: $white;
      }
      @include media-breakpoint-up(sm) {
        width: 75%;
      }
    }
    .form-control {
      border-radius: $border-radius 0 0 $border-radius;
    }
    .btn {
      width: 40%;
      color: $white;
      border-radius: 0 $border-radius $border-radius 0;
      text-transform: none;
      @include media-breakpoint-up(sm) {
        width: auto;
      }
    }
  }
}

.footer-nav-col {
  @include media-breakpoint-up(lg) {
    border-bottom: 1px solid rgba(#9ABE9C, 0.1);
  }
  
}