#pageContent {
  overflow: hidden;
  padding-top: 58px;
  @include media-breakpoint-up(lg) {
    padding-top: 130px;
  }
}

#tryUsToday {
  .btn {
    padding: 20px;
    font-size: 2.25rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-down(lg) {
      font-size: 25px;
      line-height: 1.3;
    }
  }
}
