#pageHeader {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $white;
  box-shadow: 0 0 10px rgba($black, 0.2);
  z-index: 999;

  @include media-breakpoint-down(lg) {
    .container {
      max-width: 100%;
    }
  }
}

#pageContent {
  overflow: hidden;
}
#pageFooter {
  h6 {
    font-weight: 800;
    text-transform: uppercase;
  }
  .nav-link {
    width: 100%;
    padding: 5px 0;
    text-transform: none;
    color: $body-color;
  }

  .navbar-brand {
    max-width: 200px;
  }

  .social {
    i {
      color: $body-color;
      font-size: 22px;
    }
  }
  .form-group {
    width: 100%;
    input {
      width: 60%;
      max-width: 300px;
      border: 2px solid $gray-300;
      @include media-breakpoint-up(sm) {
        width: 75%;
      }
    }
    .btn {
      width: 40%;
      // padding-top: 15px;
      // padding-bottom: 15px;
      color: $white;
      @include media-breakpoint-up(sm) {
        width: 25%;
      }
    }
  }
}

#tryUsToday {
  .btn {
    padding: 20px;
    font-size: 2.25rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-down(lg) {
      font-size: 25px;
      line-height: 1.3;
    }
  }
}
