.homepage-layout {
  #pageContent {
    overflow: hidden;
    padding-top: 100px;
    @include media-breakpoint-up(xl) {
      padding-top: 130px;
    }
  }
}

#pageContent {
  overflow: hidden;
  padding-top: 46px;
  @include media-breakpoint-up(xl) {
    padding-top: 88px;
  }
}

#tryUsToday {
  .btn {
    padding: 20px;
    font-size: 2.25rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-down(lg) {
      font-size: 25px;
      line-height: 1.3;
    }
  }
}
