// #topnav {
//   text-align: center;
//   > div {
//     width: 100%;
//   }
//   @include media-breakpoint-up(md) {
//     text-align: left;
//     > div {
//       width: auto;
//     }
//   }
//   a {
//     color: $white;
//   }
// }

#mainnav {
  text-align: center;
  padding: 0;
  @include media-breakpoint-down(lg) {
    padding: 0;
  }
  .navbar-brand {
    margin: 0;
    width: 200px;
    img {
      height: 32px;
      margin: 8px 0;
    }
  }

  .btn {
    font-size: 1.25rem;
    padding: 0.5rem 1.75rem;
    margin: 0 1.5rem;
  }
  .navbar-toggler {
    padding: 0;
    z-index: 1000;
    position: absolute;
    top: 12px;
    right: 10px;
    border: 0;
    &:focus {
      outline: none;
    }
    &.collapsed {
      .navbar-toggler-icon {
        .icon-bar {
          &:nth-of-type(1) {
            top: 10px;
            transform: rotate(0);
          }
          &:nth-of-type(2) {
            top: 16px;
            transform: rotate(0);
          }
          &:nth-of-type(3) {
            top: 22px;
            opacity: 1;
          }
        }
      }
    }

    .navbar-toggler-icon {
      position: relative;
      height: 36px;
      width: 40px;
      padding: 10px;
      background-color: transparent;
      background-image: none;
      border: none;
      overflow: hidden;
      .icon-bar {
        width: 25px;
        height: 2px;
        background-color: $gray-600;
        position: absolute;
        left: 10px;
        z-index: 1000;
        @include transition(0.5s);
        &:nth-of-type(1) {
          top: 16px;
          transform: rotate(45deg);
        }
        &:nth-of-type(2) {
          top: 16px;
          transform: rotate(-45deg);
        }
        &:nth-of-type(3) {
          top: 12px;
          opacity: 0;
        }
      }
    }
  }
}

#primarynav {
  position: relative;
  flex-direction: row;
  @include media-breakpoint-down(md) {
    padding-bottom: 20px;
    position: fixed;
    background-color: $white;
    top: 58px;
    left: 0;
    padding: 15px;
    // padding-bottom: 58px;
    width: 100vw;
    max-width: 767px;
    height: calc(100vh - 58px);
    transform: translateX(-100%);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    overflow-y: scroll;
    &.collapsing {
      transition: transform 0.3s ease-out;
      transform: translateX(-100%);
    }
    &.show {
      transition: transform 0.3s ease-out;
      transform: translateX(0);
    }
  }

  .nav-link {
    margin: 0 0.75rem;
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: 20px;
    color: $black;
    @include media-breakpoint-down(lg) {
      font-size: 17px;
      padding: 20px 10px;
    }
  }
  .dropdown-menu {
    @include media-breakpoint-down(md) {
      // border: 0;
      text-align: center;
      margin-top: 10px;
      position: relative !important;
      transform: none !important;
      .dropdown-item {
        color: $gray-600;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    .container {
      max-width: 100%;
    }
    .navbar-collapse {
      background-color: $tan-mid;
    }
    .dropdown-menu {
      background-color: $tan-mid;
      border: 0;

      a {
        color: $dark;
        font-size: 0.9rem;
        text-transform: uppercase;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    .navbar-nav {
      > li.nav-item {
        position: inherit;
      }
    }
    .dropdown-menu {
      border: none;
      background-color: $tan-mid;
      width: 100%;
      left: -11%;
      right: 0;
      top: auto;
      margin-top: 8px;
      &::before {
        content: "";
        background-color: $tan-mid;
        width: 200vw;
        height: 100%;
        top: 0;
        display: block;
        position: absolute;
        left: -50vw;
      }

      > li.nav-item .menu-item,
      .menu-item {
        color: $dark;
      }
      a {
        margin-bottom: 0.9rem;
        text-transform: none;
        color: $dark;
        text-transform: uppercase;
      }
      ul {
        li {
          &.nav-item {
            a {
              font-weight: 100;
              font-size: 0.9rem;
              &:hover {
                text-decoration: none;
                color: $mid;
              }
            }
          }
        }
      }
    }
  }
}

.link-mobile-wholesale {
  @include media-breakpoint-down(lg) {
    // position: absolute;
    // bottom: 0;
    // left: 0;
    width: 100%;
    margin-top: 3rem;
    background-color: $tan-dark;
    color: $dark;
    padding: 20px 15px;
    z-index: 9999;
  }
}

#usernav {
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  .nav-item {
    .nav-link {
      color: $white;
      font-size: 1rem;
    }
  }
  p,
  a,
  i {
    color: $white;
  }

  .dropdown {
    .dropdown-item {
      color: $gray-600;
    }
  }

  .navbar-collapse {
    flex-grow: 0;
  }
}

#footernav {
}
