// Color Palette
$white: #ffffff !default;
$gray-100: #f8f9fa !default;
$gray-200: #efebe5;
$gray-300: #f4f2f2;
$gray-400: #a7a9ac;
$gray-500: #999999;
$gray-600: #808080;
$gray-700: #707070;
$gray-800: #4d4d4d;
$gray-850: #58595c;
$gray-900: #212529 !default;
$black: #000000 !default;

$blue-light: #cfeaeB;
$blue: #97d7d9;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #f5c938;
$green-light: #e7f1e2;
$green: #5fb35f;
$green-dark: #255B35;
$green-darker: #265c35;
$teal: #14585a;
$cyan: #71c7c7;
$tan: #efebe5;
$tan-mid: #f8f6ee;
$tan-dark: #dedbd3;
$tan-darker: #b7b4a9;

$primary: $green;
$secondary: $blue;
$success: $primary;
$info: $blue;
$warning: $yellow !default;
$danger: $red !default;
$lighter: $gray-100;
$light: #FFFCF9;
$mid: #F8F4F0;
$dark: $gray-800;

$theme-colors: (
  'primary': $green,
  'secondary': $blue,
  'success': $primary,
  'info': $info,
  'warning': $yellow,
  'danger': $red,
  'light': $light,
  'mid': $mid,
  'dark': $dark,
  'white': $white,
  'black': $black,
  'body': $black,
  'gray': $gray-700,
  'tan': $tan,
  'tan-dark': $tan-dark,
  'teal': $teal,
  'green': $green,
  'green-light': $green-light,
  'green-dark': $green-dark,
  'green-darker': $green-darker,
  'blue-light': $blue-light
);

$body-bg: $white;
$body-color: $black;

$font-family-base: 'Montserrat', sans-serif;
$font-family-secondary: 'Spectral', serif;

$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: ($font-size-base * 1.25) !default;
$font-size-sm: ($font-size-base * 0.875) !default;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;

$h1-font-size: 4.4rem;
$h2-font-size: 3rem;
$h3-font-size: 2.5rem;
$h4-font-size: 1.344rem;
$h5-font-size: 1.344rem;
$h6-font-size: 1rem;

$headings-font-family: $font-family-secondary;
$headings-font-weight: 400;
$headings-line-height: 1.3;
$headings-color: inherit;

$border-radius: 6px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

$grid-columns: 12;
$grid-gutter-width: 30px;
