<div class="row">
  <div class="col-12">
    <div class="responsive-card-deck cards-lg-2 cards-md-2 mt-4">
      {% for object in page.related_farmers %} 
      {% assign farm = site.farmers | where_exp: 'item', 'item.url contains object' | first %}

      <div class="card bg-transparent">
        <div
          class="bg-image aspect-4x3"
          style="background-image: url({{ farm.featured_image }})"
        ></div>
        <div class="card-body">
          <h4 class="text-sans-serif">{{ farm.title }}</h4>
          {% if farm.description %}
            <p class="text-serif">{{ farm.description }}</p>
          {% endif %}
        </div>
        <div class="card-footer bg-transparent">
          <a href="{{ farm.url }}" class="btn btn-secondary text-white">Read More</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
