<div class="row">
  <div class="col-12">
    <div class="responsive-card-deck cards-lg-2 cards-md-2 mt-4">
      {% for object in page.farmers %}
      {% assign farmer = site.farmers | where: 'slug', object | first %}
      <div class="card bg-transparent mb-5">
        <div
          class="bg-image aspect-16x9"
          style="background-image: url({{ farmer.featured_image }})"
        ></div>
        <div class="card-body">
          <h4>{{ farmer.title }}</h4>
          {% if farmer.description %}
          <p>{{ farmer.description | truncatewords: 35}}</p>
          {% else %}
          <p>{{ farmer.content | strip_html | truncatewords: 35 }}</p>
          {% endif %}
        </div>
        <div class="card-footer bg-transparent">
          <a href="{{ farmer.url }}" class="btn btn-secondary text-white">Shop this weeks items</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
