<div class="row">
  <div class="col-12">
    <div 
      data-cms-editor-link="cloudcannon:#farmers"
      data-cms-editor-link-style="modal"
      class="responsive-card-deck cards-lg-2 cards-md-2 mt-4 cms-editor-link">
      {% for object in page.farmers %}
      {% assign farmer = site.farmers | where_exp: 'item', 'item.url contains object' | first %}
      
      <div class="card bg-transparent">
        <div
          class="bg-image aspect-4x3"
          style="background-image: url({{ farmer.featured_image }})"
        ></div>
        <div class="card-body">
          <h4 class="text-sans-serif">{{ farmer.title }}</h4>
          {% if farmer.description %}
          <p class="text-serif">{{ farmer.description | truncatewords: 30}}</p>
          {% else %}
          <p class="text-serif">{{ farmer.content | strip_html | truncatewords: 30 }}</p>
          {% endif %}
        </div>
        <div class="card-footer bg-transparent">
          <a href="{{ farmer.url }}" class="btn btn-secondary text-white">Read More</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
