// Color Palette
$white: #ffffff !default;
$gray-100: #f8f9fa !default;
$gray-200: #efebe5;
$gray-300: #f4f2f2;
$gray-400: #a7a9ac;
$gray-500: #999999;
$gray-600: #808080;
$gray-700: #707070;
$gray-800: #4d4d4d;
$gray-900: #212529 !default;
$black: #000000 !default;

$blue: #97d7d9;
$blue-mid: #71c7c7;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #f5c938;
$green: #5fb35f;
$cyan: #71c7c7 !default;

$green-dark: #255b35;
$teal: #14585a;
$beige: #efebe5;
$beige-dark: #dedbd3;
$beige-darker: #b7b4a9;

$primary: $green;
$secondary: $blue;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-300;
$dark: $gray-800;

$theme-colors: (
  "primary": $green,
  "secondary": $blue,
  "success": $green,
  "info": $cyan,
  "warning": $yellow,
  "danger": $red,
  "light": $gray-300,
  "mid": $gray-400,
  "dark": $gray-800,
  "white": $white,
  "black": $black,
  "gray": $gray-700,
  "gray-300": $gray-300,
  "gray-600": $gray-600,
  "tan": $beige,
  "tan-dark": $beige-darker,
  "notice": $teal,
  "teal": $teal,
  "green": $green-dark
);

$body-bg: $white;
$body-color: $gray-600;

$font-family-base: "Montserrat", sans-serif;
$font-family-secondary: "Spectral", serif;

$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: ($font-size-base * 1.25) !default;
$font-size-sm: ($font-size-base * 0.875) !default;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;

$h1-font-size: 1.9rem;
$h2-font-size: 1.9rem;
$h3-font-size: 1.6rem;
$h4-font-size: 1.3rem;
$h5-font-size: 1.1rem;
$h6-font-size: 1rem;

$headings-font-family: $font-family-base;
$headings-font-weight: 400;
$headings-line-height: 1.5rem;
$headings-color: inherit;

$border-radius: 0;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

$grid-columns: 12;
$grid-gutter-width: 30px;
