#pageHeader {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $white;
  box-shadow: 0 0 10px rgba($black, 0.2);
  z-index: 99;
  @include media-breakpoint-down(sm) {
    position: relative;
  }
}

#pageContent {
  padding-top: 110px;
  @include media-breakpoint-down(md) {
    padding-top: 0px;
  }
}
#pageFooter {
}
