#modal-onboarding {
  .modal-dialog-centered {
    &.modal-dialog-scrollable {
      justify-content: flex-start;
      @include media-breakpoint-up(lg) {
        justify-content: center;
      }
    }
  }
  .modal-xl {
    max-width: 95%;
    .modal-content {
      overflow: visible;
    }
    .modal-header {
      border-radius: 0;
      
      .modal-title {
        text-transform: none;
        width: 100%;
      }
    }
    
  }
  .close {
    width: 33px;
    height: 33px;
    background-color: $white;
    color: $gray-600;
    float: none;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: -4px;
    right: -8px;
    opacity: 1;
    z-index: 100;
    @include media-breakpoint-up(lg) {
      top: -10px;
      right: -12px;
    }
  }
 
  
  .row {
    height: 100%;
  }
  .footer-notification {
    color: $white;
    text-align: center;
    background-color: $primary;
    padding: 10px;
    @include media-breakpoint-up(lg) {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 50%;
      padding: 10px 75px;
    }
  }
  .form-check-label {
    color: $white;
    text-transform: none;
  }
  .carousel-controls {
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.step-number {
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: 600;
  background-color: $tan;
  border-radius: 50%;
  margin: 0 auto 20px;
  color: $primary;
  display: flex;
  align-items: center;
  justify-content: center;
  @include media-breakpoint-up(lg) {
    width: 75px;
    height: 75px;
    font-size: 15px;
  }
}

#carousel-onboarding {
  .carousel-item {
    
  }
  .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 50px 50px 100px;
    min-height: 600px;
    .content {
      padding: 0;
    }
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: auto;
  }
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    background-image: none;
  }

  .carousel-control-prev {
    @include media-breakpoint-up(lg) {
      left: 50px;
    }
  }
  .carousel-control-next {
    @include media-breakpoint-up(lg) {
      right: 50px;
    }
  }
  .carousel-controls {
    width: 50%;
    position: absolute;
    bottom: 35px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary;
    font-weight: 600;
    opacity: 0;
    // @include transition(0.2s);
    &.controls-active {
      opacity: 1;
    }
  }
  p {
    font-size: 14px;
  }
  h2,
  .h2 {
    text-transform: none;
  }
  .slide-intro {
    .carousel-controls {
      display: none;
    }
  }
  
}

//slides and views
#welcome {
  .bg-lettuce-2 {
    padding-top: 50px;
    padding-bottom: 50px;
    i {
      transform: rotate(90deg);
    }
    @include media-breakpoint-up(lg) {
      padding-top: 0;
      padding-bottom: 0;
      i {
        transform: none;
      }
    }
  }
}