#modal-onboarding {
  .modal-dialog-centered {
    &.modal-dialog-scrollable {
      justify-content: flex-start;
      @include media-breakpoint-up(lg) {
        justify-content: center;
      }
    }
  }
  .modal-xl {
    max-width: 95%;
    .modal-content {
      overflow: visible;
      @include media-breakpoint-down(md) {
        padding-bottom: 50px;
      }
    }
    .modal-header {
      border-radius: 0;
      
      .modal-title {
        text-transform: none;
        width: 100%;
      }
    }
    
  }
  
  .row {
    height: 100%;
  }
  .footer-notification {
    color: $white;
    text-align: center;
    background-color: $primary;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    @include media-breakpoint-up(lg) {
      position: absolute;
      right: 0;
      left: auto;
      bottom: 0;
      width: 50%;
      background-color: transparent;
      padding: 10px 75px;
    }
  }
  .form-check-label {
    color: $white;
    text-transform: none;
  }
  .carousel-controls {
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  h2 {
    @include media-breakpoint-down(md) {
      font-size: 1.6rem;
    }
  }
  video {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

#carousel-onboarding {
  .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 50px 50px 100px;
    min-height: 600px;
    .content {
      padding: 0;
    }
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: auto;
  }
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    background-image: none;
  }

  .carousel-control-prev {
    @include media-breakpoint-up(lg) {
      left: 50px;
    }
  }
  .carousel-control-next {
    @include media-breakpoint-up(lg) {
      right: 50px;
    }
  }
  .carousel-controls {
    width: 50%;
    position: absolute;
    bottom: 35px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary;
    font-weight: 600;
    opacity: 0;
    &.controls-active {
      opacity: 1;
    }
  }
  p {
    font-size: 14px;
  }
  h2,
  .h2 {
    text-transform: none;
  }
  .slide-intro {
    .carousel-controls {
      display: none;
    }
  }
  
}

// shop help button styles
#shop-help-wrapper {
  position: fixed;
  top: 100;
  right: 0;
  @include media-breakpoint-up(lg) {
    top: 50%;
  }
  
  #help-toggle {
    position: absolute;
    right: 0;
    top: -19px;
    font-size: 20px;
    background-color: $tan;
    padding: 0px;
    z-index: 100;
    &:hover {
      cursor: pointer;
    }
  }
  &.active {
    #btn-shop-help,
    #help-toggle {
      transform: translateX(0);
    }

  }
  #btn-shop-help {
    color: $primary;
    background-color: $tan;
    font-weight: 600;
    padding: 10px;
    display: flex;
    align-items: center;
    line-height: 1.2;
    font-size: 14px;
    border-radius: 33px 0 0 33px;
    box-shadow: 0 2px 10px rgba($black, 0.3);
    
    @include transition(0.4s);
    &:hover {
      transform: translateX(0);
    }
    .ri-question-line {
      font-size: 20px;
      margin-right: 5px;
      @include media-breakpoint-up(lg) {
        font-size: 40px;
      }
    }
    
  }
  #btn-shop-help,
  #help-toggle {
    transform: translateX(92px);
  }
}

//video loader
.video-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  video {
    opacity: 1;
  }
  &.loading {
    video {
      opacity: 0;
    }
    &::before {
      position: absolute;
      content: "\EE61";
      font-family: "remixicon" !important;
      @include animation(spin, 1.2s);
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      font-size: 60px;
    }
  }
}