.card {
  border: 0;
  background-color: $tan;
  display: flex;
  flex-direction: column;
  .card-body {
    border: 0;
  }
  .card-title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 17px;
    color: $gray-600;
    margin-bottom: 5px;
  }
  .card-subtitle {
    font-family: $font-family-secondary;
    font-style: italic;
    color: $gray-600;
    margin-bottom: 20px;
  }
  .card-footer {
    border: 0;
    padding: 0;
    .btn {
      width: 50%;
      background-color: $gray-200;
      border: 0;
      color: $gray-600;
      padding: 10px;
      text-transform: uppercase;
      position: relative;
    }
  }
}
