#pageHeader {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $white;
  box-shadow: 0 0 10px rgba($black, 0.2);
  z-index: 99;
  
  
  @include media-breakpoint-down(lg) {
    .container {
      max-width: 100%;
    }
  }
}

#pageContent {
  padding-top: 117px;
  @include media-breakpoint-down(lg) {
    padding-top: 58px;
    overflow: hidden;
  }
}
#pageFooter {
  h6 {
    font-weight: 800;
    text-transform: uppercase;
  }
  .nav-link {
    width: 100%;
    padding: 5px 0;
    text-transform: none;
    color: $body-color;
  }

  .navbar-brand {
    max-width: 200px;
  }

  .social {
    i {
      color: $body-color;
      font-size: 22px;
    }
  }
  .form-group {
    width: 100%;
    input {
      width: 75%;
      max-width: 300px;
      border: 2px solid $gray-300;
    }
    .btn {
      width: 25%;
      padding-top: 7px;
      padding-bottom: 7px;
    }
  }
}

#tryUsToday {
  @include media-breakpoint-down(md) {
    .btn {
      font-size: 25px;
      line-height: 1.3;
    }
  }
}
