// #topnav {
//   text-align: center;
//   > div {
//     width: 100%;
//   }
//   @include media-breakpoint-up(md) {
//     text-align: left;
//     > div {
//       width: auto;
//     }
//   }
//   a {
//     color: $white;
//   }
// }

#mainnav {
  text-align: center;
  padding: 0.5rem 0;
  @include media-breakpoint-down(lg) {
    padding: 0;
  }
  .navbar-brand {
    margin: 0;
    width: 200px;
    img {
      height: 32px;
      margin: 8px 0;
    }
  }

  .btn {
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0.5rem 1.75rem;
    margin: 0 1.5rem;
  }
  .navbar-toggler {
    padding: 0;
    z-index: 1000;
    position: absolute;
    top: 12px;
    right: 0;
    border: 0;
    &:focus {
      outline: none;
    }
    &.collapsed {
      .navbar-toggler-icon {
        .icon-bar {
          &:nth-of-type(1) {
            top: 10px;
            transform: rotate(0);
          }
          &:nth-of-type(2) {
            top: 16px;
            transform: rotate(0);
          }
          &:nth-of-type(3) {
            top: 22px;
            opacity: 1;
          }
        }
      }
    }

    .navbar-toggler-icon {
      position: relative;
      height: 36px;
      width: 40px;
      padding: 10px;
      background-color: transparent;
      background-image: none;
      border: none;
      overflow: hidden;
      .icon-bar {
        width: 18px;
        height: 2px;
        background-color: $gray-600;
        position: absolute;
        left: 10px;
        z-index: 1000;
        @include transition(0.5s);
        &:nth-of-type(1) {
          top: 16px;
          transform: rotate(45deg);
        }
        &:nth-of-type(2) {
          top: 16px;
          transform: rotate(-45deg);
        }
        &:nth-of-type(3) {
          top: 12px;
          opacity: 0;
        }
      }
    }
  }
}

#primarynav {
  flex-direction: row;
  @include media-breakpoint-down(md) {
    padding-bottom: 20px;
    position: fixed;
    background-color: $white;
    top: 58px;
    left: 0;
    padding: 15px;
    width: 90%;
    height: 100%;
    transform: translateX(-100%);
    box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
    &.collapsing {
      transition: transform 0.3s ease-out;
      transform: translateX(-100%);
    }
    &.show {
      transition: transform 0.3s ease-out;
      transform: translateX(0);
    }
  }
  
  .nav-link {
    margin: 0 0.75rem;
    text-transform: uppercase;
    font-family: $headings-font-family;
    color: $gray-700;
    padding: 10px 20px;
    font-size: 20px;
    @include media-breakpoint-down(lg) {
      font-size: 17px;
    }
  }
  .dropdown-menu {
    @include media-breakpoint-down(md) {
      // border: 0;
      text-align: center;
      margin-top: 10px;
      position: relative !important;
      transform: none !important;
      .dropdown-item {
        color: $gray-600;
      }
    }
  }
  
}



// #mobilenav {
//   text-align: center;
//   text-transform: uppercase;
//   font-size: 1.25rem;
//   line-height: 1.75rem;
//   @include media-breakpoint-up(md) {
//     display: none;
//   }
//   .nav-link {
//     color: $white;
//     @include transition();
//     &:hover {
//       background-color: darken($secondary, 15%);
//     }
//   }
//   .btn {
//     font-size: 1.5rem;
//     font-weight: 700;
//     line-height: 2.5rem;
//   }
// }

#usernav {
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  .nav-item {
    .nav-link {
      color: $white;
      font-size: 1rem;
    }
  }
  p,
  a,
  i {
    color: $white;
  }

  .dropdown {
    .dropdown-item {
      color: $gray-600;
    }
  }

  .navbar-collapse {
    flex-grow: 0;
  }
}

#footernav {
}
