// Responsive containers
.container-4x3 {
  height: 0;
  padding-top: 60%;
  width: 100%;
  position: relative;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// Background Utilities
.bg-image,
.bg-video,
.bg-iframe,
.hero,
.responsive-iframe {
  position: relative;
  display: block;
  height: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: $black;
  overflow: hidden;
  &.aspect-1x1 {
    padding-top: 100%;
    video {
      left: -25%;
      height: 100%;
      max-width: none;
      width: auto;
    }
  }
  &.aspect-2x1 {
    padding-top: 50%;
  }
  &.aspect-3x1 {
    padding-top: 33%;
  }
  &.aspect-4x1 {
    padding-top: 25%;
  }
  &.aspect-4x3 {
    padding-top: 75%;
  }
  &.aspect-5x7 {
    padding-top: 120%;
  }
  &.aspect-16x9 {
    padding-top: 56.25%;
  }
  // TODO: Confirm or refactor these modifier classes
  &.aspect-multilayer,
  &.aspect-hero {
    padding-top: 43%;
  }
  &.aspect-auto {
    height: auto;
    padding-top: 28vw;
    padding-bottom: 28vw;
  }

  &.aspect-none {
    height: auto;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: auto;
    z-index: 0;
  }

  .layer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.bg-illustration-overlay {
  display: block;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url("/assets/img/bg-illustrations.png");
  @include media-breakpoint-down(sm) {
    padding-top: 35%;
    background-size: 100%;
    background-position: top center;
    background-image: url("/assets/img/bg-illustrations-mobile.png");
  }
}

.bg-lettuce {
  background-image: url('/img/bg-illustrations/4p-background-lettuce-cropped.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
}

.bg-cabbage-large {
  background-image: url('/img/bg-illustrations/4p-background-cabbage-cropped.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}

.bg-cabbage-half {
  background-image: url('/img/bg-illustrations/4p-background-cabbage-half.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}

.cabbage-half {
  position: absolute;
  top: 0;
  right: 0;
  width: 38%;
}



// Sticky behavior
.sticky {
  position: sticky;
  top: 0;
}

// Arrows/Carets
.arrow {
  &::after,
  &::before {
    content: " ";
    position: absolute;
    left: 96%;
    top: 30%;
    @include media-breakpoint-up(lg) {
      top: 35%;
    }
    border: solid transparent;
    height: 0;
    width: 0;
    pointer-events: none;
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  &.arrow-right-green {
    &::after {
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url(/img/icons/arrow-right-green.svg);
      width: 60px;
      height: 50px;
      top: 20%;
      left: 90%;
    }
  }
  &.arrow-right {
    &::after {
      border-color: rgba($white, 0);
      border-left-color: #ffffff;
      border-width: 30px;
      margin-top: -30px;
    }
    &::before {
      border-color: rgba($gray-700, 0);
      border-left-color: $gray-700;
      border-width: 31px;
      margin-top: -31px;
    }
  }
}

.cards {
  display: flex;
  flex-flow: wrap;
  .card {
    width: calc(25% - 2rem);
    margin: 1rem;
    flex: inherit;
    color: $dark;
    &:hover {
      text-decoration: none;
    }
    .card-img-top {
      padding-top: 50%;
    }
  }
}

.responsive-card-deck {
  @include make-responsive-cards();
}

// Text utilities
.text-nocase {
  text-transform: none !important;
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
  &.overlay-bottom {
    top: auto;
    bottom: 80px;
    height: auto;
    display: block;
  }
}

.text-underline {
  text-transform: underline !important;
}

.text-mega {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  @include media-breakpoint-down(md) {
    font-size: 1.75rem;
  }
}

// Layout Utilities
.overflow-hidden {
  overflow: hidden !important;
}

.bg-fill {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-full {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-half {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-third {
  height: 33vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.threesome {
  display: flex;
  flex-flow: row wrap;
  margin-right: -30px;
  margin-left: -30px;
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    flex: 0 0 100%;
    max-width: 100%;
    background: transparent;
    @include media-breakpoint-up(xl) {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: calc(33.33333% - 30px);
      margin-left: 15px;
      margin-right: 15px;
    }
    .card-content {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: wrap;
      @include media-breakpoint-up(xl) {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        flex: 0;
        justify-content: space-between;
        align-items: stretch;
        &.pin-footer {
          flex: 1;
        }
        .card-header {
          flex: initial;
        }
        .card-body {
          flex: auto;
        }
        .card-footer {
          flex: initial;
        }
      }
    }
    .card-header {
      flex: 0 0 100%;
      max-width: 100%;
      background-color: transparent;
      border: 0;
      @include media-breakpoint-up(sm) {
        flex: 0 0 33%;
        max-width: 33%;
      }
      @include media-breakpoint-up(xl) {
        flex: 0 0 100%;
        max-width: 100%;
      }
      .content {
        padding: 3rem 0;
        text-align: center;
        @include media-breakpoint-up(sm) {
          padding: 0;
        }
        img {
          width: 75%;
          max-width: 100%;
          height: auto;
        }
      }
    }
    .card-body {
      max-width: 100%;
      flex: 1 1 auto;
      padding: 1.25rem;
      @include media-breakpoint-up(sm) {
        flex: 0 0 66%;
        max-width: 66%;
      }
      @include media-breakpoint-up(xl) {
        flex: 0 0 100%;
        max-width: 100%;
      }
      .content {
        @include media-breakpoint-up(xl) {
          text-align: center;
        }
      }
    }
    .card-footer {
      width: 100%;
      padding: 0 1.25rem;
      border: 0;
      background-color: transparent;
    }
  }
}

.foursome {
  display: flex;
  flex-flow: row wrap;
  margin-right: -15px;
  margin-left: -15px;
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    flex: 0 0 100%;
    max-width: 100%;
    background: transparent;
    @include media-breakpoint-up(xl) {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: calc(25% - 30px);
      margin-left: 15px;
      margin-right: 15px;
    }
    .card-content {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: wrap;
      @include media-breakpoint-up(xl) {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        flex: 0;
        justify-content: space-between;
        align-items: stretch;
        &.pin-footer {
          flex: 1;
        }
        .card-header {
          flex: initial;
        }
        .card-body {
          flex: auto;
        }
        .card-footer {
          flex: initial;
        }
      }
    }
    .card-header {
      display: flex;
      align-items: center;
      flex: 0 0 100%;
      max-width: 100%;
      height: 100%;
      background-color: transparent;
      border: 0;
      @include media-breakpoint-up(sm) {
        flex: 0 0 25%;
        max-width: 25%;
      }
      @include media-breakpoint-up(xl) {
        flex: 0 0 100%;
        max-width: 100%;
      }
      .content {
        padding: 3rem 0;
        text-align: center;
        @include media-breakpoint-up(sm) {
          padding: 0;
        }
        img {
          width: 75%;
          max-width: 100%;
          height: auto;
        }
      }
    }
    .card-body {
      max-width: 100%;
      flex: 1 1 auto;
      padding: 1.25rem;
      @include media-breakpoint-up(sm) {
        flex: 0 0 75%;
        max-width: 75%;
      }
      @include media-breakpoint-up(xl) {
        flex: 0 0 100%;
        max-width: 100%;
      }
      .content {
        @include media-breakpoint-up(xl) {
          text-align: center;
        }
      }
    }
    .card-footer {
      width: 100%;
      padding: 0 1.25rem;
      border: 0;
      background-color: transparent;
    }
  }
}

// Buttons
.btn-xl {
  line-height: 4rem;
  font-size: 2.25rem;
}
