#cartPage {
  .list-group-item {
    &.recurringPurchase {
      border-color: $secondary;
    }
    &.singlePurchase {
      border-color: $mid;
    }
    &:hover {
      background-color: $light;
    }
  }
}

.cart-header {
  border-bottom: 1px solid $gray-400;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delivery-details {
  a {
    line-height: 1;
    color: $gray-400;
    margin-top: 15px;
    display: block;
    @include media-breakpoint-up(md) {
      display: inline-block;
      padding-left: 20px;
      padding-right: 20px;
      border-left: 1px solid $gray-400;
      margin-left: 20px;
      margin-top: 0;
    }
  }
}

.item-row {
  .btn-link {
    font-size: 14px;
    @include media-breakpoint-up(lg) {
      position: absolute;
      bottom: 20px;
      left: 20px;
    }
  }
}
