#home-team {
  padding-top: 300px;
  padding-bottom: 300px;
}

.hover-reveal-section {
  position: relative;
  .content {
    position: relative;
    z-index: 550;
  }
  &::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
  }
  &.active {
    // .content {
    //   opacity: 0;
    // }
    .reveal-image {
      opacity: 1;
    }
  }
}

.reveal-image {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 500;
}
