#production-nav {
  position: fixed;
  top: 56px;
  left: 0;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  z-index: 998;
  box-shadow: 1px 2px 3px rgba($black, 0.3);
  transform: translateY(-100%);
  opacity: 0;
  background-color: $white;
  @include transition(0.4s);
  &.active {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-indicators {
  width: 100%;
  margin-top: 10px;
  ul {
    margin-bottom: 0;
    > li {
      display: flex;
      align-items: center;
      &.is-current {
        > a {
          background-color: $orange;
          border-color: $orange;
        }
        ul {
          li {
            &.is-current {
              > a {
                background-color: $dark;
              }
            }
            a {
              width: 10px;
              height: 10px;
              border-radius: 50%;
              border: 1px solid $dark;
              display: block;
              margin-left: 3px;
            }
          }
        }
      }
      ul {
        display: flex;
        align-items: center;
        padding-left: 5px;
        li {
          a {
            width: 10px;
            height: 1px;
            border-radius: 0;
            border-bottom: 1px solid $dark;
            display: block;
            margin-left: 0;
          }
        }
      }
    }
    .nav-indicator {
      width: 15px;
      height: 15px;
      border: 1px solid $dark;
      border-radius: 50%;
      display: block;
      
    }
  }
  @include media-breakpoint-up(md) {
    width: 33%;
    margin-top: 7px;
  }
}

.toc {
  position: relative;
  overflow: hidden;
  li {
    display: none;
    a {
      color: $dark;
    }
    &.is-current {
      display: flex;
      align-items: center;
    }
    ul {
      li {
        a {
          font-size: 16px;
        }
      }
    }
  }
}

.phase-indicator {
  display: flex;
  align-items: center;
  .text-orange {
    font-size: 16px;
  }
  .text-capitalize {
    font-size: 22px;
    font-family: $headings-font-family;
    margin-left: 10px;
    font-weight: 600;
  }
}