---
layout: page
title: About 4P Foods
_assets:
  - image: /uploads/2013-05-honey-hive-va-beestreesfarm-7.jpg
assets:
  - _type: image
    title: About 4P Foods
    image: /uploads/tom-warehouse.jpg
  - _type: image
    title: About 4P Foods
    image: /uploads/2020-05-08-4pfoods-hv-1080-36.jpg
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="bg-image aspect-2x1" style="background-image: url('{{ page._assets[0].image }}')" data-cms-editor-link="cloudcannon:#_assets[0].image" data-cms-editor-link-style="modal"></div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 mx-lg-auto text-center">
        <h1 class="editable">
          About 4P Foods
        </h1>
        <h4 class="editable">
          Our Mission: Empowering you to transform the food system.<br /><em>eat good food. change the world.</em>
        </h4>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h2 class="editable">
          our story
        </h2>
        <div class="editable">
          <p>4P Foods took root in 2014 with a lofty goal: to build a Good Food system that is a regenerative and equitable alternative to the industrial food system. Step one was adapting the CSA model to the age of online shopping and food delivery, and in the early days before 4P had a delivery fleet, founder and CEO Tom McDougall rode the DC metro with bags of farm-fresh local produce to deliver to our first customers. Today 4P has grown and blossomed, delivering thousands of bags each week across DC, Maryland, and Virginia to our customers and <a target="_blank" rel="noopener" href="/our-partners/">food access partners</a>.</p>
        </div>
        <h2 class="editable mt-5">
          Milestones
        </h2>
        <div class="editable">
          <ul>
            <li>Partner with our long-time food access partners, the Nationals Youth Baseball Academy and the YMCA of Metropolitan Washington, to distribute over 3,000 subsidized 4P Produce Bags at a year-round market (turned contactless pickup location during the covid pandemic) in DC&rsquo;s Ward 7 since April 2018&nbsp;</li>
            <li>Expanded our food access work in DC&rsquo;s Wards 7 and 8 through the Bainum Family Foundation&rsquo;s <a target="_blank" rel="noopener" href="/posts/partnership-with-bainum-family-foundation/">Food Security Initiative</a>.</li>
            <li>Added a Charlottesville, VA warehouse and wholesale sales and distribution in May 2019, expanding our sourcing and distribution reach</li>
            <li>With longtime partner Local Food Hub, co-led the founding of the first-ever food hub trade agreement, the <a target="_blank" rel="noopener" href="/posts/eastern-food-hub-collaborative/">Eastern Food Hub Collaborative</a>, in February 2020, which now has 15+ partner hubs up and down the Eastern Seaboard</li>
            <li>Expanded to a new warehouse facility in Vint Hill, VA in March 2020 thanks in part to the support of the <a target="_blank" rel="noopener" href="/posts/partnership-with-the-path-foundation/">PATH Foundation</a></li>
            <li>Founded the <a target="_blank" rel="noopener" href="/posts/mid-atlantic-food-resilience-and-access-coalition-mafrac/">Mid-Atlantic Food Resilience and Access Coalition</a> (MAFRAC) in March 2020 with the goal of supporting local farms, nonprofits, and food businesses working hard to feed communities during the covid pandemic</li>
            <li>Distributed over 10,000 meals for community members in need in partnership with Community Cooks from April to July 2020</li>
          </ul>
          <h2>Our vision</h2>
          <p>Our farm partners are good environmental stewards of the land, the food, the animals, land, and communities they serve. We encourage farmers to work towards GAP and Organic Certifications, and promote sustainable and regenerative farming methods to rebuild the soil and health of the community. We pay farmers fair price for the work they do and support equitable food sourcing and fair labor practices for lasting economic impact. 4P Bags are packaged in eco-friendly insulated tote bags to curb our carbon footprint. We prioritize our local farmers and the Mid-Atlantic region, plus we will always strive to provide you with source transparency so that you can make informed decisions about what food is on your table.</p>
          <p>Meet some of the farmers and artisans behind your food&nbsp;<a href="/our-farmers">here</a>!</p>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="row no-gutters">
          {% assign images = page.assets | where: '_type', 'image' %} {% assign videos = page.assets | where: '_type',
              'video' %} {% for image in images %}
          <div class="col-12">
            <div class="p-1 mb-3">
              <div class="bg-image aspect-1x1" style="background-image: url({{ image.image }})"></div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% for video in videos %}
        <div class="row no-gutters">
          <div class="col-12">
            <div class="responsive-iframe aspect-16x9 mb-3">
              <iframe src="{{ video.embed_url }}"></iframe>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<section class="bg-tan">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3 class="editable mb-3">
          
        </h3>
        <div class="editable">
          <p><img src="/uploads/bigger-lettuce.png" width="500" height="350" /></p>
        </div>
      </div>
      <div class="col-lg-6">
        <h3 class="editable mb-3">
          
        </h3>
        <div class="editable">
          <h4>Good Food Coalitions</h4>
          <h4><em>4P is proud to be part of the following coalitions for actors in the Good Food Movement: <a href="/posts/eastern-food-hub-collaborative/">Eastern Food Hub Collaborative</a>, <a target="_blank" rel="noopener" href="https://mafrac.com/">Mid-Atlantic Food Resilience and Access Coalition</a>, and the DC chapter of the <a target="_blank" rel="noopener" href="https://goodfoodpurchasing.org/program-overview/">Good Food Purchasing Program</a>.&nbsp;</em></h4>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <h2 class="editable">
            Our values
          </h2>
          <h4 class="editable">
            <em>Beyond the triple bottom line: the 4 P's we think should be a part of every business </em>
          </h4>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-4">
        <img class="img-fluid editable" alt="4P Foods logo" width="4168" src="/img/4p-foods-cmyk-logo-color-color.png" />
      </div>
      <div class="col-lg-8">
        <div class="editable">
          <p><strong>Purpose:</strong> We constantly strive to advance our mission&mdash;ensuring that all people can eat Good Food and all farmers can make a living growing Good Food.</p>
          <p><strong>People:</strong> We aim to positively impact everyone who interacts with our business, from the customers we feed to the staff we support and farmers who cultivate Good Food.</p>
          <p><strong>Planet: </strong>We carefully manage our natural resources and partner with farmers who use sustainable or regenerative agricultural practices that preserve and protect our environment.</p>
          <p><strong>Prosperity:</strong> We commit to running a viable business for the long-term, so that we can continue to pay fair prices to our farmers and good wages to our staff.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% include footer-image.html %}