---
layout: page
title: 4P Foods | About | Increasing Access to Food
meta:
  title: 4P Foods | About | Increasing Access to Food
  description: >-
    Each day, our work at 4P Foods gets us closer to the kind of food system
    farmers thrive in, soil is regeneratively cared for, animals are treated
    humanely, and all communities have equitable access to healthy food. 

    Our growing list of partners includes more than 200 farmers who value
    planet-friendly agricultural practices to provide local, sustainable,
    high-quality food year-round.
  image:
footer_image: /uploads/2020-05-20-va-bealeton-newdayfarms-danieljames-herd-ventures-6.jpg
featured_farmer: together-we-bake
farmers:
  - agriberry-farm
  - autumn-olive-farms
_assets:
  - image: /uploads/3.png
  - image: /uploads/2.png
  - image: /uploads/4.png
  - image: /uploads/2020-03-09-4p-mafrac-fauquierfoodbankdonation.jpg
  - image: /uploads/food-access-programs/4p-foodaccess-headerimages-01.jpg
  - image: >-
      /uploads/copy-of-2020-07-01-dc-ward7-foodequitycampaign-spacesinaction--10.jpg
  - image: /uploads/our-impact/4p-ourimpact-foodacces-02.jpg
---
<div class="row no-gutters">
  <div class="col-4">
    <div class="p-1">
      <div class="bg-image aspect-16x9 cms-editor-link" style="background-image: url('{{ page._assets[0].image }}')" data-cms-editor-link="cloudcannon:#_assets[0].image" data-cms-editor-link-style="modal"></div>
    </div>
  </div>
  <div class="col-4">
    <div class="p-1">
      <div class="bg-image aspect-16x9 cms-editor-link" style="background-image: url('{{ page._assets[1].image }}')" data-cms-editor-link="cloudcannon:#_assets[1].image" data-cms-editor-link-style="modal"></div>
    </div>
  </div>
  <div class="col-4">
    <div class="p-1">
      <div class="bg-image aspect-16x9 cms-editor-link" style="background-image: url('{{ page._assets[2].image }}')" data-cms-editor-link="cloudcannon:#_assets[2].image" data-cms-editor-link-style="modal"></div>
    </div>
  </div>
</div>
<section class="position-relative">
  <img src="/img/bg-illustrations/4p-background-radish-01.png" alt="radish illustration" style="position: absolute; top: -10%; width: 32%; right: -5%;" />
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 mx-lg-auto text-center">
        <div class="editable">
          <h1><strong>Rebuilding A Regenerative And Equitable Food System</strong></h1>
        </div>
        <div class="editable">
          <p>Each day, our work at 4P Foods gets us closer to the kind of food system farmers thrive in, soil is regeneratively cared for, animals are treated humanely, and all communities have equitable access to healthy food.&nbsp;<strong></strong></p>
          <h2><strong>Our Sourcing Standards</strong></h2>
          <p>4P Foods sources fresh, high-quality, delicious food, prioritizing local and regional partners. We cultivate a network of growers and producers who engage in labor practices that enable people and communities to thrive, and in growing practices that actively build the soil and promote biodiversity. We source Good Food in service of creating a better food system that is equitable and regenerative, and in which all living beings are treated with respect and dignity.&nbsp;</p>
        </div>
        <div class="text-center mt-5">
          <a href="/farmers/" class="btn btn-primary editable">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% include our-impact/impact-tabs.html %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="editable">
          <h2><strong>Purpose-fueled food for the prosperity of our planet and people.</strong></h2>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6 col-lg-4 text-center">
        <img class="img-fluid mb-4 w-50 editable" alt="Barn Graphic" src="/uploads/5.png" width="203" srcset="/uploads/5.png [object Blob]w, /uploads/5-1.png 406w" />
        <div class="editable">
          <h4><strong>We Support Local Farmers</strong></h4>
          <h4>&nbsp;</h4>
          <p>We work with 200+ independent, family farmers in Washington, D.C., Virginia, Maryland, North Carolina, and the Eastern Seaboard and Mid-Atlantic</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 text-center">
        <img class="img-fluid mb-4 w-50 editable" alt="Groceries Graphic" src="/uploads/6.png" width="203" srcset="/uploads/6.png [object Blob]w, /uploads/6-1.png 406w" />
        <div class="editable">
          <h4><strong>We Serve the Underserved</strong></h4>
          <p>&nbsp;</p>
          <p>We deliver 7,500 pounds of food every month to underserved communities in Washington, D.C. to help get the food they need through six community partners</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 text-center">
        <img class="img-fluid mb-4 w-50 editable" alt="Package Graphic" src="/uploads/7.png" width="202" srcset="/uploads/7.png [object Blob]w, /uploads/7-1.png 404w" />
        <div class="editable">
          <h4><strong>We Pay Fair Prices</strong></h4>
          <h4>&nbsp;</h4>
          <p>At 4P Foods, 60&cent; of every dollar goes to the farmer vs. the conventional, which only pays out 14.5&cent; of every dollar to farmers.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="row no-gutters">
  <div class="col-4">
    <div class="p-1">
      <div class="bg-image aspect-16x9 cms-editor-link" style="background-image: url('{{ page._assets[3].image }}')" data-cms-editor-link="cloudcannon:#_assets[3].image" data-cms-editor-link-style="modal">
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="p-1">
      <div class="bg-image aspect-16x9 cms-editor-link" style="background-image: url('{{ page._assets[4].image }}')" data-cms-editor-link="cloudcannon:#_assets[4].image" data-cms-editor-link-style="modal">
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="p-1">
      <div class="bg-image aspect-16x9 cms-editor-link" style="background-image: url('{{ page._assets[5].image }}')" data-cms-editor-link="cloudcannon:#_assets[5].image" data-cms-editor-link-style="modal">
      </div>
    </div>
  </div>
</div>
<section class="bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 mx-lg-auto text-center text-white">
        <div class="editable">
          <h3 class="text-white">"The businesses of today create the world of tomorrow. They have the ability - and responsibility - to&nbsp; drive real, lasting, positive social change."</h3>
        </div>
        <div class="editable">
          <p>Tom McDougall, CEO &amp; Founder</p>
        </div>
        <a href="/about/" class="btn btn-primary editable">READ OUR MISSION</a>
      </div>
    </div>
  </div>
</section>
<!-- this section not currently in use -->
<!-- <section class="bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 mx-lg-auto text-center">
        <p class="text-white text-uppercase font-weight-bold editable">
          
        </p>
        <p class="text-uppercase text-white editable mb-0">
          
        </p>
      </div>
    </div>
  </div>
</section> -->
<section class="bg-tan">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="editable">
          <h2>Meet Our Community Partners</h2>
        </div>
        <div class="editable">
          <p>&nbsp;</p>
          <p>4P Foods is proud to work with many incredible organizations to help increase food access in the communities we serve.</p>
          <p>4P Foods provides healthy fresh food from our farmers and provides delivery logistics for community partners in parts of Virginia, Maryland, and Washington, D.C.</p>
          <p>Learn more about our partners who work hard every day to advocate for community health and equitable access to food.</p>
        </div>
        <a href="/partners" class="btn btn-primary editable">Learn More</a>
      </div>
      <div class="col-lg-6">
        <div class="bg-image aspect-4x3 cms-editor-link" style="background-image: url('{{ page._assets[6].image }}')" data-cms-editor-link="cloudcannon:#_assets[6].image" data-cms-editor-link-style="modal">
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-lg-auto text-center">
        <div class="editable">
          <h2><strong>Meet Our Farming + Markers Community</strong></h2>
          <div class="mb-5">&nbsp;</div>
        </div>
      </div>
    </div>
    {% include farmers/featured-farmer.html %} {% include farmers/farmers-list-featured.html %}
  </div>
</section>
<!-- <featured-farms></featured-farms> -->
<section class="bg-green-dark bg-image aspect-none" style="background-image: url({{ '/img/bg-illustrations/4p-homepage-button-02.jpg' }})">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <a href="/farmers" class="btn btn-outline-white editable">See all FARMER profiles</a>
      </div>
    </div>
  </div>
</section>
{% include footer-image.html %}
