---
layout: page
title: About 4P Foods
_assets:
  - image: /uploads/about-header.jpg
assets:
  - _type: image
    title: About 4P Foods
    image: >-
      /uploads/about-1.jpg
  - _type: image
    title: About 4P Foods
    image: >-
      /uploads/about-2.jpg
  - _type: image
    title: About 4P Foods
    image: >-
      /uploads/about-3.jpg
---
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="bg-image aspect-2x1" style="background-image: url('{{ page._assets[0].image }}')"
          data-cms-editor-link="cloudcannon:#_assets[0].image" data-cms-editor-link-style="modal"></div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 mx-lg-auto text-center">
        <h1 class="editable">About 4P Foods</h1>
        <h4 class="editable"><em>4P Foods vision is to build a Good Food system based on regenerative family farming</em></h4>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h2 class="editable">Our Mission</h2>
        <div class="editable">
          <p>4P Foods was founded in 2014 by Tom McDougall with the goal of building an equitable food system while connecting Good
          Food from sustainable and small farms to customers in the DC-area. We believe that Good Food—food that is traceable,
          nutritious, accessible, and produced in a system that empowers farmers and sustains the environment—should be the norm,
          not the exception, and we actively work to make that vision a reality each and every day. Every bag of produce, meat,
          and dairy we deliver not only supports a network of small family farms and artisan producers in the region, but also
          advances our mission and growing food access initiatives in the communities we serve.</p>
        </div>
        <h2 class="editable mt-5">Our Story</h2>
        <div class="editable">
          <p>Growing from the idea of the CSA-model and as an alternative to the big box
            grocery stores, 4P Foods offered convenience, flexibility, affordable locally grown
            food through direct delivery of 4P Bags to homes, offices, and communities. 4P
            Foods has always worked to ensure that all members of the community have
            access to good food and to help small farmers to thrive by connecting them to
            the market.</p>
          <p>Every week, 4P Foods offers the convenience of food deliveries to residences,
          offices, and community pick-up sites in eco-friendly reusable insulated bags. Our
          flexible swap system makes it easy to customize what’s in your bag(s) each week,
          and you can cancel, skip, or donate your bag(s) at any time to a local food bank
          or nonprofit partner, Local Food Hub. Going on vacation? No problem! Don’t like
          broccoli? You’ve got options! Need extra ingredients for a special meal you’re
          planning? You can double up on what you need.</p>
          <p>Behind the scenes, 4P Foods connects our small-scale, sustainable producers to
          more customers than they could reach on their own, while connecting consumers
          to our versatile growing network of other food hubs. Our farm partners are good
          environmental stewards of the land, and where possible, regenerative farmers
          going beyond organic to rebuild the soil and health of the community. We
          support hundreds of farmers in the Mid-Atlantic region and beyond by handling
          the distribution, logistics, and marketing so that these dedicated growers can get
          back to growing Good Food. While there are many incredible local farmers in the
          Mid-Atlantic who we buy from year-round, we also source from small farmers in
          more temperate growing regions who uphold our shared values- care for the
          environment, laborers, and local community.</p>
          <p>Our <a href="/posts/beyond-local/">extended local and regional network</a>  means that year-round, we can support
          many farmers while also offering the variety that most people want to eat,
          especially during the colder winter months, from Fair Trade avocados to <a href="/posts/the-story-of-our-citrus/">Rio Star
          grapefruits</a> . This model enables small farmers to thrive and customers to know
          and feel good about where they spend their food dollars. In the food industry,
          where national and even international supply chains fraught with labor and
          environmental harm are commonplace, transparency and a sense of place are
          precious commodities.</p>
          <p>Our strong and dynamic producer relationships also allow us to offer robust
          variety year-round. We will always offer what’s in season from local farmers, but if
          you get sick of potatoes and cabbage in the winter, we are also able to source
          from the abundance of farmers in warmer climes. This means you can enjoy
          berries earlier and tomatoes later and even have <a href="/posts/beyond-local/">warm weather crops</a> in the
          winter! Together we are building a transparently sourced, resilient regional food
          system to connect fresh, nutrient-dense food from local communities to those
          who need it.</p>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="row no-gutters">
          {% assign images = page.assets | where: '_type', 'image' %} {% assign videos = page.assets | where: '_type',
              'video' %} {% for image in images %}
          <div class="col-12">
            <div class="p-1 mb-3">
              <div class="bg-image aspect-1x1" style="background-image: url({{ image.image }})"></div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% for video in videos %}
        <div class="row no-gutters">
          <div class="col-12">
            <div class="responsive-iframe aspect-16x9 mb-3">
              <iframe src="{{ video.embed_url }}"></iframe>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<section class="bg-tan">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3 class="editable mb-3">Milestones</h3>
        <div class="editable">
          <ol>
            <li>
              Investment partners: <a href="https://bainumfdn.org/" target="_blank" rel="noopener">Bainum Family Foundation</a> (food equity partnerships) and <a href="#">PATH Foundation</a> (new warehouse, truck)
            </li>
            <li><a href="https://www.localfoodhub.org/program/distribution/" target="_blank" rel="noopener">Local Food Hub partnership</a> - acquired wholesale arm</li>
            <li>In early 2020, we helped lead a first ever conference of food hubs joined together to form the Eastern Food Hub Collaborative. This exciting partnership is aimed at improving market opportunities for independent farmers and improving equitable access to Good Food in the Eastern US.</li>
            <li>We met the first ever food hub network to meet with other hubs who share the common goals, values, principles and best practices. The Eastern Carolina Food Conference was formed to fill a need for in response to the COVID-19 crisis, 4P Foods helped launch the creation of the Mid-Atlantic Food Access and Resilience Coalition (MAFRAC) to connect food from regional farmers with organizations providing emergency food to the community, piloting our vision in real time with limited technology. <a href="https://mafrac.com/" target="_blank" rel="noopener">Learn more</a> about MAFRAC</li>
          </ol>
        </div>
      </div>
      <div class="col-lg-6">
        <h3 class="editable mb-3">4P Partnerships</h3>
        <div class="editable">
          <h4><em>4P is proud to be part of the following coalitions for actors in
            the Good Food Movement: Eastern Food Hub Collaborative,
            <a href="https://mafrac.com/" target="_blank" rel="noopener">Mid-Atlantic Food Resilience and Access Coalition</a>
            (MAFRAC), and the DC-chapter of the <a href="https://goodfoodpurchasing.org/program-overview/" target="_blank" rel="noopener">Good Food
            Purchasing Program</a>. Through strategic partnerships, we are
            able to help build food equity in our region. Check out more
            of our partners here.</em></h4>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <h2 class="editable">
            Our values
          </h2>
          <h4 class="editable">
            <em>
              Our name stands for the 4 P's we think should be a part of every business
            </em>
          </h4>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-4">
        <img src="/img/4p-foods-cmyk-logo-color-color.png" class="img-fluid editable" alt="4P Foods logo" />
      </div>
      <div class="col-lg-8">
        <div class="editable">
          <p><strong>Purpose:</strong> We constantly strive to advance our mission &mdash; ensuring that all people can
            eat Good Food and all farmers can make a living growing <a href="/posts/good-food-knows-no-boundaries/">Good Food</a>.</p>
          <p><strong>People:</strong> We aim to positively impact everyone who interacts with our business, from the
            customers we feed to the staff we support and farmers who cultivate Good Food.</p>
          <p><strong>Planet: </strong>We carefully manage our natural resources and partner with farmers who use
            sustainable or regenerative agricultural practices that preserve and protect our environment.</p>
          <p><strong>Prosperity:</strong> We commit to running a viable business for the long-term, so that we can
            continue to pay fair prices to our farmers and good wages to our staff.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% include footer-image.html %}