---
layout: page
title: Careers
meta:
  - description: >-
      This position is primarily responsible for building 4P’s customer and
      membership base as well as customer service, satisfaction, and retention.
      This includes day to day sales and order fulfillment, as well as assisting
      with long term forecasting, product development, and marketing. They are
      expected to spend time in the field, becoming familiar with product at the
      farm level, and conducting demos, taste tests, and check-ins with
      customers throughout 4P Food’s service area. This position requires
      excellent organizational, technical, and interpersonal skills.
    image:
footer_image:
_assets:
  - image: >-
      /img/uploads/careers/04.01.20 Tom Tyler Vint Hill Dress It Up Dressing
      Boxes for Salad Kit Grab & Go Lunch Warehouse.jpg
  - image: /img/uploads/careers/4p-careers-headerimage-02.jpg
  - image: /img/uploads/careers/4p-careers-headerimage-03.jpg
---

{% include careers/image-bar.html %}
<section class="pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-lg-auto text-center">
        <div class="editable">
          <h1>Careers at 4P</h1>
          <h3><em>Join Our Team</em></h3>
          <div>
            <p>Are you passionate about Good Food and skilled in sales, operations, logistics, or any of the other areas on which our work depends? Check below for open positions, or if you don&rsquo;t see anything there that fits your skill set, send us your resume and coverletter to&nbsp;<a href="mailto:xyz@4pfoods.com">j</a>obs@4pfoods.com.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    {% assign careers = site.careers | sort: 'posted_date' | reversed %} {% assign num_careers = careers | size %} {% if
    num_careers > 0 %} {% for career in careers %}
    <hr />
    <div class="row">
      <div class="col-12">
        <h4>{{ career.title }}</h4>
        <p><strong>{{ career.location }}</strong> <em>Job posted {{ career.posted_date | date: '%m/%d/%Y' }}</em></p>
        <p>{{ career.description }}</p>
        <a href="{{ career.url }}" class="btn btn-secondary text-white">Learn More and Apply</a>
      </div>
    </div>
    <hr />
    {% endfor %} {% else %}
    <div class="row">
      <div class="col-12 col-lg-10 mx-lg-auto text-center">
        <h4>We don't currently have any openings</h4>
        <p>
          If you feel passionate about our mission&mdash;helping small farmers thrive while ensuring that all people
          have access to Good Food&mdash;and think you have something to add to the team, we'd love to hear from you.
        </p>
        <p>
          Please send us a brief cover letter and resume at
          <a href="mailto:jobs@4pfoods.com">jobs@4pfoods.com</a>.
        </p>
      </div>
    </div>
    {% endif %}
  </div>
</section>
{% include careers/volunteer.html %}
{% include footer-image.html %}