---
layout: page
title: Frequently Asked Questions
meta:
footer_image: /uploads/2013-07-strawberry-box-va-xx.JPG
faqs:
  - question: How does ordering from 4P work?
    answer_html: >-
      <p>We are your <a
      href="/posts/spring-into-action-with-community-supported-agriculture/">direct
      connection to the farm</a>. Ordering a bag from us is like an online
      farmers market meets a farm share or CSA (Community Supported Agriculture)
      program. Choose between different kinds of bags, like produce, meat, or
      dairy. Order once or on a recurring basis. Each week, you'll receive our
      newsletter with that week's &ldquo;menu&rdquo; with a hand-selected range
      of seasonal items. (Customize by swapping out anything you don&rsquo;t
      love for other things that you do). Once you&rsquo;ve customized your bag
      to your liking, you can add on additional a la carte items to round out
      your order! Read our handy <a
      href="https://shenandoahproduce.4pfoods.com/posts/how-to-shop/">shopping
      guide</a>.</p>
  - question: Where does 4P source its food from?
    answer_html: >-
      <p>The short answer: we source locally and regionally from a network of
      over 200 small, independent farmers, most of them located in the
      Mid-Atlantic. Does that mean it&rsquo;s &ldquo;local?&rdquo; That depends
      on where you live and how you define it, so we often use the term
      &ldquo;regional&rdquo; to describe our sourcing practices.</p><p>The
      longer answer: it depends on the item and the season. Avocados don&rsquo;t
      grow in the Mid-Atlantic, so we buy them from a fair-trade cooperative in
      Peru (read more about our sourcing of tropical items on our blog <a
      href="/posts/the-geography-of-good-food/">here</a>). As another example,
      we can offer peak-season strawberries longer by following their season up
      from the Carolinas in early spring through Virginia and beyond into
      mid-summer. 4P is a founding member of the Eastern Food Hub Collaborative,
      a network of other food hubs like us up and down the Eastern Seaboard who
      all work with their own vetted networks of small, sustainable farmers and
      work together to increase the variety and supply of produce available from
      this region.</p><p>Read our growing collection of <a
      href="https://shenandoahproduce.4pfoods.com/our-farmers">farmer
      profiles</a> for more information about our food.</p>
  - question: What if I want to skip a delivery?
    answer_html: >-
      <p>Go for it. On your account management page you have the option to <a
      href="https://shenandoahproduce.4pfoods.com/posts/how-to-shop/">skip your
      order</a> once or for a longer period of time. All we ask is that you skip
      any upcoming deliveries ahead of the 2-day cut-off period, during which
      time we finalize orders with farmers. The cut-off begins at <strong>11:59
      pm on Sunday</strong> for a Wednesday delivery, <strong>11:59 pm on
      Monday</strong> for a Thursday delivery, and <strong>11:59 pm on
      Tuesday</strong> for a Friday delivery.&nbsp;</p>
  - question: 'How do I skip an order, or multiple orders at once?'
    answer_html: >-
      <p>To skip once, login to your account and click on &ldquo;My
      Account&rdquo; in the upper right hand corner and then click on
      &ldquo;Upcoming Deliveries.&rdquo; You&rsquo;ll see the orders you have
      scheduled for the next six weeks, including the items and total cost, and
      you&rsquo;ll also have the option to skip or donate each individual
      order.</p><p>If you choose to skip, you won&rsquo;t be charged for your
      order that week. If you choose to donate, you will be charged, and your
      order will be packed up and delivered to one of our food assistance
      partners, like the <a href="/posts/fauquier-community-food-bank/">Fauquier
      Community Food Bank</a>.</p><p>You can skip for a longer period of time by
      turning on a Vacation Hold. Under &ldquo;My Account&rdquo; click on
      &ldquo;Delivery Hold&rdquo; and enter your vacation dates - we will skip
      all deliveries scheduled that fall between the date you entered to leave
      and the date you entered to return.&nbsp;</p><p>If you need any assistance
      skipping a delivery, please <a href="/contact/">reach out to us</a> and
      we'll be happy to help.</p>
  - question: How is 4P different than other online food delivery services?
    answer_html: >-
      <p>We deliver the freshest, highest-quality produce, meat, dairy, and
      pantry goods from farmers and producers in the Mid-Atlantic region (and <a
      href="/posts/whats-in-the-winter-bag/">sometimes beyond</a>) who <a
      href="https://shenandoahproduce.4pfoods.com/posts/good-food-knows-no-boundaries/">share
      our values of Good Food</a>.</p><p>Our produce offerings vary with the
      seasons. In the Spring, you&rsquo;ll see asparagus and strawberries. In
      the summer, tomatoes and sweet corn. Autumn equals apples and leafy
      greens. And in the Winter, it&rsquo;s a mix of local greenhouse-grown
      produce like lettuce and storage crops like butternut squash, artisan
      goods from local makers, and fruits and vegetables from farmers further
      south.&nbsp;</p><p>Year-round, we offer great local meats and dairy from
      animals raised on open pasture and treated with dignity throughout their
      lives, as well as delicious pantry goods like pastas, jams, and more made
      by local artisans.&nbsp;</p><p>In short, we deliver the bounty of the
      regional foodshed, harvested daily and delivered to you. With 4P, you are
      voting with your fork for a <a href="/our-impact/">more sustainable and
      equitable</a> food system for everyone.</p>
  - question: How do I find our more about your farmers?
    answer_html: >-
      <p>Check out our <a href="/our-farmers">Farmers page</a>! We&rsquo;re
      always updating it, so stay tuned for more profiles of the many amazing
      farmers, ranchers, and artisans from whom we source.</p>
  - question: Is all the food organic? What about non-GMO
    answer_html: >-
      <p>Some of it is USDA-certified organic, and some of it is not (not all
      farmers who use organic practices choose to get certified). While
      certifications are certainly important, what is most important to us is <a
      href="https://shenandoahproduce.4pfoods.com/posts/good-food-knows-no-boundaries/">Good
      Food</a>.</p><blockquote><p>Good Food provides nourishment and enables
      people to thrive, is equitably accessible to everyone in the region, is
      produced in a manner that is environmentally regenerative, comes from a
      supply chain in which every being is treated with respect and dignity, and
      improves health outcomes and economic security for
      all.</p></blockquote><p>We work with farmers who are good stewards of
      their resources, including land, water, and labor. Our <a
      href="/our-farmers">farmer profiles</a>&nbsp;are a great place to get more
      information about each farmer and their growing practices. While we
      embrace a local and regional food system, you can choose to <a
      href="https://staging.4pfoods.com/posts/how-to-shop/">customize</a> your
      bags to include only local products, for example.</p><p>Our long-term goal
      is to be 100% supporting regenerative agriculture. Regenerative
      agriculture seeks not only to maintain but also to increase soil health,
      carbon sequestration, and biodiversity.</p>
  - question: How do I find out what food is in the bags this week?
    answer_html: >-
      <p>Each Saturday we update our online shop with what&rsquo;s fresh that
      week and send a <a
      href="/posts/4p-foods-weekly-shares-winter-spring-2015/">Weekly Harvest
      Newsletter</a> straight to your inbox, making it simple to decide what you
      want to order and plan what you&rsquo;ll cook for the week. We also
      include storage tips, recipe ideas, and highlights from our farmers and
      partners.&nbsp;</p><p>If you&rsquo;ve signed up and are not receiving the
      email newsletter, be sure to check your spam or promotions folder, and
      then please <a href="/contact/">get in touch with us</a>&nbsp;so we can
      look into it.</p>
  - question: Can I customize what I get in my bag?
    answer_html: >-
      <p>Absolutely. We took the best of a traditional CSA or farm share model
      (fresh, seasonal foods for you and direct, consistent support for farmers)
      and made it more flexible and customizable.</p><p>Simply log in and <a
      href="https://staging.4pfoods.com/posts/how-to-shop/">customize</a> your
      bag. The time to shop from our fresh selection will be between midday
      Saturday (when the newsletter arrives) up until your skip deadline (two
      full days before the start of your delivery day, or for an example, Sunday
      at 11:59 pm for Wednesday delivery).</p><p>See what's available by either
      clicking on the box icon in the upper right hand corner or by navigating
      to <strong>Upcoming Deliveries</strong>&nbsp;under <strong>My
      Account</strong>, and click <strong>Customize Bag.</strong>&nbsp;From
      there, you can see what's on order, take out any items you don&rsquo;t
      like, double up on your favorites, or add in something new.&nbsp;</p><p>Be
      sure to click <strong>Save</strong>&nbsp;to complete your changes!</p>
  - question: Is there a minimum order or commitment?
    answer_html: >-
      <p>Our minimum order is $30, which comes out to $35 with the delivery fee.
      The minimum order amount to get free shipping is $60.</p><p>There is no
      minimum commitment and no tricky sign-up policy. You can order once to
      give us a try, or sign up for a subscription and still cancel anytime
      before your skip deadline with no fees&ndash;but if you were anything less
      than satisfied with your order, it might be worth <a
      href="/contact/">getting in touch</a> with our member experience team
      first so that we can try to make things right.</p>
  - question: Is there a delivery fee?
    answer_html: >-
      <p>Delivery is FREE for all orders over $50 and only a $5 flat fee for
      orders below $50.</p><p>In an effort to reduce our carbon footprint, we
      also offer free delivery to our public pick-up sites, where anyone can
      pick up their bags within a certain pick-up time frame!</p>
  - question: How does 4P address racial equity in the food system?
    answer_html: >-
      <p>Right off the bat, we want to acknowledge that the food system has
      traditionally done a lot of harm to BIPOC communities, from colonization
      to slavery to the poor treatment of immigrant farm laborers. We are
      intentionally working to increase our sourcing from BIPOC farmers and to
      center equity in our daily work as a company. You can read more about
      racial injustice in the food system and 4P&rsquo;s response in this <a
      href="/posts/we-stand-with-all-of-you-we-stand-against-racism/">letter
      from our founder &amp; CEO</a>, Tom McDougall.</p>
  - question: What is my delivery day?
    answer_html: >-
      <p>You should have been notified of your delivery day during the signup
      process, but if you&rsquo;re unsure, you can login into your account,
      click on &ldquo;My Account&rdquo; in the upper right hand corner, then
      click on &ldquo;Upcoming Deliveries&rdquo; to see all of your upcoming
      delivery dates. Any general news or changes in deliveries will be
      communicated to you directly and/or will be included in the weekly
      newsletter.</p><p>If you&rsquo;re still unsure,&nbsp;<a
      href="/contact/">reach out</a>&nbsp;and we'll be happy to assist you!</p>
  - question: How does delivery work?
    answer_html: >-
      <p>All of our deliveries are contactless, and you should receive an
      automatic email or text notification when a driver drops off your bags,
      but the specifics will depend on your delivery site.</p><p>In general, if
      you signed up for direct home delivery, we usually deliver the bags right
      to your doorstep, or wherever you indicated in your delivery instructions
      (if we don&rsquo;t deliver to the right place, please <a
      href="/contact/">get in touch</a>&nbsp;to let us know!).</p><p>For
      commercial buildings or apartment complexes, we deliver the bags per the
      building&rsquo;s COVID-19 protocols and your directions. Per our own
      COVID-19 protocols, all of our drivers wear required face masks and
      gloves--read more about our response to the pandemic <a
      href="/posts/covid-19-response/">here</a>. If your building has limited
      open hours for deliveries as a result of COVID-19, please <a
      href="/contact/">let us know</a> so we can plan accordingly.</p><p>In an
      effort to maximize delivery efficiency and minimize contact during the
      busiest hours of the day, your delivery may arrive as early as 4:00AM and
      as late as 9:00PM. You will have the opportunity to tell us your delivery
      time preferences during registration, or you can <a href="/contact/">reach
      out to us</a> to let us know if you have timing limitations.</p>
  - question: What if I want to skip late?
    answer_html: >-
      <p>Please don&rsquo;t, if you can avoid it! However, accidents do happen,
      especially if it&rsquo;s your first time. Our skip deadlines are very
      important so that we can make sure we fine-tune our orders with farmers
      and minimize waste. However, if you really need to skip late, please <a
      href="/contact/">get in touch with us</a>&nbsp;and let us know.</p>
  - question: What if I'm allergic to something?
    answer_html: >-
      <p>That&rsquo;s where the customization function comes in! Be sure to
      login to your account between Saturday afternoon and your order deadline
      (two full days before your delivery day) to customize your order and swap
      out any items you can&rsquo;t enjoy.</p>
  - question: Why can't I put meat in my produce bag? Or yogurt in my meat bag?
    answer_html: >-
      <p>We don&rsquo;t yet have a safe way to pack meat (which comes frozen)
      with other items that aren&rsquo;t frozen (or vis versa), without using
      lots of excess packaging, which we try to avoid from an environmental
      perspective. We are working to expand our a la carte capability, and in
      the meantime, our customizable bags and flexible order cadences (one-time,
      weekly, every other week, and so on) should help you get the right amounts
      of the right kinds of food for your household with minimal waste.</p>
  - question: How can I order extra items?
    answer_html: >-
      <p>After you choose your bag(s), head over to the shop to browse that
      week&rsquo;s available items and add anything you would like. You can
      choose if you want this item just one time, or on a recurring basis (based
      on availability). If the item you choose does not show these options that
      means it has limited availability.&nbsp;</p><p>Can&rsquo;t find what
      you&rsquo;re looking for? Try clicking the magnifying glass in the corner
      to search for a specific item.</p>
  - question: How is the food delivered? Will it stay fresh?
    answer_html: >-
      <p>You will receive an email or text notification when a driver drops off
      your bags, and as long as you can pick up your food the same day it is
      delivered, you should be fine. We deliver our produce in reusable
      insulated tote bags to keep everything fresh. For our meat, dairy, and
      eggs, we deliver them in nifty insulated cooler boxes to keep everything
      cold. We take all the packaging back to sanitize and reuse, so please set
      out your empties on delivery day for our driver to swap out.</p>
  - question: What should I do with the old bags?
    answer_html: >-
      <p>We carefully inspect, sanitize, and reuse them, so we would love to
      have them back! To help minimize both cost and waste, please return the
      old bags, cooler boxes (tote bag, cooler packs, and insulated box
      included), and any glass milk bottles to the same place where your bags
      were dropped off. We&rsquo;ll send you a reminder email the day before
      your delivery so that our driver can pick them when they deliver the next
      day. We&rsquo;ll then quarantine them and sanitize them for reuse. With
      your help, it&rsquo;s a win-win! Thank you!</p>
  - question: How does billing work?
    answer_html: >-
      <p>We do our billing every Saturday for the prior week&rsquo;s deliveries.
      So if you get a bag on Wednesday, you&rsquo;ll be billed the following
      weekend. If you skip your order or add a vacation, you won&rsquo;t be
      billed that week.</p>
  - question: What if I receive damaged produce or my delivery is missing an item?
    answer_html: >-
      <p>If you receive any disappointing veggies or sad fruit, or if any items
      are missing, please let us know! We&rsquo;ll gladly try to correct
      whatever happened, whether through a refund or an extra item in your next
      delivery.&nbsp;</p><p>We do our best to closely manage inventory so that
      we have enough for all orders but not so much that anything goes to waste,
      but if we ever run out of an item or it becomes unavailable after you have
      selected it in your order, we will do our best to notify you of the change
      so you can let us know what you&rsquo;d like instead. If we can&rsquo;t
      get in touch in time, we&rsquo;ll substitute the closest item we have on
      hand (like pears for apples, or sweet potatoes for butternut squash).</p>
  - question: How do I store this? How the heck do I cook rutabaga?
    answer_html: >-
      <p>Check out this helpful <a href="/posts/4p-foods-storage-tips/">food
      storage blog post</a> for an encyclopedic collection of storage advice
      (it&rsquo;s also linked in our weekly newsletters).&nbsp;</p><p>Need
      recipes or cooking inspiration? You&rsquo;ll find some recipes featured in
      our weekly newsletter, and you can also check out our <a
      href="https://www.pinterest.com/4pfoods/">4PFoods Pinterest</a> board. We
      frequently add new recipes that reflect what&rsquo;s fresh in the shop
      each week.&nbsp;</p><p>The recipes in the newsletter are curated to
      reflect the items in the bags that week, while the Pinterest board is
      organized by what type of food or veggie you are using. Looking for
      recipes for beets? Winter squash? Collard greens? We&rsquo;ve got you
      covered! If you don&rsquo;t use Pinterest and are a 4P Foods member, feel
      free to email us about accessing our guest Pinterest account.</p>
  - question: 'Referring a friend, and other promotions?'
    answer_html: >-
      <ul><li>Refer a friend, and you both get $10 off! From the &ldquo;My
      Account&rdquo; menu, select &ldquo;Referrals&rdquo; to find your unique
      referral link. Share this link with friends, family, and colleagues, and
      for anyone who signs up with this link and makes a purchase, both you and
      your referee get a $10 credit.</li><li>Refer your office! We are always
      looking for new office buildings with folks who want to get fresh, healthy
      food delivered right to their workplace. When you put us in touch with
      your office to schedule a &ldquo;meet &amp; greet&rdquo; (where we come to
      tell more of our story, how it works, etc.), we will give you a free small
      produce bag.</li></ul>
  - question: Do you have wholesale?
    answer_html: >-
      <p>Yes! Please contact our wholesale team at <a
      href="mailto:sales@4pfoods.com">sales@4pfoods.com </a>to learn more about
      how you can bring Good Food to your business.</p>
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-lg-flex align-items-center">
          <h1 class="editable">FAQ</h1>
          <!-- <div class="form-group ml-5">
            <label class="sr-only">Search</label>
          </div>
          <input id="faq-search" type="text" placeholder="Search" class="form-control" /> -->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-0">
  <div class="container">
    <!-- <div class="card-columns"> -->
      {% for faq in page.faqs %}
      <div class="card bg-transparent">
        <p class="text-uppercase">Question</p>
        <p class="text-black">{{faq.question}}</p>
        <p class="text-uppercase">Answer</p>
        <div class="text-black">
          {{ faq.answer_html }}
        </div>
        <hr />
      </div>
      {% endfor %}
    <!-- </div> -->
  </div>
</section>
{% include footer-image.html %}

