---
layout: page
title: Frequently Asked Questions
meta:
footer_image: /img/uploads/faq/4P-footer-10.jpg
faqs:
  - question: Where does 4P source its food?
    answer_html: >-
      <p>The vast majority of our food comes from the Mid-Atlantic region,
      mostly from Virginia, Maryland, and southern Pennsylvania. Does that mean
      it&rsquo;s &ldquo;local?&rdquo; That depends on how you define it, so we
      often use the term &ldquo;regional&rdquo; to describe our sourcing
      practices. A regional food system offers greater variety for eaters,
      market access for farmers, and resiliency in the face of climate
      change.&nbsp;</p><p>Our strong and dynamic producer relationships allow us
      to offer robust variety year-round. We will always offer what&rsquo;s in
      season from local farmers, but if you get sick of potatoes and cabbage in
      the winter, we are also able to source from the abundance of farmers in
      warmer climes. This means you can enjoy berries earlier and tomatoes later
      and even have warm weather crops in the winter!&nbsp;</p><p>Our local and
      regional network means that year-round, we can support many farmers while
      also offering the variety that most people want to eat, especially during
      the colder winter months, from Fair Trade avocados to Rio Star
      grapefruits. Our model enables small farmers to thrive and customers to
      know and feel good about where they spend their food dollars.</p><p>While
      the geography of food is certainly important, what is most important to us
      is <strong>Good Food</strong>. To us, Good Food is transparently sourced,
      dense in nutrients, seasonally appropriate, ethically raised, and produced
      with regenerative agriculture practices. Good Food honors, respects, and
      compensates all living beings in its chain of development for the value
      they contribute.</p>
  - question: Is it organic? What about non-GMO
    answer_html: >-
      <p>Some of it is certified organic, and some of it is not. The
      certification process for USDA Organic can be lengthy and expensive, so
      not all farmers who use organic practices choose to become certified.
      However, we know all of the farmers with whom we work, and we do our best
      to ensure that all of them are good stewards of land, water, and labor and
      use safe and sustainable farming methods (no synthetic chemical
      fertilizers or pesticides, as well as no GMO seeds or feed).</p><p>It may
      be several years until enough farms in the Mid-Atlantic foodshed have been
      certified for us to change the answer to this question to a simple yes.
      Until then, we hope that you will help us to support those farmers that we
      have identified as being good stewards of the land and animals under their
      care. 4P partners with many Local Food Hub partnering farms, who are
      supported by Local Food Hub's Grower Services which helps farmers through
      the process of food safety and organic certifications.</p><p>Our long-term
      goal is to be 100% supporting regenerative agriculture. Regenerative
      agriculture, a term coined by The Rodale Institute, goes beyond
      sustainable and seeks to improve soil health, animal welfare, and worker
      fairness. We&rsquo;re not there yet, but our hope is that with the support
      of our members and partners we can build a food system that benefits the
      entire ecosystem.</p>
  - question: Where do I find our more about your farmers?
    answer_html: >-
      <p>Check out our <a href="/our-farmers">Farmer Profiles page</a>! We’re
      always updating it, so stay tuned for more profiles of the farmers we
      source from the most. In addition, our <a href="/news">Weekly Harvest
      newsletter</a> that goes out to our members tells them where each item
      comes from, along with links to either a Farmer Profile or the farm’s
      website.</p>
  - question: What if I want to skip a delivery?
    answer_html: >-
      <p>Go for it. On your account management page you have the option to skip
      or donate your subscription for up to 6 months at a time. If you skip, we
      won’t deliver your order and we won’t charge you. If you choose to donate
      your order, you will still pay for it, but we will deliver it to a family
      in need through our partnership with Fauquier Food Bank. All we ask is
      that you skip any upcoming deliveries ahead of the 2-day cut-off period,
      during which time we put in orders with farmers. The cut-off begins at
      11:59pm on Sunday for a Wednesday delivery, 11:59pm on Monday for a
      Thursday delivery, and 11:59pm on Tuesday for a Friday delivery.</p>
  - question: How do I skip?
    answer_html: >-
      <p>Log into your account and go to “Subscriptions.” Under Subscriptions,
      you will see each of the types of shares you have. Click the “Skip”
      button. When you click it, another box will open showing four dates for
      the current month; they’ll be green by default. By clicking on “Delivery
      Options” under any of these dates, you’ll get an option either to skip a
      delivery or donate that weeks delivery to one of our food pantry partners.
      The date will change from green to light blue when you skip, or to dark
      blue when you donate. Then you’re all set! You can also use the arrows at
      the bottom to set your schedule for the next six months. Just make sure to
      check back six months later to do it again! If you need to skip the
      upcoming week, make sure to skip <strong>before your skip
      deadline</strong> or the online system will not allow you to skip since it
      is past the cut-off. This is very important, so we can finalize numbers
      for our farmers!</p>
  - question: What if I want to skip late?
    answer_html: >-
      <p>Please don&rsquo;t, if you can avoid it! However, accidents do happen,
      especially if it&rsquo;s your first time. Our skip deadlines are very
      important so that we can make sure we fine-tune our orders with farmers
      and minimize waste. However, if you really need to skip late, consider
      donating your bag and we'll make sure it goes to those in need. <a
      href="__notset__">E</a><a href="mailto:community@4pfoods.com">mail
      us</a>&nbsp;to let us know.</p>
  - question: Is there a minimum commitment?
    answer_html: >-
      <p>There is no minimum commitment and no tricky sign-up policy. Cancel
      anytime before your skip deadline–but it might be worth a call (####) or
      email <a href="mailto:community@4pfoods.com">community@4pfoods.com</a> to
      customer service first.</p>
  - question: What do you deliver?
    answer_html: >-
      <p>We deliver the freshest, highest-quality produce, meat, dairy, and
      artisan goods from farmers and producers in the Mid-Atlantic region (and
      occasionally beyond). For produce, our offerings are seasonal. In the
      spring, that means asparagus and strawberries. Summer, tomatoes and sweet
      corn. Autumn equals apples and leafy greens. And in the winter, it’s a mix
      of greenhouse products like lettuce, storage crops like butternut squash,
      artisan goods from local makers, and fruits and vegetables from farmers
      further south.</p> <p>Year-round, we offer great local meats and dairy
      from animals raised on open pasture and treated with dignity throughout
      their lives, as well as delicious goods like pastas, jams, and more made
      by local artisans.</p> <p>In short, we deliver the bounty of your regional
      foodshed, harvested daily and delivered to you. With 4P Foods, you are
      voting with your fork for a more sustainable and equitable food system for
      everyone.</p>
  - question: Is my building a participating delivery site?
    answer_html: >-
      <p>Maybe! <a href="/contact">Get in touch</a> with us to find out—we’d be
      happy to look at your address and tell you if your building is already
      participating. If they’re not, we’ll do what we can to get them on board,
      and if you can put us in touch with a point of contact and tell them that
      you would love to get 4P Foods delivered, that always helps! You can also
      sign up for direct home delivery if you live in an individual home.
      Shipping is free on all orders over $60 (and only $5 on orders below).</p>
  - question: How do I find out what food is in the shares this week?
    answer_html: >-
      <p>Each Saturday we send out a Weekly Harvest Newsletter straight to your
      inbox, making it simple to decide what you want to order and plan what
      you’ll cook for the week. We also include storage tips, recipe ideas, and
      highlights from our farmers and partners. If for you’ve signed up and are
      not receiving the email newsletter, be sure to check your spam or
      promotions folder, and then please email us at community@4pfoods.com so we
      can look into it.</p>
  - question: What is my delivery day?
    answer_html: >-
      <p>As a small company focused on our environmental impact, we try to
      maximize our delivery efficiency by delivering to different areas on
      different days. Please contact us if you have questions, but generally our
      delivery schedule is as follows:</p> <ul>
        <li>Wednesday: Most of Washington, DC (except parts of Northwest DC, including Columbia Heights, Georgetown, and Woodley
        Park)</li>
        <li>Thursday: Most of Northern Virginia (excluding Alexandria) and Georgetown</li>
        <li>Friday: Most of Maryland, Alexandria, and the rest of Northwest DC</li>
      </ul>
  - question: Can I customize?
    answer_html: >-
      <p>Yes and no. 4P Foods operates similarly to a traditional CSA
      (community-supported agriculture). We include a weekly selection of
      whatever is local and seasonal that week and offer an online platform
      where you can customize your bags week to week. Simply log in after you
      receive your newsletter and before your skip deadline. Don’t like kale?
      Maybe swap them out for extra sweet potatoes. We also keep a selection of
      great value-added items from awesome local producers, such as jams,
      sauerkraut, pickles, granola, dried beans, flours, honey, salad dressing,
      etc., so feel free to swap out produce for those items and try them out.
      Have a Dairy share, but don’t like milk? No worries – you can customize to
      have no milk, and add extra yogurt or cheese if you prefer. Or if you
      prefer low-fat milk or plain yogurt, you can make substitutions there.
      Don’t like beef, but love chicken? Feel free to select from a list of
      extra cuts of meat in our freezer and build your own Protein share. The
      online swapping system is points-based and points don’t roll over week to
      week – but you do get a few extra points to play around with each week.
      Please read more about the online swapping system here!</p>
  - question: What if I'm allergic to something?
    answer_html: >-
      <p>When you create your account, there is a box called “Dietary
      Restrictions.” You can fill this out with any allergies or foods you
      should avoid. Our operations team will check these when bags are being
      packed up. However, it is much easier if you swap out the offending items
      yourself with our online swapping system and pick extra items you would
      appreciate more! We are humans (although veggie robots would be cool), so
      unfortunately we do make mistakes from time to time when packing bags. If
      you do receive an item you can’t have, please email us and we will give
      you a refund.</p>
  - question: How does delivery work?
    answer_html: >-
      <p>This will depend on your building, and every building is different. But
      in general: If you signed up for direct home delivery, we usually deliver
      the bags right to your doorstep. For commercial buildings or apartment
      complexes, we deliver the bags to a front desk with a concierge, to a
      leasing office, or management office. For some of our office deliveries,
      we deliver straight to your office (usually to the receptionist desk). And
      of course, there might be some exceptions with other buildings. When you
      sign up, we’ll send you a welcome email within a few days after to clarify
      pick up details. But please feel free to reach out to us directly if
      you’re not sure! For all deliveries, you will receive an automatic email
      notification when our driver drops off your bag.</p>
  - question: How is the food delivered? Will it stay fresh?
    answer_html: >-
      <p>Food is delivered in insulated re-usable tote bags to keep everything
      fresh. Meat (frozen), dairy, and eggs are packed in nifty insulated cooler
      boxes (also re-usable) with ice packs to keep everything cold for up to 24
      hours. Check your email for a notification that your delivery has arrived.
      As long as you can pick up your food that day, everything should be
      fresh.</p>
  - question: What do we do with the old bags?
    answer_html: >-
      <p>Return them! We aim to reduce our carbon footprint by using reusable
      packaging. You’ll get an email reminder the day before your delivery
      reminding you to leave out last week’s bags. Simply put bags where you
      pick-up your orders for our drivers to grab. We then sanitize them for
      reuse. Your part in helping curb waste and keep costs down is
      appreciated!</p>
  - question: When does billing happen?
    answer_html: >-
      <p>We do our billing every Saturday after you receive your delivery. So if
      you got a bag on Wednesday, you’ll be billed that Saturday. If you
      skipped, you won’t be billed that week.</p>
  - question: What if I receive damaged produce or my delivery is missing an item?
    answer_html: >-
      <p>If you receive any disappointing veggies or sad produce, please let us
      know! Similarly, if something is missing, reach out. You can email us at
      <a href="mailto:community@4pfoods.com">community@4pfoods.com</a> and we’ll
      gladly try to correct whatever happened, whether through a refund or an
      extra item in your next delivery.</p>
  - question: How do I store this?
    answer_html: >-
      <p>If you have any questions at all on how to store your delicious produce
      so it lasts longer, check out our <a href="#">storage tips blog entry</a>.
      We’ve also collected a bunch of helpful cooking resources to get you
      started. There are some great tutorials online – everything from the best
      way to cut an onion, how to sear a steak, and details about cooking
      techniques such as steaming, braising, and roasting.</p>
  - question: How the heck to I cook rutabage?
    answer_html: >-
      <p>Need cooking ideas? You’ll get cooking ideas sent to your inbox each
      week inside our Weekly Harvest Newsletter. Check out our Pinterest page
      for an extensive search for seasonal recipes organized by ingredient. If
      you don’t use pinterest and are a 4P Foods member, email us for access to
      our guest Pinterest account.</p>
  - question: 'Referring a friend, and other promotions?'
    answer_html: |-
      <p>Here are some promotions we offer!</p> <ul>
        <li>Refer a friend, and you both get $10 off. Simply share the promo code 4PFRIENDS with your buddy, and they’ll get $10 off
        their first bag. Email us when they sign up and we will give you a $10 account credit!</li>
        <li>Refer your office! We are always looking for new office building to deliver to. When you put us in touch with your
        office to schedule a “meet & greet” (where we come tell more about our story, how it all works, etc.) we will give you a
        free small produce bag.</li>
        <li>Share 4P Foods on social media! If you share your 4P Foods and tag us, we’ll give you one Farmer Pete Squish toy in your
        upcoming deliveries.</li>
      </ul>
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-lg-flex align-items-center">
          <h1 class="editable">FAQ</h1>
          <!-- <div class="form-group ml-5">
            <label class="sr-only">Search</label>
          </div>
          <input id="faq-search" type="text" placeholder="Search" class="form-control" /> -->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-0">
  <div class="container">
    <!-- <div class="card-columns"> -->
      {% for faq in page.faqs %}
      <div class="card bg-transparent">
        <p class="text-uppercase">Question</p>
        <p class="text-black">{{faq.question}}</p>
        <p class="text-uppercase">Answer</p>
        <div class="text-black">
          {{ faq.answer_html }}
        </div>
        <hr />
      </div>
      {% endfor %}
    <!-- </div> -->
  </div>
</section>
{% include footer-image.html %}

