---
layout: page
title: Frequently Asked Questions
meta:
  - title: FAQs
    description: >-
      Find out about getting started with 4p Foods, 4P's mission to change the
      food system, shopping source-identified food, and more.
    image:
footer_image: /uploads/2013-07-strawberry-box-va-xx.JPG
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="editable">
        <h1>FAQ</h1>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <ul class="nav">
          {% for object in site.data.faqs %}
            <li>
              <a href="#{{ object.title | slugify }}" class="btn btn-primary mr-3">{{ object.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="p-0">
  <div class="container">
    {% for object in site.data.faqs %}
      <div class="row mt-5">
        <div class="col-12">
          <h2 class="mb-4">{{ object.title }}</h2>
        </div>
      </div>
      <div id="{{ object.title | slugify }}" class="row mb-5">
        <div class="col-12">
          <div class="accordion" id="accordion-faq">
            {% for item in object.faqs %}
              <div class="card">
                <div class="card-header py-0" id="heading-{{ forloop.index }}">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{ forloop.index }}" aria-expanded="true" aria-controls="collapse-{{ forloop.index }}">
                    {{ item.question }} <i class="ri-arrow-down-s-fill text-primary"></i>
                  </button>
                </div>
            
                <div id="collapse-{{ forloop.index }}" class="collapse" aria-labelledby="heading-{{ forloop.index }}" data-parent="#accordion-faq">
                  <div class="card-body px-0 pt-0">
                    {{ item.answer_html }}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
{% include footer-image.html %}
