---
layout: page
title: 4P Foods | Food Access Programs | Washington, DC
meta:
  - title: 4P Foods | Food Access Programs | Washington, DC
    description: >-
      We stand 4ps and love. Our mission at 4P Foods is to connect all people
      and communities to regional farmers and responsibly sourced food. Our
      Purpose is to positively impact People, Planet, and Prosperity through a
      more equitable food system.
    image:
footer_image: /uploads/2009-09-swisschard-va-xx-1.JPG
food_resources:
  - name: Foodfinder.us
    description: >-
      This resource reflects an ambition to serve anybody facing hunger and food
      insecurity any time of year, anywhere in the country. Over 20,000 people
      have visited FoodFinder online, and over 1,000 people have downloaded the
      app.
    image: /uploads/food-access-programs/4p-goodfoodresources-01.jpg
    link: https://foodfinder.us/
  - name: Food Learning Locator
    description: >-
      Bainum Family Foundation’s Food Learning Locator, which provides an
      interactive map of food-related education and job training opportunities
      in D.C., Maryland, and Virginia:
    image: /uploads/food-access-programs/4p-goodfoodresources-02.jpg
    link: https://foodlearninglocator.org/
_assets:
  - image: /uploads/2020-05-08-4pfoods-hv-1080-34-1.jpg
  - image: /uploads/4p-ymca-nats-academy-market1.png
  - image: /uploads/field-of-greens-market02.JPG
---
<div class="row no-gutters">
  <div class="col-4">
    <div class="p-1">
      <div class="bg-image aspect-16x9" style="background-image: url('{{ page._assets[0].image }}')" data-cms-editor-link="cloudcannon:#_assets[0].image" data-cms-editor-link-style="modal"></div>
    </div>
  </div>
  <div class="col-4">
    <div class="p-1">
      <div class="bg-image aspect-16x9" style="background-image: url('{{ page._assets[1].image }}')" data-cms-editor-link="cloudcannon:#_assets[1].image" data-cms-editor-link-style="modal"></div>
    </div>
  </div>
  <div class="col-4">
    <div class="p-1">
      <div class="bg-image aspect-16x9" style="background-image: url('{{ page._assets[2].image }}')" data-cms-editor-link="cloudcannon:#_assets[2].image" data-cms-editor-link-style="modal"></div>
    </div>
  </div>
</div>
<section id="FoodAccessIntro">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 col-lg-11 mx-lg-auto text-center">
        <div class="editable">
          <h1><strong>Food Access Programs</strong></h1>
        </div>
        <p class="lead editable">
          Building a better food system that enables all people&mdash;regardless of income, race, or ZIP code&mdash;to access Good Food.
        </p>
        <div class="lead editable">
          
        </div>    
        <div class="editable mt-3">
          <p>Food Access (or lack thereof) is a multi-pronged problem touching on the areas of geography, financial, and personal. 4P Foods, together with our partners, helps to deliver food along with solutions that mirror those challenges.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="threesome">
          <div class="card bg-transparent">
            <div class="card-content align-items-center">
              <div class="card-header p-0">
                <div class="content">
                  <img src="/img/icons/homepage-foodaccess-geographic.png" class="img-fluid editable" alt="" />
                </div>
              </div>
              <div class="card-body">
                <div class="content text-center">
                  <h4 class="editable">
                    Geographic
                  </h4>
                  <div class="editable">
                    <p>The geographic access challenge is availability to resources for Good Food. For example, no grocery stores within a reasonable distance.</p>
                    <p>Given your available transportation options, can you easily get to a place that sells Good Food? Geographic access looks very different in urban, suburban, and rural areas.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card bg-transparent">
            <div class="card-content align-items-center">
              <div class="card-header p-0">
                <div class="content text-center">
                  <img src="/img/icons/homepage-foodaccess-financial.png" class="img-fluid editable" alt="" />
                </div>
              </div>
              <div class="card-body">
                <div class="content text-center">
                  <div class="editable">
                  <h4>
                    Financial
                  </h4>
                  </div>
                  <div class="editable">
                    <p>The financial access challenge of earning enough money for Good Food. Even if there is a grocery store, healthy fresh produce is often a luxury.</p>
                    <p>Given the accessible stores, can you afford Good Food? Even if there is a nearby grocery store, fresh and appealing produce is often unavailable or unattainably expensive.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card bg-transparent">
            <div class="card-content align-items-center">
              <div class="card-header p-0">
                <div class="content">
                  <img src="/img/icons/homepage-foodaccess-personal.png" class="img-fluid editable" alt="" />
                </div>
              </div>
              <div class="card-body">
                <div class="content text-center">
                  <div class="editable">
                    <h4 class="editable">
                      Personal
                    </h4>
                  </div>
                  <div class="editable">
                    <p>The personal access challenge is about lifestyle and environmental limitations. For example, someone working multiple jobs may not have the time, tools or knowledge to buy and prepare healthy food.</p>
                    <p>If someone delivered a free bag of groceries to your doorstep, would you have the ability to cook and enjoy them? Many people don&rsquo;t have the time, tools, or skills to buy and prepare healthy food.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="tryUsToday" class="bg-secondary bg-image aspect-none" style="background-image: url(/img/bg-illustrations/4p-homepage-goodfood-01.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <a href="/partners" class="btn btn-primary btn-block text-mega editable">Meet our food access partners</a>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <img src="/uploads/food-access-programs/4p-foodaccess-fieldofgreens.jpg" class="img-fluid mb-3 editable" alt="" />
      </div>
      <div class="col-lg-6">
        <div class="editable">
          <h3><strong>Increasing Food Access in Ward 7, Washington, D.C.</strong></h3>
          <p>In our most successful program in the Ward 7 neighborhoods of Washington, D.C., 4P Foods increases access to freshly harvested food with weekly deliveries into the neighborhood to a central community center, the Washington Nationals Youth Baseball Academy (YBA).</p>
          <p>Each week at the YBA, we put on the Field of Greens market, offering the same fresh, healthy food that our members get in their bags each week, but at low to no cost, thanks to a USDA grant that 4P Foods, the YBA, and the YMCA received for the program. To address the personal access challenge, the YMCA puts on free cooking classes at the YBA using our food.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pt-0">
  <div class="container">
    {% include news/featured-news-list.html %}
  </div>
</section>
<section id="good-food-resources" class="bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="editable">
          <h2>
            Good Food Resources
          </h2>
        </div>
        <div class="editable">
          <p>Are you or your family struggling to access Good Food? Click here to learn more about resources that can help.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div data-cms-editor-link="cloudcannon:#food_resources" data-cms-editor-link-style="modal" class="responsive-card-deck cards-lg-3 cards-md-2 mt-5 cms-editor-link">
          {% for resource in page.food_resources %}
          <div class="card bg-transparent">
            <a href="{{ resource.link }}" class="bg-image aspect-4x3" style="background-image: url({{ resource.image }})"></a>
            <div class="card-body">
              <h5 class="text-white">{{ resource.name }}</h5>
              <p>{{ resource.description }}</p>
            </div>
            <div class="card-footer bg-transparent">
              <a href="{{ resource.link }}" class="btn btn-secondary" target="_blank" rel="noopener">View Resource</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% include footer-image.html %}
