---
layout: page
title: How It Works
meta:
  - description:
    image:
footer_image: /uploads/4p-bag-chard-cropped.jpg
faqs:
  - question: Where does 4P source its food from?
    answer_html: >-
      <p>The short answer: we source locally and regionally from a network of
      over 200 small, independent farmers, most of them located in the
      Mid-Atlantic. Does that mean it&rsquo;s &ldquo;local?&rdquo; That depends
      on where you live and how you define it, so we often use the term
      &ldquo;regional&rdquo; to describe our sourcing practices.</p><p>The
      longer answer: it depends on the item and the season. Avocados don&rsquo;t
      grow in the Mid-Atlantic, so we buy them from a fair-trade cooperative in
      Peru (read more about our sourcing of tropical items on our blog&nbsp;<a
      href="https://shenandoahproduce.4pfoods.com/posts/the-geography-of-good-food/">here</a>).
      As another example, we can offer peak-season strawberries longer by
      following their season up from the Carolinas in early spring through
      Virginia and beyond into mid-summer. 4P is a founding member of the
      Eastern Food Hub Collaborative, a network of other food hubs like us up
      and down the Eastern Seaboard who all work with their own vetted networks
      of small, sustainable farmers and work together to increase the variety
      and supply of produce available from this region.</p><p>Read our growing
      collection of&nbsp;<a
      href="https://shenandoahproduce.4pfoods.com/our-farmers">farmer
      profiles</a>&nbsp;for more information about our food.</p>
  - question: How does ordering from 4P work?
    answer_html: >-
      <p>We are your&nbsp;<a
      href="https://shenandoahproduce.4pfoods.com/posts/spring-into-action-with-community-supported-agriculture/">direct
      connection to the farm</a>. Ordering a bag from us is like an online
      farmers market meets a farm share or CSA (Community Supported Agriculture)
      program. Choose between different kinds of bags, like produce, meat, or
      dairy. Order once or on a recurring basis. Each week, you'll receive our
      newsletter with that week's &ldquo;menu&rdquo; with a hand-selected range
      of seasonal items. (Customize by swapping out anything you don&rsquo;t
      love for other things that you do). Once you&rsquo;ve customized your bag
      to your liking, you can add on additional a la carte items to round out
      your order! Read our handy&nbsp;<a
      href="https://shenandoahproduce.4pfoods.com/posts/how-to-shop/">shopping
      guide</a>.</p>
  - question: Is all the food organic? What about non-GMO?
    answer_html: >-
      <p>Some of it is USDA-certified organic, and some of it is not (not all
      farmers who use organic practices choose to get certified). While
      certifications are certainly important, what is most important to us
      is&nbsp;<a
      href="https://shenandoahproduce.4pfoods.com/posts/good-food-knows-no-boundaries/">Good
      Food</a>.</p><blockquote><p>Good Food provides nourishment and enables
      people to thrive, is equitably accessible to everyone in the region, is
      produced in a manner that is environmentally regenerative, comes from a
      supply chain in which every being is treated with respect and dignity, and
      improves health outcomes and economic security for
      all.</p></blockquote><p>We work with farmers who are good stewards of
      their resources, including land, water, and labor. Our&nbsp;<a
      href="https://shenandoahproduce.4pfoods.com/our-farmers">farmer
      profiles</a>&nbsp;are a great place to get more information about each
      farmer and their growing practices. While we embrace a local and regional
      food system, you can choose to&nbsp;<a
      href="https://staging.4pfoods.com/posts/how-to-shop/">customize</a>&nbsp;your
      bags to include only local products, for example.</p><p>Our long-term goal
      is to be 100% supporting regenerative agriculture. Regenerative
      agriculture seeks not only to maintain but also to increase soil health,
      carbon sequestration, and biodiversity.</p>
  - question: What if I want to skip a delivery?
    answer_html: >-
      <p>First of all, you can select how often you want to get your 4P Bag(s)
      and select items (eggs + pantry goods) with our frequency setting: once,
      weekly, every other week, and so on.</p><p>We recommend selecting
      recurring order and then using the skip feature to skip 1+ week at a time.
      On your account management page you have the option to&nbsp;<a
      href="https://shenandoahproduce.4pfoods.com/posts/how-to-shop/">skip your
      order</a>&nbsp;once or for a longer period of time. All we ask is that you
      skip any upcoming deliveries ahead of the 2-day cut-off period, during
      which time we finalize orders with farmers. The cut-off begins
      at&nbsp;<strong>11:59 pm on Sunday</strong>&nbsp;for a Wednesday
      delivery,&nbsp;<strong>11:59 pm on Monday</strong>&nbsp;for a Thursday
      delivery, and&nbsp;<strong>11:59 pm on Tuesday</strong>&nbsp;for a Friday
      delivery.&nbsp;</p>
  - question:
    answer_html:
community_featured_products:
  - family-veggie-box---medium
  - fruit-box---medium
  - dairy-bag-1
  - protein-bag
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 mx-auto text-center">
        <h1 class="editable">
          How It Works
        </h1>
        <h3 class="editable">
          <em></em>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <a href="#how-to-shop" class="nav-link btn btn-secondary text-white my-2 editable">farmers grow</a>
      </div>
      <div class="col-lg-4">
        <a href="#delivery" class="nav-link btn btn-secondary text-white my-2 editable">shop our fresh selection</a>
      </div>
      <div class="col-lg-4">
        <a href="#fresh-from-the-farm" class="nav-link btn btn-secondary text-white my-2 editable">direct delivery</a>
      </div>
    </div>
    <div class="row justify-content-between text-center mt-5">
      <div class="col-12 col-md-4">
        <div class="m-3 arrow arrow-right-green">
          <img src="/img/icons/4p-icons-ourimpact-01.png" alt="farm icon" class="img-fluid mx-4 w-50 mb-3" />
          <h4><em class="editable">4P farm partners grow and harvest sustainable, healthy food</em></h4>
          <div class="editable">
            <p>We work with more than 200 small- mid-sized family farmers for the best quality and variety year-round. And the more we grow, the more we give.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="m-3 arrow arrow-right-green">
          <img src="/img/icons/4p-icons-howitworks-02.png" alt="Orders Icon" class="img-fluid mx-4 w-50 mb-3" />
          <h4><em class="editable">build your bag the week before delivery</em></h4>
          <div class="editable">
            <p>Produce, dairy, or meat? Feeding a family of 6 or cooking for one? Shop by collection and choose what's in your order. We make it easy to keep fresh food on the table.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="m-3">
          <img src="/img/icons/4p-icons-howitworks-03.png" alt="Dropoff Icon" class="img-fluid mx-4 w-50 mb-3" />
          <h4><em class="editable">We pack your food and deliver to you</em></h4>
          <div class="editable">
            <p>&nbsp;Get convenient 4P delivery right to your door. Or pick one of our community delivery sites to save C02 and save money on delivery fees.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="how-to-shop" class="bg-tan">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 mx-lg-auto text-center">
        <h2 class="editable">
          direct from the farm to you
        </h2>
        <h3 class="editable">
          <em><em>Year-round we deliver healthy, sustainable food from local and regional family farms. This means you're getting the freshest products on a given day&mdash; all grown and harvested in the most responsible sustainable way</em></em>
        </h3>
      </div>
    </div>
  </div>
</section>
<!-- <how-to-shop></how-to-shop> -->
{% include wholesale-cta.html %}
{% include how-it-works/how-faq.html %}
<section id="delivery" class="position-relative">
  <img src="/img/bg-illustrations/4p-background-lettuce-01.png" alt="lettuce illustration" style="position: absolute; top: -60%; width: 28%; left: 0%; transform: rotate(-65deg); pointer-events: none;" />
  <img src="/img/bg-illustrations/4p-background-radish-01.png" alt="radish illustration" style="position: absolute; top: -40%; width: 28%; right: 5%; pointer-events: none;" />
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 col-xl-6 mx-lg-auto text-center">
        <h2 class="editable">
          Convenient
        </h2>
        <h3 class="editable">
          <em>Get fresh deliveries to your home, office or building</em>
        </h3>
      </div>
    </div>
  </div>
</section>
{% include how-it-works/how-tabs.html %}
<section id="fresh-from-the-farm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h2 class="editable">
          Freshly harvested
        </h2>
      </div>
      <div class="col-lg-4 text-lg-right">
        <a href="/our-farmers" class="btn btn-primary editable">meet farmers &amp; artisans</a>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-6">
        <div class="editable">
          <h4>local &amp; regional Farmers</h4>
          <p>Support farmers and artisans from our network of over 200 small- mid-sized family farms and local artisans while enjoying high quality produce, meat, and dairy products on your table.</p>
          <h4>Committed to our planet</h4>
          <p>Together we're building a more sustainable food system that supports low-impact, sustainable, and regenerative methods of food production. Efficiently delivered in reusable packaging to improve our carbon footprint.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <img src="/uploads/how-it-works/4p-howitworks-ourfarms-01.jpg" class="img-fluid editable" alt="" />
      </div>
    </div>
  </div>
</section>
{% include products/featured-products-picks.html %}
{% include footer-image.html %}
