---
layout: default
title: How to Shop
featured_image: /uploads/2020-10-09-4p-largebag-herdventures.jpg
video_embed:
how_to_shop_guide:
  - title: Sign Up
    description_html: >-
      <p>Choose pickup or delivery, and please include delivery directions
      (clear and concise are always appreciated!).</p><p>Enter your contact and
      billing information and you're ready to go shopping.</p>
  - title: Add 4P Bags to your cart
    description_html: >-
      <p>Produce, protein, dairy, and fruit bags are available.</p><p>Make sure
      to select a recurring order if you want to get Good Food on a regular
      basis! Don't worry, you'll get reminders before each delivery so you don't
      forget that you've got food coming.</p>
  - title: Customize your 4P bags
    description_html: >-
      <p>Produce and new fruit bags have a set price and number of items within
      each size. Swap out any item you don't want from our weekly picks and then
      add in any swap item you do want, one for one.</p><p>Protein and dairy
      bags have flexible prices based on what you put in them. We pack a
      "standard" bag with our 4P picks each week, and you have the freedom to
      add or take away as much as you want, with a minimum price of $20 per
      bag.</p>
  - title: Go shopping for a la carte items
    description_html: >-
      <p>Add on exactly what you need (extra produce when you have guests in
      town, eggs to your produce bag, your favorite local granola) or try out
      something new from a talented artisan producer.</p><p>Try building your
      own fully a la carte bag by adding individual items to your cart&mdash;as
      long as you hit the $30 minimum order, you're good to go. And all orders
      $50 and up get free delivery!</p>
videos:
  - title:
    description_html:
    embed_url:
    thumbnail_image:
faqs:
  - question: >-
      I’m here from your old site, and I’m not sure how to customize. Where did
      the points go?
    answer_html: >-
      <p>We did away with the points system in favor of a setup that requires a
      little less math and offers a lot more flexibility.&nbsp;</p><p>To get
      started, click the shopping bag icon in the upper right and then click
      &ldquo;Customize.&rdquo;&nbsp;</p><p>For produce and fruit bags, you
      simply swap items one for one. Use the +/- buttons to change the quantity
      of each item in the full product list, or click the red &ldquo;x&rdquo;
      next to an item in the &ldquo;What&rsquo;s Inside&rdquo; section to remove
      it. Keep an eye on the &ldquo;Items Left to Add&rdquo; box in that section
      (on the right side of your screen in desktop view or the top of your
      screen in mobile view) to know how much room is left in your bag. If you
      need more items that can fit in your bag, you can now add a la carte
      produce (and pantry, protein, and dairy!) items as needed once
      you&rsquo;re done customizing.&nbsp;</p><p>For protein and dairy bags, the
      sky&rsquo;s the limit! From the Customize page, you can add and subtract
      to your heart&rsquo;s content, but both bags have a minimum price of $20,
      so be sure to put at least that much in your bag (while you&rsquo;re
      customizing, you can see your running total in the &ldquo;Bag Price&rdquo;
      field in the &ldquo;What&rsquo;s Inside&rdquo; section on the right side
      of your screen in desktop view or the top of your screen in mobile
      view).</p>
  - question: >-
      I used to get pantry items in my produce bag, but now I don’t see as many
      pantry items available in my bag. Where did the pantry items go?
    answer_html: >-
      <p>Most pantry items have changed from bag items to a la carte items,
      meaning you can add them on to any order, no saving up points required.
      Click &ldquo;Pantry&rdquo; in the navigation bar at the top of the shop to
      see the full selection.</p><p>If you don&rsquo;t need as many produce
      items as come in a produce bag in addition to your pantry items,
      we&rsquo;ve got you covered! Build a fully a la carte order by selecting
      exactly the individual items that you want from each category--anything
      that can be added to your cart from the shop is available a la carte. As
      long as you hit the $30 minimum order, you&rsquo;re good to go, no
      produce, protein, or dairy bag required.</p>
  - question: >-
      How can I tell what’s coming in my bag and how many items I can add while
      I’m customizing?
    answer_html: >-
      <p>From the shop, click on &ldquo;What&rsquo;s Inside&rdquo; on any bag
      image to see what&rsquo;s available for a given week (if there are
      multiple weeks available, you can switch between them in the dropdown list
      at the top). Any items highlighted in pale yellow are what&rsquo;s coming
      in the standard bag that week.</p><p>Once you&rsquo;ve added a bag to your
      cart, click &ldquo;Customize&rdquo; to go to the Customize page (you can
      also navigate there from the &ldquo;Upcoming Deliveries&rdquo; page under
      &ldquo;My Account.&rdquo;) Bags will be pre-packed with the 4P Picks for
      the Week, which will show up in yellow at the top of the product list.
      Products you remove will change from yellow to white, and products you add
      will change from white to yellow. You can see a summary of your bag in the
      list in the &ldquo;What&rsquo;s Inside&rdquo; section on the right in
      desktop view or at the top in mobile view.</p><p>For produce and fruit
      bags, &ldquo;Items Left to Add&rdquo; in the &ldquo;What&rsquo;s
      Inside&rdquo; section will start at zero when the bag is full, and as you
      customize, you can track how many items are left to add to your bag
      there.&nbsp;</p><p>For protein and dairy bags, there is no item limit, so
      you can add as many items as you want. Just be sure you have at least $20
      worth of products in each bag, since that is the minimum bag
      price.&nbsp;</p>
  - question: When is my last chance to make changes to my order before delivery?
    answer_html: >-
      <p>Skip or swap deadlines are a full 48 hours before your delivery day.
      This time frame gives us a chance to finalize orders with farmers.
      Cut-offs are 11:59 pm on Sunday for a Wednesday delivery, 11:59 pm on
      Monday for a Thursday delivery, and 11:59 pm on Tuesday for a Friday
      delivery.&nbsp;</p>
  - question: I only want to order a small amount of dairy or protein--can I do that?
    answer_html: >-
      <p>Select dairy and protein items can be purchased a la carte, including
      eggs and butter. Take a look through the Dairy &amp; Eggs and Protein
      sections of the shop to see what is available to add to your
      cart.&nbsp;</p><p>Dairy and protein bags have $20 minimums, so if you
      customize one of those bags to be less than $20 worth of products,
      you&rsquo;ll still be charged $20. With a wide and ever-growing selection
      of products and flexible order frequencies (one-time, every week, every
      other week, monthly), $20 shouldn&rsquo;t be too hard to hit!</p>
  - question: >-
      It takes me a long time to scroll through all of the options while I’m
      customizing. Is there a quicker way to find what I want?
    answer_html: >-
      <p>Sure is! On the Customize page, click on the product categories under
      &ldquo;Customize Bag Contents&rdquo; to jump to that type of product (i.e.
      &ldquo;Fruits&rdquo; in the produce bag or &ldquo;Beef&rdquo; in the
      protein bag).</p>
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <h1 class="editable">
            How to shop 4P Foods
          </h1>
          <h3 class="editable">
            <em>Get Local, farm-fresh Good Food - delivered right to your door.</em>
          </h3>
        </div>
      </div>
    </div>
    {% if page.featured_image %}
      <div class="bg-image aspect-16x9" style="background-image: url({{ page.featured_image }})"></div>
    {% endif %}
    {% if page.video_embed %}
      <div class="row mt-5">
        <div class="col-12 col-lg-8 mx-lg-auto">
          <div class="responsive-iframe aspect-16x9">
            <iframe width="560" height="315" src="{{ page.video_embed }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</section>
<section id="how-to-shop-guide">
  <div class="container">
    <div class="row">
      {% for item in page.how_to_shop_guide %}
        <div class="col-lg-6 mb-5">
          <div class="row">
            <div class="col-lg-auto">
              <div class="circle bg-tan">
                {{ forloop.index }}
              </div>
            </div>
            <div class="col">
              <h4 class="my-3 text-nocase">{{ item.title }}</h4>
              {{ item.description_html }}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<section class="bg-secondary bg-image aspect-none" style="background-image: url(/img/bg-illustrations/4p-homepage-goodfood-01.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-lg-auto">
        <div class="editable text-center text-white">
          <h2 class="text-nocase mb-4">Engage In Our Mission</h2>
          <div>
            <h4>We Believe In A World Where Good Food Is The Norm&mdash;Not The Exception.</h4>
            <p>Every 4P purchase you make supports our <strong><a target="_blank" rel="noopener" href="/our-partners/">Good Food access initiatives</a></strong> and <strong><a target="_blank" rel="noopener" href="/our-farmers/">Good Food partner producers</a></strong>.</p>
            <p>You can contribute directly to the Washington Nationals Youth Baseball Academy&rsquo;s weekly <strong><a target="_blank" rel="noopener" href="https://www.nats4good.org/youth-baseball-academy/health-and-nutrition/">Field of Greens Market</a></strong> by adding a <strong><a href="https://shop.4pfoods.com/product/donation-bag">donation bag</a></strong>&nbsp;to your order or donating an order instead of skipping, or to Local Food Hub&rsquo;s <strong><a target="_blank" rel="noopener" href="https://www.localfoodhub.org/program/food-access/">Fresh Farmacy</a></strong> produce prescription program by making a tax-deductible donation <strong><a target="_blank" rel="noopener" href="https://www.localfoodhub.org/donate/">here</a></strong>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <div class="text-center editable">
          <h2>Shop Tutorials</h2>
        </div>
      </div>
    </div>
    {% if page.videos.first.embed_url %}
      <div class="row">
        {% for video in page.videos %}
          <div class="col-lg-4 mb-4">
            <a href="#" class="bg-image aspect-16x9 video-thumbnail" data-toggle="modal" data-target="#videoModal" data-thevideo="{{ video.embed_url }}" style="background-image: url({{ video.thumbnail_image }})">
        
            </a>
            <h4 class="mt-4">{{ video.title }}</h4>
            {{ video.description_html }}
          </div>
        {% endfor %}
      </div>
    {% endif %}
    <div class="row">
      {% for slide in site.data.onboarding.slides %}
        <div class="col-lg-4 mb-4">
          <!-- desktop video output-->
          <a href="#" class="bg-image aspect-16x9 video-thumbnail d-none d-lg-block" data-toggle="modal" data-target="#videoModal" data-thevideo="{{ slide.video_desktop_path }}" style="background-image: url({{ slide.thumbnail_desktop_image }})">
      
          </a>
          <!-- mobile video output -->
          <a href="#" class="bg-image aspect-16x9 video-thumbnail d-block d-lg-none" data-toggle="modal" data-target="#videoModal" data-thevideo="{{ slide.video_mobile_path }}" style="background-image: url({{ slide.thumbnail_mobile_image }})">
      
          </a>
          <h4 class="mt-4">{{ slide.title }}</h4>
          {{ slide.description_html }}
        </div>
        {% for instruction in slide.instructions %}
          <div class="col-lg-4 mb-4">
            <!-- desktop video output -->
            <a href="#" class="bg-image aspect-16x9 video-thumbnail d-none d-lg-block" data-toggle="modal" data-target="#videoModal" data-thevideo="{{ instruction.video_desktop_path }}" style="background-image: url({{ instruction.thumbnail_desktop_image }})">
        
            </a>
            <!-- mobile video output -->
            <a href="#" class="bg-image aspect-16x9 video-thumbnail d-block d-lg-none" data-toggle="modal" data-target="#videoModal" data-thevideo="{{ instruction.video_mobile_path }}" style="background-image: url({{ instruction.thumbnail_mobile_image }})">
        
            </a>
            <h4 class="mt-4">{{ instruction.title }}</h4>
            {{ instruction.description_html }}
          </div>
        {% endfor %}
      {% endfor %}
    </div>
    
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center text-primary mb-5 editable">
          <h2>Shopping FAQ</h2>
        </div>
        
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="accordion" id="accordion-faq">
          {% for item in page.faqs %}
            <div class="card">
              <div class="card-header py-0" id="heading-{{ forloop.index }}">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{ forloop.index }}" aria-expanded="true" aria-controls="collapse-{{ forloop.index }}">
                  {{ item.question }} <i class="ri-arrow-down-s-fill text-primary"></i>
                </button>
              </div>
          
              <div id="collapse-{{ forloop.index }}" class="collapse" aria-labelledby="heading-{{ forloop.index }}" data-parent="#accordion-faq">
                <div class="card-body px-0 pt-0">
                  {{ item.answer_html }}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div>
          <div class="responsive-iframe aspect-16x9">
            <iframe width="100%" src=""></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>