---
layout: default
title: How to Shop New
meta:
show_mailchimp_popup: false
featured_image: /uploads/LandingPage_Photo_4PFoods.jpg
video_embed:
testimonials:
  - testimonial_text: >-
      My wife and I look forward to our deliveries each week. It’s great work to support small farmers.
    name: Alex, 4P Customer
    source:
  - testimonial_text: >-
      Our working relationship with 4P Foods is simply outstanding. 4P gave us a market outlet for our fruit and vegetables that we really need. Keep selling and we will keep growing for you!
    name: C. Brick Goldman, 4P Farm Partner
    source:
  - testimonial_text: >-
      We’ve tried a number of meal prep kits and grocery delivery services, and nothing compared to the quality of 4P.
    name: Meredith, 4P Customer
    source:
how_to_shop_guide:
  - title: Pick your bag
    description_html: >-
  - title: Register as a customer
    description_html: >-
  - title: Customize weekly - swap, add, change, skip or donate your bag
    description_html: >-
  - title: Fresh food delivered from our farmers to your doorstep
    description_html: >-
  - title: We'll even pick up and reuse your old bag.
    description_html: >-
stats:
  - title: Farmer and artisans supported in the Mid-Atlantic region
    stat: 135
  - title: Cents on the dollar go to the farmer on average compared to only 14 cents in the industrial food system  
    stat: 60
  - title: Pounds of food donated to community organizations in Virginia
    stat: 239K
featured_products:
  - family-veggie-box---medium
  - protein-bag
  - dairy-bag-1      
videos:
  - title:
    description_html:
    embed_url:
    thumbnail_image:
footer_image: /uploads/footer-image-banner.jpg
---

<section>
  <div class="container">
    <div class="row align-items-center mb-5">
      <div class="col-12 col-lg-5 order-2 order-lg-1">
        <div>
          <h1 class="editable">
            Eat Good Food.<br>Change the World.
          </h1>
          <div class="editable">
            <h3><em>Delivering food from Mid-Atlantic farmers that supports your values.</em></h3>
          </div>
          <a href="https://shop.4pfoods.com/summary.php?go=products" class="btn btn-primary mt-4 editable">Start Shopping</a>
        </div>
      </div>
      <div class="col-12 col-lg-7 order-1 order-lg-2">
        {% if page.featured_image %}
          <div class="bg-image aspect-4x3 mt-3 mt-lg-0" style="background-image: url({{ page.featured_image }})"></div>
        {% endif %}
      </div>
    </div>
    {% comment %}
    {% if page.video_embed %}
      <div class="row mt-5">
        <div class="col-12 col-lg-8 mx-lg-auto">
          <div class="responsive-iframe aspect-16x9">
            <iframe width="560" height="315" src="{{ page.video_embed }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    {% endif %}
    {% endcomment %}
  </div>
</section>
<section id="how-to-shop-testimonials" class="bg-primary text-white d-none d-lg-block">
  <div class="container">
    <div class="row">
      {% for testimonial in page.testimonials %}
        <div class="col-12 col-lg-4 {% unless forloop.last %}border-right{% endunless %}">
          <div class="d-flex h-100 align-items-center">
            <blockquote class="quote text-center">
              <p>“{{ testimonial.testimonial_text}}”</p>
              <footer>{{ testimonial.name }} - <cite>{{ testimonial.source }}</cite></footer>
            </blockquote>
          </div>
          
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% include carousel-testimonials.html class="d-block d-lg-none" %}
<section id="how-to-shop-guide">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <div class="text-center editable">
          <h2>How to shop</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6">
        {% for item in page.how_to_shop_guide %}
          <div class="mb-5">
            <div class="row align-items-center">
              <div class="col-auto">
                <div class="circle circle-sm bg-tan">
                  {{ forloop.index }}
                </div>
              </div>
              <div class="col">
                <h4 class="text-nocase mb-0">{{ item.title }}</h4>
                {% if item.description_html %}
                  {{ item.description_html }}
                {% endif%}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="col-12 col-lg-6">
        <div class="pl-3">
          <img src="/uploads/gif-placeholder.png" class="img-fluid" alt="How to shop">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-green-dark bg-image aspect-none" style="background-image: url(/img/bg-illustrations/4p-homepage-button-02.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <a href="https://shop.4pfoods.com" class="btn btn-outline-white btn-lg editable">Start Shopping 4P</a>
      </div>
    </div>
  </div>
</section>
<section class="bg-tan d-none d-lg-block">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center editable">
          <h2>Impact Stats</h2>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      {% for item in page.stats %}
        <div class="col-12 col-lg-4 ">
          <div class="text-center stat px-4">
            <div class="position-relative stat-wrapper">
              <div class="circle circle-lg bg-white"></div>
              <span class="display-4 font-weight-bold text-primary stat-number">{{ item.stat }}</span>
            </div>
            <p class="stat-title text-serif">{{ item.title }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% include carousel-stats.html class="d-block d-lg-none" %}
<section>
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <div class="text-center editable">
          <h2>Featured Bags</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% include products/featured-products-grid.html editor-link="#featured_products" %}
      </div>
    </div>
  </div>
</section>
{% include footer-image.html %}
{% comment %}
<section class="bg-secondary bg-image aspect-none" style="background-image: url(/img/bg-illustrations/4p-homepage-goodfood-01.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-lg-auto">
        <div class="editable text-center text-white">
          <h2 class="text-nocase mb-4">Engage In Our Mission</h2>
          <div>
            <h4>We Believe In A World Where Good Food Is The Norm&mdash;Not The Exception.</h4>
            <p>Every 4P purchase you make supports our <strong><a target="_blank" rel="noopener" href="/our-partners/">Good Food access initiatives</a></strong> and <strong><a target="_blank" rel="noopener" href="/our-farmers/">Good Food partner producers</a></strong>.</p>
            <p>You can contribute directly to the Washington Nationals Youth Baseball Academy&rsquo;s weekly <strong><a target="_blank" rel="noopener" href="https://www.nats4good.org/youth-baseball-academy/health-and-nutrition/">Field of Greens Market</a></strong> by adding a <strong><a target="_blank" rel="noopener" href="https://shop.4pfoods.com/summary.php?go=products&amp;cat=93&amp;12">donation bag</a></strong>&nbsp;to your order or donating an order instead of skipping, or to Local Food Hub&rsquo;s <strong><a target="_blank" rel="noopener" href="https://www.localfoodhub.org/program/food-access/">Fresh Farmacy</a></strong> produce prescription program by making a tax-deductible donation <strong><a target="_blank" rel="noopener" href="https://www.localfoodhub.org/donate/">here</a></strong>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="faqs">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center text-primary mb-5 editable">
          <h2>Shopping &amp; Delivery FAQS</h2>
        </div>
        
      </div>
    </div>
    {% for object in site.data.faqs %}
      {% assign title = object.title | slugify %}
      {% if title contains 'shopping' or title contains 'delivery' %}
      <div class="row mt-5">
        <div class="col-12">
          <h2 class="mb-4">{{ object.title }}</h2>
        </div>
      </div>
      <div id="{{ object.title | slugify }}" class="row mb-5">
        <div class="col-12">
          <div class="accordion" id="accordion-faq">
            {% for item in object.faqs %}
              <div class="card">
                <div class="card-header py-0" id="heading-{{ forloop.index }}">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{ forloop.index }}" aria-expanded="true" aria-controls="collapse-{{ forloop.index }}">
                    {{ item.question }} <i class="ri-arrow-down-s-fill text-primary"></i>
                  </button>
                </div>
            
                <div id="collapse-{{ forloop.index }}" class="collapse" aria-labelledby="heading-{{ forloop.index }}" data-parent="#accordion-faq">
                  <div class="card-body px-0 pt-0">
                    {{ item.answer_html }}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
    <div class="row mt-5">
      <div class="col-12">
        <div class="editable text-center">
          <p><strong>Still have a question? <a href="/contact">Shoot us a note</a></strong></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="tutorials">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <div class="text-center editable">
          <h2>Shop Tutorials</h2>
        </div>
      </div>
    </div>
    {% if page.videos.first.embed_url %}
      <div class="row">
        {% for video in page.videos %}
          <div class="col-lg-4 mb-4">
            <a href="#" class="bg-image aspect-16x9 video-thumbnail" data-toggle="modal" data-target="#videoModal" data-thevideo="{{ video.embed_url }}" style="background-image: url({{ video.thumbnail_image }})">
        
            </a>
            <h4 class="mt-4">{{ video.title }}</h4>
            {{ video.description_html }}
          </div>
        {% endfor %}
      </div>
    {% endif %}
    <div class="row">
      {% for slide in site.data.onboarding.slides %}
          {% if slide.show_on_how_to_shop %}
          <div class="col-lg-4 mb-4">
            <!-- desktop video output-->
            <a href="#" class="bg-image aspect-16x9 video-thumbnail d-none d-lg-block" data-toggle="modal" data-target="#videoModal" data-thevideo="{{ slide.video_desktop_path }}" style="background-image: url({{ slide.thumbnail_desktop_image }})">
        
            </a>
            <!-- mobile video output -->
            <a href="#" class="bg-image aspect-16x9 video-thumbnail d-block d-lg-none" data-toggle="modal" data-target="#videoModal" data-thevideo="{{ slide.video_mobile_path }}" style="background-image: url({{ slide.thumbnail_mobile_image }})">
        
            </a>
            <h4 class="mt-4">{{ slide.title }}</h4>
            {{ slide.description_html }}
          </div>
          {% endif %}
        {% for instruction in slide.instructions %}
          {% if instruction.show_on_how_to_shop %}
            <div class="col-lg-4 mb-4">
              <!-- desktop video output -->
              <a href="#" class="bg-image aspect-16x9 video-thumbnail d-none d-lg-block" data-toggle="modal" data-target="#videoModal" data-thevideo="{{ instruction.video_desktop_path }}" style="background-image: url({{ instruction.thumbnail_desktop_image }})">
          
              </a>
              <!-- mobile video output -->
              <a href="#" class="bg-image aspect-16x9 video-thumbnail d-block d-lg-none" data-toggle="modal" data-target="#videoModal" data-thevideo="{{ instruction.video_mobile_path }}" style="background-image: url({{ instruction.thumbnail_mobile_image }})">
          
              </a>
              <h4 class="mt-4">{{ instruction.title }}</h4>
              {{ instruction.description_html }}
            </div>
          {% endif %}  
        {% endfor %}
      {% endfor %}
    </div>
    
  </div>
</section>
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div>
          <div class="responsive-iframe aspect-16x9">
            <iframe width="100%" src=""></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endcomment %}
