---
layout: page
title: How It Works
meta:
footer_image: /uploads/4p-bag-chard-cropped.jpg
faqs:
  - question: Is it organic? What about non-GMO?
    answer_html: >-
      <p>Some of it is certified organic, and some of it is not. The
      certification process for USDA Organic can be lengthy and expensive, so
      not all farmers who use organic practices choose to become certified.
      However, we know all of the farmers with whom we work, and we do our best
      to ensure that all of them are good stewards of land, water, and labor and
      use safe and sustainable farming methods (no synthetic chemical
      fertilizers or pesticides, as well as no GMO seeds or feed).</p><p>It may
      be several years until enough farms in the Mid-Atlantic foodshed have been
      certified for us to change the answer to this question to a simple yes.
      Until then, we hope that you will help us to support those farmers that we
      have identified as being good stewards of the land and animals under their
      care. 4P partners with many Local Food Hub partnering farms, who are
      supported by Local Food Hub's Grower Services which helps farmers through
      the process of food safety and organic certifications.</p><p>Our long-term
      goal is to be 100% supporting regenerative agriculture. Regenerative
      agriculture, a term coined by The Rodale Institute, goes beyond
      sustainable and seeks to improve soil health, animal welfare, and worker
      fairness. We&rsquo;re not there yet, but our hope is that with the support
      of our members and partners we can build a food system that benefits the
      entire ecosystem.</p>
  - question: Is there a minimum commitment?
    answer_html: >-
      <p>There is no minimum commitment and no tricky sign-up policy. Cancel
      anytime before your skip deadline&ndash;but it might be worth a call <a
      target="_blank" rel="noopener noreferrer" href="tel:5712938628">(571)
      293-8628</a> or email&nbsp;<a
      href="mailto:community@4pfoods.com">shenandoahproduce@4pfoods.com</a>&nbsp;to
      customer service first.</p>
  - question: What do you deliver?
    answer_html: >-
      <p>We deliver the freshest, highest-quality produce, meat, dairy, and
      artisan goods from farmers and producers in the Mid-Atlantic region (and
      occasionally beyond). For produce, our offerings are seasonal. In the
      spring, that means asparagus and strawberries. Summer, tomatoes and sweet
      corn. Autumn equals apples and leafy greens. And in the winter, it&rsquo;s
      a mix of greenhouse products like lettuce, storage crops like butternut
      squash, artisan goods from local makers, and fruits and vegetables from
      farmers further south.</p><p>Year-round, we offer great local meats and
      dairy from animals raised on open pasture and treated with dignity
      throughout their lives, as well as delicious goods like pastas, jams, and
      more made by local artisans.</p><p>In short, we deliver the bounty of your
      regional foodshed, harvested daily and delivered to you. With 4P Foods,
      you are voting with your fork for a more sustainable and equitable food
      system for everyone.</p>
  - question: What if I want to skip a delivery?
    answer_html: >-
      <p>Plan your calendar with 4P! You may schedule to skip or donate a
      reocurring order for up to 6 months in advance. If you skip, we
      won&rsquo;t deliver your order and we won&rsquo;t charge you. If you
      choose to donate your order, you will still pay for it, but we will
      deliver it to a family in need through our partnership with Fauquier Food
      Bank. All we ask is that you skip any upcoming deliveries ahead of the
      2-day cut-off period, during which time we put in orders with farmers. The
      cut-off begins at 11:59pm on Sunday for a Wednesday delivery, 11:59pm on
      Monday for a Thursday delivery, and 11:59pm on Tuesday for a Friday
      delivery. Visit the account management page of your 4P account.</p>
community_picks_products:
  - cinnamon-apple-chips
  - strawberries
  - dilly-daikon-pickles
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 mx-auto text-center">
        <h1 class="editable">
          How It Works
        </h1>
        <h3 class="editable">
          <em></em>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <a href="#how-to-shop" class="nav-link btn btn-secondary text-white my-2 editable">farmers grow</a>
      </div>
      <div class="col-lg-4">
        <a href="#delivery" class="nav-link btn btn-secondary text-white my-2 editable">shop our fresh selection</a>
      </div>
      <div class="col-lg-4">
        <a href="#fresh-from-the-farm" class="nav-link btn btn-secondary text-white my-2 editable">direct delivery</a>
      </div>
    </div>
    <div class="row justify-content-between text-center mt-5">
      <div class="col-12 col-md-4">
        <div class="m-3 arrow arrow-right-green">
          <img src="/img/icons/4p-icons-ourimpact-01.png" alt="farm icon" class="img-fluid mx-4 w-50 mb-3" />
          <h4><em class="editable">partner farmers grow and harvest sustainable, healthy food</em></h4>
          <div class="editable">
            <p>We work with more than 200 small- mid-sized family farmers for the best quality and variety year-round. And the more we grow, the more we give.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="m-3 arrow arrow-right-green">
          <img src="/img/icons/4p-icons-howitworks-02.png" alt="Orders Icon" class="img-fluid mx-4 w-50 mb-3" />
          <h4><em class="editable">build your bag the week before delivery</em></h4>
          <div class="editable">
            <p>Produce, dairy, or meat? Feeding a family of 6 or cooking for one? Shop by collection and choose what's in your order. We make it easy to keep fresh food on the table.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="m-3">
          <img src="/img/icons/4p-icons-howitworks-03.png" alt="Dropoff Icon" class="img-fluid mx-4 w-50 mb-3" />
          <h4><em class="editable">We pack your food and deliver to you</em></h4>
          <div class="editable">
            <p>&nbsp;Get convenient 4P delivery right to your door. Or pick one of our community delivery sites to save C02 and save money on delivery fees.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="how-to-shop" class="bg-tan">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 mx-lg-auto text-center">
        <h2 class="editable">
          direct from the farm to you
        </h2>
        <h3 class="editable">
          <em><em>Year-round we deliver healthy, sustainable food from local and regional family farms. This means you're getting the freshest products on a given day&mdash; all grown and harvested in the most responsible sustainable way</em></em>
        </h3>
      </div>
    </div>
  </div>
</section>
<!-- <how-to-shop></how-to-shop> -->
{% include wholesale-cta.html %}
{% include how-it-works/how-faq.html %}
<section id="delivery" class="position-relative">
  <img src="/img/bg-illustrations/4p-background-lettuce-01.png" alt="lettuce illustration" style="position: absolute; top: -60%; width: 28%; left: 0%; transform: rotate(-65deg); pointer-events: none;" />
  <img src="/img/bg-illustrations/4p-background-radish-01.png" alt="radish illustration" style="position: absolute; top: -40%; width: 28%; right: 5%; pointer-events: none;" />
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 col-xl-6 mx-lg-auto text-center">
        <h2 class="editable">
          Conventient
        </h2>
        <h3 class="editable">
          <em>Get 4P Delivered to your home, office or building</em>
        </h3>
      </div>
    </div>
  </div>
</section>
{% include how-it-works/how-tabs.html %}
<section id="fresh-from-the-farm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h2 class="editable">
          Freshly harvested
        </h2>
      </div>
      <div class="col-lg-4 text-lg-right">
        <a href="/our-farmers" class="btn btn-primary editable">meet farmers &amp; artisans</a>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-6">
        <div class="editable">
          <h4>local &amp; regional Farmers</h4>
          <p>Support farmers and artisans from our network of over 200 small- mid-sized family farms and local artisans while enjoying high quality produce, meat, and dairy products on your table.</p>
          <h4>Committed to our planet</h4>
          <p>Together we're building a more sustainable food system that supports low-impact, sustainable, and regenerative methods of food production. Efficiently delivered in reusable packaging to improve our carbon footprint.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <img src="/uploads/how-it-works/4p-howitworks-ourfarms-01.jpg" class="img-fluid editable" alt="" />
      </div>
    </div>
  </div>
</section>
{% include products/featured-products-picks.html %}
{% include footer-image.html %}
