---
layout: page
title: How It Works
meta:
  - description:
    image:
footer_image: /uploads/4p-bag-chard-cropped.jpg
community_featured_products:
  - family-veggie-box---medium
  - fruit-box---medium
  - dairy-bag-1
  - protein-bag
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 mx-auto text-center">
        <h1 class="editable">
          How It Works
        </h1>
        <h3 class="editable">
          <em><em>we deliver healthy, sustainable food from local and regional family farms to you</em></em>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <a href="#how-to-shop" class="nav-link btn btn-secondary text-white my-2 editable">farmers grow</a>
      </div>
      <div class="col-lg-4">
        <a href="#delivery" class="nav-link btn btn-secondary text-white my-2 editable">Fill your bags</a>
      </div>
      <div class="col-lg-4">
        <a href="#fresh-from-the-farm" class="nav-link btn btn-secondary text-white my-2 editable">Get Good Food</a>
      </div>
    </div>
    <div class="row justify-content-between text-center mt-5">
      <div class="col-12 col-md-4">
        <div class="m-3 arrow arrow-right-green">
          <img src="/img/icons/4p-icons-ourimpact-01.png" alt="farm icon" class="img-fluid mx-4 w-50 mb-3" />
          <h4><em class="editable">Farmers Grow &amp; Harvest</em></h4>
          <div class="editable">
            <p>We work with more than 250+ sustainable family farmers in the Mid-Atlantic for the best quality and variety of fresh food. The more we grow, the more farmers thrive and the more we give back through our food equity initiatives.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="m-3 arrow arrow-right-green">
          <img src="/img/icons/4p-icons-howitworks-02.png" alt="Orders Icon" class="img-fluid mx-4 w-50 mb-3" />
          <h4><em class="editable">Choose Your Bag &amp; Customize What's Inside</em></h4>
          <div class="editable">
            <p>Choose your 4P Bag, customize what's inside and add on extra items to fill your bags. Set frequency for one-time or recurring orders to get what you need, when you need it.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="m-3">
          <img src="/img/icons/4p-icons-howitworks-03.png" alt="Dropoff Icon" class="img-fluid mx-4 w-50 mb-3" />
          <h4><em class="editable">We deliver to you</em></h4>
          <div class="editable">
            <p>We make it easy to keep healthy food on the table! Save yourself a trip to the store and set up delivery right to your door. Or set your delivery to a 4P pick-up site to save C02 and save money.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="how-to-shop" class="bg-tan">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 mx-lg-auto text-center">
        <h2 class="editable">
          Our promise
        </h2>
        <h3 class="editable">
          <em><em>Our farm partners are good stewards of the land, food, animals, and communities they serve. We encourage farmers to use sustainable and regenerative farming methods to rebuild the soil and health of the community. We pay farmers fair prices for the work they do and support equitable food sourcing and fair labor practices. we use reusable packaging to curb our carbon footprint. we will always strive to provide you with source transparency so that you can make informed decisions about what food is on your table.</em></em>
        </h3>
      </div>
    </div>
  </div>
</section>
<!-- <how-to-shop></how-to-shop> -->
{% include wholesale-cta.html %}
{% include how-it-works/how-faq.html %}
<section id="delivery" class="position-relative">
  <img src="/img/bg-illustrations/4p-background-lettuce-01.png" alt="lettuce illustration" style="position: absolute; top: -60%; width: 28%; left: 0%; transform: rotate(-65deg); pointer-events: none;" />
  <img src="/img/bg-illustrations/4p-background-radish-01.png" alt="radish illustration" style="position: absolute; top: -40%; width: 28%; right: 5%; pointer-events: none;" />
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 col-xl-6 mx-lg-auto text-center">
        <h2 class="editable">
          Convenient
        </h2>
        <h3 class="editable">
          <em>Get fresh deliveries to your home, office, or building</em>
        </h3>
      </div>
    </div>
  </div>
</section>
{% include how-it-works/how-tabs.html %}
<section id="fresh-from-the-farm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h2 class="editable">
          building a better food system
        </h2>
      </div>
      <div class="col-lg-4 text-lg-right">
        <a href="/our-farmers" class="btn btn-primary editable">meet farmers &amp; artisans</a>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-6">
        <div class="editable">
          <h4>Fresh from our farmers</h4>
          <p>Eat seasonal and healthy food fresh and transparently sourced from our trusted network of regional farms.&nbsp;</p>
          <h4>Committed to our planet</h4>
          <p>Together we're building a more sustainable food system that supports low-impact, sustainable, and regenerative methods of food production. Curb your food footprint with responsibly produced groceries delivered in reusable packaging.</p>
          <h4>Good Food FOR ALL</h4>
          <p>Our values go beyond local. With 4P, your food dollars support small-scale farmers and help make Good Food--food that is nourishing, equitably accessible, environmentally regenerative, and ethically produced--available to all.</p>
          <p><em></em></p>
        </div>
      </div>
      <div class="col-lg-6">
        <img class="img-fluid editable" alt="" src="/uploads/copy-of-2020-06-17-va-hanover-agriberryfarm-danieljames-herd-ventures-13.jpg" width="554" />
      </div>
    </div>
  </div>
</section>
{% include products/featured-products-picks.html %}
{% include footer-image.html %}
