---
layout: page
title: >-
  Home | Farm-To-Table Grocery Delivery | Local CSA | Washington, DC | Virginia
  | Maryland 
meta:
  - title: >-
      4P Foods | Farm-To-Table Grocery Delivery | Local CSA | Washington, DC |
      Virginia | Maryland 
    description: >-
      4P Foods sources fresh, high-quality, delicious food, prioritizing local
      and regional partners. We cultivate a network of growers and producers who
      engage in labor practices that enable people and communities to thrive,
      and in growing practices that actively build the soil and promote
      biodiversity. We source Good Food in service of creating a better food
      system that is equitable and regenerative, and in which all living beings
      are treated with respect and dignity.
    image:
_assets:
  - image: /uploads/4p-produce-04-22-2020.jpg
  - image: /uploads/4P-Produce-06.10.20.jpg
  - image: /uploads/4P-Produce-06.14.20-1024x984.jpg
  - image: /uploads/4pfoods-cabbage.png
  - image: /uploads/4pfoods-femalefarmer-tomatoes.png
  - image: /uploads/4pfoods-peaches.png
  - image:
  - image: /uploads/4pfoods-walkthetalk-web.png
carousel:
  - title: For the prosperity of our planet and people.
    link:
      label: Our mission
      link: /about/
    description_html:
    image: /uploads/4pfoods-icons-darkgreen.png
  - title: Rebuilding a regenerative and equitable food system.
    link:
      label: How it works
      link: /how-it-works
    description_html:
    image: /uploads/4pfoods-icons-lightblue-web.png
  - title: We work direct with local and regional farmers.
    link:
      label: Meet our farmers
      link: /our-farmers/
    description_html:
    image: /uploads/4pfoods-icons-lightgrey-web.png
  - title: Simple seasonal recipes for every harvest.
    link:
      label: Our Recipes
      link: /recipes
    description_html:
    image: /uploads/4pfoods-icons-darkpurple.png
featured_products:
  - family-veggie-box---medium
  - protein-bag
  - dairy-bag-1
testimonials:
  - testimonial_text: >-
      We've tried many meal prep kits and grocery delivery services - nothing
      compares to the quality of 4P.
    name: Meredith
    source: Phone
  - testimonial_text: >-
      I choose 4P because they work with small growers and help farmers, plus I
      love the fresh, diverse offerings and items such as honey, granola,
      sauces, salad dressings and unususal fresh cheeses!
    name: Vikki
    source: Phone Call
  - testimonial_text: >-
      I love that I know what I'll be getting, can skip a week or donate. Also,
      I love that I don't pay in advance. The veggies and fruit so far have been
      amazing and I love the recipes in the newsletter.
    name: Jamie
    source: Facebook
  - testimonial_text: >-
      4P Foods makes buying local so easy. With direct home delivery, an online
      shop, and an entire box of seasonal veggies for the week around $30.
      Honestly, being in their region makes my life so much easier.
    name: Veronica
    source: Instagram
  - testimonial_text: >-
      The food is fresh and amazing, there is great flexibility. I know I am
      getting nutritionally dense food and making a difference for my health, my
      community, and the planet.
    name: Kristin
    source: Facebook
  - testimonial_text: >-
      It is nice to know I am eating locally grown foods that are, mostly,
      organic. It perfectly appeals to me as: 1) I am very lazy, and 2) I am
      plagued with guilt about eating ethically (Thank you, Michael Pollan,
      you've ruined me forever. Just kidding!) Go with 4P foods! You won't
      regret it. 4P 4Eva!
    name: Wan
    source: Yelp
  - testimonial_text: >-
      We ate well this year, and lost weight! Great for pandemic, but even
      better for long term shift of eating local in season. They have
      relationships with small farms to have even citrus and Fair Trade avocados
      and bananas. 4P also works to donate fresh food where there is a lack of
      grocery stores in DC. I think this is some of the smartest work I’ve seen
      on the future of food sustainability put into action.
    name: Janet
    source: Instagram
  - testimonial_text: >-
      Huge fan of their meat share! They deliver in a specially packaged bag to
      ensure the meat stays fresh.  4P has made me feel a lot more comfortable
      about the healthiness and ethics of the meat we eat! We order every other
      week since they give such generous amounts, and it's been more than enough
      for me and my husband. A few example favorites: breakfast sausage, chicken
      breasts, ground beef. 4P has made us cook more creatively as well since it
      automatically injects something new into your routine!
    name: Ami
    source: Yelp
  - testimonial_text: >-
      I can sing the praise to your amazing farmers who are providing the best,
      healthy food for us! We love you all and are so thankful that you are
      feeding so many people. We treasure your 4P network and have told dozens
      of friends and hundreds of neighbors on Listserv to join your network.
      Stay safe and healthy. Delish, healthy food. Thanks for making our lives
      better.
    name: Jane
    source: Email
  - testimonial_text: >-
      4P’s approached our company with their new, innovative approach to fresh,
      healthy food many years ago. They helped educate our staff with their
      professional approach to healthy food and presented their concept to
      staff. They are responsive and positive to any problem that arises and
      have been completely reliable. I am thrilled to be able to highly
      recommend them to others.
    name: Sandy
    source: Email
featured_recipes:
  - simple-grilled-peach-salad-recipe
  - grilled-corn--zucchini-pasta-salad
  - callaloo-rice
  - kofta-grilled-pita-and-creamy-herb-yogurt
  - marinated-mushrooms-1
  - semolina-pappardelle-w-spinach-pecan-pesto
  - sunchoke-hash-sausage-farm-egg
---

<div id="carousel-home" class="carousel-feature carousel slide mb-5" data-ride="carousel">
  <div class="carousel-inner">
    {% for item in page.carousel %}
    <div class="carousel-item {% if forloop.first %}active{% endif %}">
      <section class="bg-image aspect-hero text-white" style="background-image: url({{ item.image }})">
        <div class="bg-fill">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="mb-4">
                  <h1>{{ item.title }}</h1>
                </div>
                <a href="{{ item.link.link }}" class="btn btn-primary">{{ item.link.label }}</a>
              </div>
            </div>
          </div>
        </div>

      </section>
    </div>
    {% endfor %}
  </div>
  <div class="carousel-controls-wrapper">
    <div class="container">
      <div class="d-flex">
        <a class="carousel-control-prev" href="#carousel-home" role="button" data-slide="prev">
          <i class="ri-arrow-left-s-line"></i>
          <span class="sr-only">Previous</span>
        </a>
        <ol class="carousel-indicators">
          {% for item in page.carousel %}
          <li data-target="#carousel-home" data-slide-to="{{ forloop.index0 }}" class="{% if forloop.first %}active{% endif %}"></li>
          {% endfor %}
        </ol>
        <a class="carousel-control-next" href="#carousel-home" role="button" data-slide="next">
          <i class="ri-arrow-right-s-line"></i>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>


<section id="featured-collections">
  <div class="container">
    <div class="row mb-3">
      <div class="col-lg-8">
        <h2 class="editable">
          Weekly groceries delivered direct from local farms - in DC, VA, and MD
        </h2>
        <div class="editable">
          <h5 class="mb-lg-5">4P Foods delivers in-season produce handpicked by farmers in Washington, DC, Virginia, Maryland, the Eastern Seaboard, and the MidAtlantic.&nbsp;<br /><br />Ready to love the way you eat? Get your 4P Foods Tote bag!</h5>
        </div>
      </div>
      <div class="col-lg-4 text-lg-right">
        <a href="https://shop.4pfoods.com/login?null=?null=" class="btn btn-primary btn-lg editable storeLink">REGISTER TODAY</a>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% include products/featured-products-grid.html editor-link="#featured_products" %}
      </div>
    </div>
  </div>
</section>
<section id="how-it-works">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
        <h2 class="editable">
          How it works
        </h2>
        <h3 class="editable">
          <em>Delivering Ethically Raised, in-season food - in Washington, D.C., Virginia, &amp; Maryland</em>
        </h3>
      </div>
      <div class="col-12 col-lg-4 text-lg-right">
        <a href="https://shop.4pfoods.com/login" class="btn btn-secondary text-white editable">SUBSCRIBE TODAY</a>
      </div>
    </div>
    <div class="row justify-content-between text-center mt-lg-5">
      <div class="col-12 col-md-4">
        <div class="m-3 arrow arrow-right-green editable">
          <img src="/img/icons/4p-icons-ourimpact-01.png" alt="Farm Icon" class="img-fluid mx-4 w-50 mb-3" />
          <h4 class="editable">
            <strong><em>Sign Up for our Grocery Tote</em></strong>
          </h4>
          <div class="editable">
            <p>&nbsp;</p>
            <p>Choose how to get your groceries delivered direct from farmers.</p>
            <p>Small, medium, large.<br />Veggies, dairy, or proteins.<br />A la carte.<br /><br />We got the tote for your dietary requirement and schedule.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="m-3 arrow arrow-right-green">
          <img src="/img/icons/4p-icons-howitworks-02.png" alt="Food Icon" class="img-fluid mx-4 w-50 mb-3" />
          <h4 class="editable">
            <strong>
              <font face="Spectral, serif"><span style="font-weight: 400; text-transform: capitalize;"><i>We curate - or you customize</i></span></font>
            </strong>
          </h4>
          <div class="editable">
            <p>&nbsp;</p>
            <p>Every delivery, choose to customize your 4P Foods bag or receive our curation of in-season selections from farmers in a 300 mile radius.</p>
            <p>Try a new veggie or fruit or swap in food you already know and love!</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="m-3">
          <img src="/img/icons/4p-icons-howitworks-03.png" alt="Delivery Icon" class="img-fluid mx-4 w-50 mb-3" />
          <h4 class="editable">
            <em>Deliver Direct From Local Farms&nbsp;</em>
          </h4>
          <div class="editable">
            <p>&nbsp;</p>
            <p>We drop off your 4P Foods grocery tote weekly, bi-weekly, or once a month - right to your doorstep or community pick up point.</p>
            <p>Change frequency of delivery, pause for travel, or cancel as needed!&nbsp;</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- {% include home/how-tabs.html %} -->
<section class="bg-green-dark bg-image aspect-none" style="background-image: url(/img/bg-illustrations/4p-homepage-button-02.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <a href="https://shop.4pfoods.com" class="btn btn-outline-white btn-lg editable">Start Shopping 4P</a>
      </div>
    </div>
  </div>
</section>
{% include home/home-testimonials.html %}
<div class="row no-gutters">
  <div class="col-4">
    <div class="p-1">
      <div class="bg-image aspect-16x9 cms-editor-link" style="background-image: url('{{ page._assets[3].image }}')" data-cms-editor-link="cloudcannon:#_assets[3].image" data-cms-editor-link-style="modal"></div>
    </div>
  </div>
  <div class="col-4">
    <div class="p-1">
      <div class="bg-image aspect-16x9 cms-editor-link" style="background-image: url('{{ page._assets[4].image }}')" data-cms-editor-link="cloudcannon:#_assets[4].image" data-cms-editor-link-style="modal"></div>
    </div>
  </div>
  <div class="col-4">
    <div class="p-1">
      <div class="bg-image aspect-16x9 cms-editor-link" style="background-image: url('{{ page._assets[5].image }}')" data-cms-editor-link="cloudcannon:#_assets[5].image" data-cms-editor-link-style="modal"></div>
    </div>
  </div>
</div>
<section class="bg-tan">
  <div class="container">
    <div class="row align-items-center justify-content-center">

      <div class="col-lg-6">
        <div class="row align-items-center">
          <div class="col-6 col-lg-4">
            <img src="/img/icons/4p-icons-howitworks-01.png" class="img-fluid" alt="Farmer icon" />
          </div>
          <div class="col-12 col-lg-8">
            <p class="editable mb-0">
              <strong>600+ independent, family farmers</strong> supported by 4P Foods throughout the region.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row align-items-center">
          <div class="col-6 col-lg-4">
            <img src="/img/icons/4p-icons-ourimpact-02.png" class="img-fluid" alt="Food icon" />
          </div>
          <div class="col-12 col-lg-8">
            <p class="editable mb-0">
              <strong>More than 7,500 lbs of nutrient-dense food</strong>&nbsp;delivered monthly into underserved communities across DC, MD, and VA.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="impact" class="bg-gray text-white overflow-hidden">
  <img class="lettuce" src="/img/bg-illustrations/illustrations_cabbage.svg" alt="Cabbage Graphic" />
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 col-lg-3">
        <h2 class="editable text-capitalize">
          The 4P Foods Difference
        </h2>
      </div>
      <div class="col-12 col-lg-9">
        <p class="lead editable mb-3">
          <em>Our mission at 4P Foods is to connect all people and communities to regional farmers and responsibly sourced food.&nbsp;</em>
        </p>
        <div class="editable mb-3">
          <p>Each day, our work at 4P Foods gets us closer to the kind of food system farmers thrive in, soil is regeneratively cared for, animals are treated humanely, and all communities have equitable access to healthy food.</p>
        </div>
        <a href="/our-impact" class="btn btn-primary mt-4 editable">Find out more</a>
      </div>
    </div>
  </div>
  <img class="leaf" src="/img/bg-illustrations/4P-Illustrations_spinach.svg" alt="Spinach graphic" />
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-8">
        <h2 class="editable">
          The monthly 4p foods harvest
        </h2>
        <h3 class="editable">
          <font face="Spectral, serif"><span style="font-weight: 400; text-transform: capitalize;"><i>Insights on food, farming, climate, and more.</i></span></font>
        </h3>
        <div class="editable">
          
        </div>
      </div>
      <div class="col-lg-4 text-lg-right">
        <a href="/impact-blog" class="btn btn-primary editable">read the 4p Blog</a>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>Featured 4p News</h3>
    </div>
  </div>
</div>
{% include news/featured-news.html %}
<div data-cms-editor-link="cloudcannon:#_assets[7].image" data-cms-editor-link-style="modal" class="bg-image aspect-4x1 cms-editor-link" style="background-image: url({{ page._assets[7].image }})">
</div>
<section id="tryUsToday">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <a href="https://shop.4pfoods.com/register.php?step=first&viewing_step=first" class="btn btn-primary btn-block editable">Try us today — commitment free</a>
      </div>
    </div>
  </div>
</section>
<section class="bg-tan">
  <div class="container">
    <div class="row align-items-center mb-5">
      <div class="col-12 col-lg-8">
        <h3>Featured Recipes</h3>
      </div>
      <div class="col-12 col-lg-4 text-lg-right">
        <a href="/recipes" class="btn btn-secondary text-white btn-lg editable">See OUR Recipes</a>
      </div>
    </div>
    {% include recipes/recipes-list-featured.html %}
  </div>
</section>
