---
layout: page
title: >-
  Home | Online Farmers Market | Local CSA | Washington, DC | Virginia |
  Maryland 
meta:
  - title: >-
      4P Foods | Weekly Grocery Delivery | Local CSA | Washington, DC | Virginia
      | Maryland 
    description: >-
      4P Foods delivers weekly groceries direct from local farmers to
      neighborhoods and businesses in Washington, D.C., Virginia, and Southern
      Maryland. 


      Supporting local farm systems helps improve your food's footprint and
      access to nutrients.
    image:
_assets:
  - image: /uploads/4p-produce-04-22-2020.jpg
  - image: /uploads/4P-Produce-06.10.20.jpg
  - image: /uploads/4P-Produce-06.14.20-1024x984.jpg
  - image: /uploads/4pfoods-cabbage.png
  - image: /uploads/4pfoods-femalefarmer-tomatoes.png
  - image: /uploads/4pfoods-peaches.png
  - image:
  - image: /uploads/4pfoods-walkthetalk-web.png
carousel:
  - title: Remarkable Year for the Regional Food System
    link:
      label: READ THE PRESS RELEASE
      link: >-
        /posts/remarkable-year-for-4p-foods-and-the-mid-atlantic-regional-food-system/
    description_html: ''
    image: /uploads/home-page-remarkable-year-banner.png
  - title: Farmer D's Heirloom Black Garlic
    link:
      label: 5 THINGS YOU NEED TO KNOW
      link: /posts/5-things-you-need-to-know-about-black-garlic/
    description_html: ''
    image: /uploads/black-garlic-blog-2.png
  - title: Planted, Raised, and Made with Love
    link:
      label: How 4P Foods Works
      link: /how-we-work/
    description_html: ''
    image: /uploads/grocery-home-delivery.png
image_grid:
  - image: https://placehold.co/600x400
    link: https://www.google.com
    label: Somelabel
  - image: https://placehold.co/200x200
    link: https://www.google.com
    label: Somelabel
  - image: https://placehold.co/200x250
    link: https://www.google.com
    label: Somelabel
  - image: https://placehold.co/600x200
    link: https://www.google.com
    label: Somelabel
  - image: https://placehold.co/250x250
    link: https://www.google.com
    label: Somelabel
  - image: https://placehold.co/600x200
    link: https://www.google.com
    label: Somelabel          
testimonials:
  - testimonial_text: >-
      We've tried many meal prep kits and grocery delivery services - nothing
      compares to the quality of 4P Foods..
    name: Meredith
    source: Phone
  - testimonial_text: >-
      I choose 4P because they work with small growers and help farmers, plus I
      love the fresh, diverse offerings and items.
    name: Vikki
    source: Phone Call
  - testimonial_text: >-
      I love that I know what I'll be getting, can skip a week or donate. The
      veggies and fruit so far have been amazing and I love the recipes in the
      newsletter.
    name: Jamie
    source: Facebook
  - testimonial_text: >-
      4P Foods makes buying local so easy. With direct home delivery, an online
      shop, and an entire box of seasonal veggies for the week around $30.
    name: Veronica
    source: Instagram
  - testimonial_text: >-
      The food is fresh and amazing, there is great flexibility. I know I am
      getting nutritionally dense food and making a difference for my health, my
      community, and the planet.
    name: Kristin
    source: Facebook
  - testimonial_text: >-
      It is nice to know I am eating locally grown foods that are, mostly,
      organic. Go with 4P foods! You won't regret it. 4P 4Eva!
    name: Wan
    source: Yelp
  - testimonial_text: >-
      We ate well this year, and lost weight! Great for pandemic, but even
      better for long term shift of eating local in season. 
    name: Janet
    source: Instagram
  - testimonial_text: >-
      Huge fan of their meat share! 4P Foods has made me feel a lot more
      comfortable about the healthiness and ethics of the meat we eat!
    name: Ami
    source: Yelp
  - testimonial_text: >-
      I can sing the praise to your amazing farmers who are providing the best,
      healthy food for us! We love you all and are so thankful that you are
      feeding so many people.
    name: Jane
    source: Email
  - testimonial_text: >-
      4P meets me halfway in that they provide a connection point between my
      store and a varied regional selection of products, a relief I am sure to
      busy farmers, and this with a personable and easy to work with staff. I
      highly recommend them.
    name: William Calvani
    source: Rebecca's Natural Food
featured_recipes:
  - one-pan-oven-roasted-whole-chicken-with-roasted-radishes-dinner-recipe
  - >-
    simple-sweet-potato-and-kale-grain-bowl-with-sesame-tahini-dressing-lunch-recipe
  - simple-air-fryer-sweet-potato-fries-side-dish-recipe
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <h6 class="editable text-primary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, eaque!</h6>
          <h1>Your partner for<br class="d-none d-lg-block"/> <span class="text-primary">farm-to-you food systems</span> </h1>
        </div>
        <div class="d-lg-flex justify-content-center align-items-center">
          <a href="#" class="btn btn-green-light mx-3">Shop Farm Fresh Groceries</a>
          <a href="#" class="btn btn-blue-light mx-3">Wholesale Options</a>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="embla">
  <div class="embla__container">
    <div class="embla__slide p-4">
      <div class="bg-image aspect-4x3 rounded" style="background-image: url(https://placehold.co/600x400?text=slide1)"></div>
    </div>
    <div class="embla__slide p-4">
      <div class="bg-image aspect-4x3 rounded" style="background-image: url(https://placehold.co/600x400?text=slide2)"></div>
    </div>
    <div class="embla__slide p-4">
      <div class="d-flex h-100 align-items-center justify-content-center bg-mid p-4">
        <p class="text-serif font-weight-bold h4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur, neque!</p>

      </div>
    </div>
    <div class="embla__slide p-4">
      <div class="bg-image aspect-4x3 rounded" style="background-image: url(https://placehold.co/600x400?text=slide4)"></div>
    </div>
    <div class="embla__slide p-4">
      <div class="bg-image aspect-4x3 rounded" style="background-image: url(https://placehold.co/600x400?text=slide5)"></div>
    </div>
  </div>
</div>
<section>
  <div class="container">
    <div class="row mx-lg-n5">
      <div class="col-12 col-lg-6 px-lg-5">
        <h2 class="text-primary editable">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque, a.</h2>
        <div class="editable lead">  
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, quibusdam!.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, quibusdam!.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, quibusdam!.</p>
        </div>
      </div>
      <div class="col-12 col-lg-6 px-lg-5">
        <div class="bg-green text-white h-100 p-5 rounded">
          <h3>Lorem ipsum dolor sit amet.</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla, alias!</p>
          <h3>Lorem ipsum dolor sit amet.</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla, alias!</p>
          <h3>Lorem ipsum dolor sit amet.</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla, alias!</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-mid">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center mx-lg-n5">
      <div class="col-12 col-lg-5 px-lg-5">
        <div class="d-flex gap-4 align-items-end">
          <div class="d-flex justify-content-start flex-column align-items-end mr-3">
            <div class="mb-3">
              <img src="https://placehold.co/600x400" class="img-fluid rounded" alt="">
            </div>
            <div>
              <img src="https://placehold.co/350x250" class="img-fluid rounded" alt="">
            </div>
          </div>
          <div class="h-100 align-items-end d-flex">
            <img src="https://placehold.co/350x600" class="img-fluid rounded" alt="">
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-5 px-lg-5">
        <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus, accusamus.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, ad.</p>
        <a href="#" class="btn btn-blue-light">Explore Wholesale Options</a>
      </div>
    </div>
  </div>
  <div class="container my-5">
    {% include components/logo-pile.html items=page.image_grid %}
  </div>
</section>
<section class="bg-light">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center mx-lg-n5">
      <div class="col-12 col-lg-5 px-lg-5">
        <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus, accusamus.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, ad.</p>
        <a href="#" class="btn btn-green-light">Shop all groceries</a>
      </div>
      <div class="col-12 col-lg-5 px-lg-5">
        <div class="d-flex flex-column">
          <div class="mb-3">
            <img src="https://placehold.co/600x400" class="img-fluid rounded d-block mx-auto" alt="">
          </div>
          <div class="d-flex mr-3">
            <div class="mr-3">
              <img src="https://placehold.co/350x500" class="img-fluid rounded" alt="">
            </div>
            <div>
              <img src="https://placehold.co/600x400" class="img-fluid rounded" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
{% comment %}
<div class="carousel-inner">
  {% for item in page.carousel %}
  <div class="carousel-item {% if forloop.first %}active{% endif %}">
    <section class="bg-image aspect-hero text-white" style="background-image: url({{ item.image }})">
      <div class="bg-fill">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="mb-4">
                <h1>{{ item.title }}</h1>
              </div>
              <a href="{{ item.link.link }}" class="btn btn-primary">{{ item.link.label }}</a>
            </div>
          </div>
        </div>
      </div>

    </section>
  </div>
  {% endfor %}
</div>
{% endcomment %}



