---
layout: page
title: Our Farmers
meta:
featured_farmer: agriberry-farm
farmers:
  - 100-bowls
  - agriberry-farm
  - appalachian-harvest
  - autumn-olive-farms
  - ayrshire-farm
  - back-pocket-provisions
  - bees--trees-farm
  - bellair-farm
  - berry-simple-farm
  - church-hill-produce
  - clarks-old-peach-tree-farm
  - crown-orchard
  - dickie-brothers-orchard
  - double-h-farm
  - dress-it-up-dressing
  - e3-ranch
  - ebys-produce
  - the-farm-at-sunnyside
  - firefly-farms
  - firsthand-foods
  - fresh2o-growers
  - fruitcycle
  - g--flores-produce
  - gabriele-rausse-winery
  - goldman-farm
  - good-phyte-foods
  - happy-dirt-east-carolina-organics-1
  - hartland-farm
  - heritage-glen-farms-kelly-turkeys-usa
  - hollands-three-rivers-farm
  - jl-green-farm
  - kirby-farms
  - little-sesame
  - locksley-farmstead-cheese-co-
  - malcolms-market-garden
  - messicks-farm
  - mocks-greenhouse--farm
  - mountain-view-farm-llc
  - mt--crawford-creamery
  - new-communities
  - new-day-farmstrade
  - number-1-sons
  - papa-weavers-pork
  - piedmont-progressive-farmers-group
  - planet-earth-diversified
  - phantom-hill-farm
  - radical-roots-community-farm
  - riverside-produce-farm
  - saunders-brothers-orchard
  - schuyler-greens-company
  - seamans-orchard
  - sensenig-turkey-farm
  - shepards-hill-farm
  - singing-earth-produce
  - south-mountain-creamery
  - superfoods-farm
  - sunnyside-farm
  - sunrise-farms
  - sweet-valley-farm-dairy
  - tallawah-farms
  - theresam-farm-group
  - together-we-bake
  - true-farms
  - triple-j-organics
  - van-dessel-farms
  - vanguard-ranch
  - virginia-bison-co--at-cibola-farm
  - virginia-poultry-growers-cooperative
  - walnut-winds-farm
  - wadels-farm-wagon
  - wayside-produce
  - wenger-grape-farm
  - whiffletree-farm
  - willie-mae-farms
  - the-wide-net-project
  - witmer-farm
  - won-shan-mushrooms
  - yoders-farm
footer_image:
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 mx-lg-auto text-center">
        <h2 class="editable">
          Meet our farmers
        </h2>
        <p class="lead editable">
          We are your direct connection to the farm
        </p>
        <div class="editable">
          <p>4P sources food that is sustainable, ethical, and fair from our network of 250+ small to mid-sized independent farmers. Year-round, you can get freshly harvested produce, dairy and meat products delivered directly from our trusted network of farms and artisans. Read about some of the amazing producers that make up our Good Food community&mdash; and make them your food community too!</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- TODO Farm map -->
<!-- <farm-map></farm-map> -->
<section>
  <div class="container">
    {% include farmers/featured-farmer.html %}
    {% include farmers/farmers-list-all.html %}
  </div>
</section>

<!-- <featured-farms></featured-farms> -->
{% include footer-image.html %}
