---
layout: page
title: Team
meta:
  - description:
    image:
team_members:
  - abbey-gleason
  - alicia-mitchell
  - bonnie-may
  - brian-wachira
  - brooke-kinsey
  - breyonna-horsley
  - carlisle-wilkinson
  - curtis-sowers
  - david-bubba-weller
  - devon-byrne
  - emily-tucker
  - erin-caricofe
  - heidi-chaya
  - hortense-brent
  - jennifer-beckman
  - john-shepard
  - jon-wolf
  - justin-white
  - kerry-trenor
  - kris-schumacher
  - natalie-vandenburgh
  - nate-osborne
  - rod-crawford
  - sandy-tribendis
  - sean-roberts
  - tara-eavey
  - tom-mcdougall
  - tyler-bruder
footer_image: /uploads/2020-03-09-4p-mafrac-herd-ventres-danieljamesdoherty-v2-3.jpg
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 mx-lg-auto text-center">
        <h1 class="editable">
          Our Team
        </h1>
        <h3><em>The People Behind the Veggies</em></h3>
        <div class="editable">
          <p>Get to know the team that procures, packs, delivers, writes newsletters, and otherwise does all of the work day in and day out that makes the magic of 4P Foods happen.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="responsive-card-deck cards-lg-3 cards-md-2">
          {% for object in page.team_members %}
          {% assign team =  site.team_members | where: 'slug', object | first %}
          <div class="card bg-transparent mb-5">
            <a href="{{ team.url }}" class="bg-image aspect-1x1 bg-white" style="background-image: url({{ team.image | default: '/img/4p-foods-cmyk-logo-color-color.png'}})"></a>
            <div class="card-body">
              <h4 class="mb-0">{{ team.title }}</h4>
              <h5 class="font-weight-light">{{ team.role }}</h5>
              <p><small><strong>Favorite Fruit or Veggie:</strong> {{ team.favorite_veggie }}</small>
              </p>
            </div>
            <div class="card-footer bg-transparent">
              <a href="{{ team.url }}" class="btn btn-secondary text-white">Read More</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-green text-white">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 mx-lg-auto text-center">
        <div class="editable">
          <h2>Work with us</h2>
          <p>We're building a food system where Good Food is the norm, not the exception. We connect farms and artisans in the Mid-Atlantic to those who need food. Our team is committed to making a better world for tomorrow through the power of Good Food. Search our job listings for current openings or you may send a resume and cover letter to info@4pfoods.com.</p>
        </div>
        <a href="/contact" class="btn btn-secondary text-white">Contact Us</a>
      </div>
    </div>
  </div>
</section>
{% include footer-image.html %}