---
layout: page
title: Our Farmers
meta:
featured_farmer: agriberry-farm
farmers:
  - 100-bowls
  - appalachian-harvest
  - ayrshire-farm
  - back-pocket-provisions
  - bees--trees-farm
  - berry-simple-farm
  - church-hill-produce
  - clarks-old-peach-tree-farm
  - crown-orchard
  - double-h-farm
  - fresh2o-growers
  - fruitcycle
  - hamilton-heights-dairy
  - hartland-farm
  - messicks-farm
  - number-1-sons
  - radical-roots-community-farm
  - saunders-brothers-orchard
  - sunrise-farms
  - superfoods-farm
  - sweet-valley-farm-dairy
  - the-farm-at-sunnyside
  - triple-j-organics
  - whiffletree-farm
  - happy-dirt-east-carolina-organics-1
  - agriberry-farm
  - dickie-brothers-orchard
  - dress-it-up-dressing
  - ebys-produce
  - e3-ranch
  - firefly-farms
  - firsthand-foods
  - g--flores-produce
  - gabriele-rausse-winery
  - goldman-farm
  - good-phyte-foods
  - hollands-three-rivers-farm
  - jl-green-farm
  - kirby-farms
  - little-sesame
  - locksley-farmstead-cheese-co-
  - malcolms-market-garden
  - mountain-view-farm-llc
  - mt--crawford-creamery
  - new-communities
  - planet-earth-diversified
  - papa-weavers-pork
  - mocks-greenhouse--farm
  - new-day-farmstrade
  - schuyler-greens-company
  - yoders-farm
  - wenger-grape-farm
  - wadels-farm-wagon
  - walnut-winds-farm
  - willie-mae-farms
  - virginia-poultry-growers-cooperative
  - virginia-bison-co--at-cibola-farm
  - true-farms
  - wayside-produce
  - van-dessel-farms
  - together-we-bake
  - the-wide-net-project
  - south-mountain-creamery
  - singing-earth-produce
  - seamans-orchard
  - sunnyside-farm
  - sensenig-turkey-farm
  - shepards-hill-farm
  - riverside-produce-farm
  - phantom-hill-farm
footer_image:
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 mx-lg-auto text-center">
        <h2 class="editable">Meet our farmers and producers</h2>
        <p class="lead editable">Get local, farm-fresh Good Food - delivered right to your door.</p>
        <div class="editable">
          <p>Year round, 4p delivers healthy, sustainable, seasonal food from local family farms. This means you're getting
            the freshest produce, meat, and dairy products on any given day&mdash;all grown and harvested in the most
            responsible, sustainable way possible.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- TODO Farm map -->
<!-- <farm-map></farm-map> -->
<section>
  <div class="container">
    {% include farmers/featured-farmer.html %}
    {% include farmers/farmers-list-all.html %}
  </div>
</section>

<!-- <featured-farms></featured-farms> -->
{% include footer-image.html %}
