---
layout: page
title: Our Impact
meta:
footer_image:
_assets:
  - image: /uploads/our-impact/4p-ourimpact-headerimages-01.jpg
  - image: /uploads/our-impact/4p-ourimpact-headerimages-02.jpg
  - image: /uploads/our-impact/4p-ourimpact-headerimages-03.jpg
  - image: /uploads/our-impact/4p-ourimpact-foodacces-01.jpg
  - image: /uploads/our-impact/4p-ourimpact-foodacces-02.jpg
  - image: /uploads/our-impact/4p-ourimpact-foodacces-03.jpg
---

<div class="row no-gutters">
  <div class="col-4">
    <div class="p-1">
      <div class="bg-image aspect-16x9" style="background-image: url('{{ page._assets[0].image }}')" data-cms-editor-link="cloudcannon:#_assets[0].image" data-cms-editor-link-style="modal"></div>
    </div>
  </div>
  <div class="col-4">
    <div class="p-1">
      <div class="bg-image aspect-16x9" style="background-image: url('{{ page._assets[1].image }}')" data-cms-editor-link="cloudcannon:#_assets[1].image" data-cms-editor-link-style="modal"></div>
    </div>
  </div>
  <div class="col-4">
    <div class="p-1">
      <div class="bg-image aspect-16x9" style="background-image: url('{{ page._assets[2].image }}')" data-cms-editor-link="cloudcannon:#_assets[2].image" data-cms-editor-link-style="modal"></div>
    </div>
  </div>
</div>
<section class="position-relative">
  <img src="/img/bg-illustrations/4p-background-radish-01.png" alt="radish illustration" style="position: absolute; top: -10%; width: 32%; right: -5%;" />
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-8 mx-lg-auto text-center">
        <h1 class="editable">
          Good Food With a Purpose
        </h1>
        <h3 class="editable">
          <em>We define &ldquo;Good Food&rdquo; as more than just local. To us, good food is: transparently sourced so you know where it came from, healthy to nourish both body and mind, ethically raised with no souls exploited in its production, and harvested in a way that maintains the health of the environment. Most of all, Good Food is equitably accessible to all people, regardless of race, income, gender, or zipcode.</em>
        </h3>
        <div class="editable">
          <p>4P Foods is part of the rapidly-growing Good Food Movement that is building a better food system focused on equity, health, long-term sustainability, ethical and transparent sourcing.</p>
        </div>
        <div class="text-center mt-5">
          <a href="/about" class="btn btn-primary editable">Learn More About Us</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% include our-impact/impact-tabs.html %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="editable">
          Our impact so far
        </h2>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6 col-lg-3 text-center">
        <img src="/img/icons/4p-icons-howitworks-01.png" class="img-fluid mb-4 w-50 editable" alt="Barn Graphic" />
        <div class="editable">
          <p><strong>212+</strong> independent, family farmers supported by 4P Foods throughout the east coast.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 text-center">
        <img src="/img/icons/4p-icons-ourimpact-02.png" class="img-fluid mb-4 w-50 editable" alt="Groceries Graphic" />
        <div class="editable">
          <p>Over <strong>100,000 lbs</strong> of Good Food delivered into underserved communities in our national region.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 text-center">
        <img class="img-fluid mb-4 w-50 editable" alt="Package Graphic" src="/uploads/4p-icons-foodaccess-2.png" width="202" />
        <div class="editable">
          <p><strong></strong><strong>60% of every dollar</strong> you spend with 4P Foods goes directly back to farmers. (Compared to 8% of mainstream food supply chains.)</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 text-center">
        <img class="img-fluid mb-4 w-50 editable" alt="Money Graphic" src="/uploads/screen-shot-2020-08-27-at-6-06-33-pm.png" width="202" />
        <div class="editable">
          
        </div>
      </div>
    </div>
  </div>
</section>
<div class="row no-gutters">
  <div class="col-4">
    <div class="p-1">
      <div class="bg-image aspect-16x9" style="background-image: url('{{ page._assets[3].image }}')" data-cms-editor-link="cloudcannon:#_assets[3].image" data-cms-editor-link-style="modal"></div>
    </div>
  </div>
  <div class="col-4">
    <div class="p-1">
      <div class="bg-image aspect-16x9" style="background-image: url('{{ page._assets[4].image }}')" data-cms-editor-link="cloudcannon:#_assets[4].image" data-cms-editor-link-style="modal"></div>
    </div>
  </div>
  <div class="col-4">
    <div class="p-1">
      <div class="bg-image aspect-16x9" style="background-image: url('{{ page._assets[5].image }}')" data-cms-editor-link="cloudcannon:#_assets[5].image" data-cms-editor-link-style="modal"></div>
    </div>
  </div>
</div>
<section class="bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 mx-lg-auto text-center text-white">
        <h2 class="text-white editable">
          Food Access Programs and Resources
        </h2>
        <div class="editable">
          <p>Are you or your family struggling to access Good Food? Click here to learn more about resources that can help.</p>
        </div>
        <a href="/food-access-programs#good-food-resources" class="btn btn-primary editable">Find Good Food Resources</a>
      </div>
    </div>
  </div>
</section>

<section class="bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 mx-lg-auto text-center">
        <p class="text-white text-uppercase font-weight-bold editable">
          The businesses of today are creating the world of tomorrow. They have the ability, and more importantly the responsibility, to use their economic engines to drive real, lasting, positive social change.
        </p>
        <p class="text-uppercase text-white editable mb-0">
          Tom McDougall &ndash; CEO &amp; Founder
        </p>
      </div>
    </div>
  </div>
</section>
{% include footer-image.html %}

