---
layout: page
title: Team
meta:
team_members:
footer_image: '/img/uploads/team/4P-footer-14.jpg'
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 mx-lg-auto text-center">
        <h1 class="editable">Our Team</h1>
        <h3><em>The People Behind the Veggies</em></h3>
        <div class="editable">
          <p>Get to know the team that orders, sells, packs, delivers, writes newsletters, and otherwise does all of the work day in
          and day out that makes the magic of 4P Foods happen.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="responsive-card-deck cards-lg-3 cards-md-2">
          {% for object in page.team_members %}
          {% assign team =  site.team_members | where: 'slug', object | first %}
          <div class="card bg-transparent mb-5">
            <a href="{{ team.url }}" class="bg-image aspect-1x1 bg-white"
              style="background-image: url({{ team.image | default: '/img/4p-foods-cmyk-logo-color-color.png'}})"></a>
            <div class="card-body">
              <h4 class="mb-0">{{ team.title }}</h4>
              <h5 class="font-weight-light">{{ team.role }}</h5>
              <p><small><strong>Favorite Fruit or Veggie:</strong> {{ team.favorite_veggie }}</small>
              </p>
            </div>
            <div class="card-footer bg-transparent">
              <a href="{{ team.url }}" class="btn btn-secondary text-white">Read More</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-green text-white">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 mx-lg-auto text-center">
        <div class="editable">
          <h2>Work with us</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
            Duis
            aute irure dolor in reprehenderit</p>
        </div>
        <a href="/contact" class="btn btn-secondary text-white">Contact Us</a>
      </div>
    </div>
  </div>
</section>
{% include footer-image.html %}