---
layout: page
title: Our Farmers
meta:
featured_farmer: agriberry-farm
farmers:
  - 100-bowls
  - agriberry-farm
  - appalachian-harvest
  - ayrshire-farm
  - back-pocket-provisions
  - bees--trees-farm
  - berry-simple-farm
  - church-hill-produce
  - cibola-farms
  - clarks-old-peach-tree-farm
  - crown-orchard
  - double-h-farm
  - fresh2o-growers
  - fruitcycle
  - hamilton-heights-dairy
  - hartland-farm
  - local-food-hub
  - messicks-farm
  - number-1-sons
  - radical-roots-community-farm
  - saunders-brothers-orchard
  - sunrise-farms
  - superfoods-farm
  - sweet-valley-farm-dairy
  - the-farm-at-sunnyside
  - the-rock-barn
  - the-wide-net-project
  - trickling-springs-creamery
  - triple-j-organics
  - underground-greens
  - whiffletree-farm
footer_image:
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 mx-lg-auto text-center">
        <h2 class="editable">Meet our farmers and producers</h2>
        <p class="lead editable">Get local, farm-fresh Good Food - delivered right to your door.</p>
        <div class="editable">
          <p>Year round, 4p delivers healthy, sustainable, seasonal food from local family farms. This means you're getting
            the freshest produce, meat, and dairy products on any given day&mdash;all grown and harvested in the most
            responsible, sustainable way possible.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- TODO Farm map -->
<!-- <farm-map></farm-map> -->
<section>
  <div class="container">
    {% include farmers/featured-farmer.html %}
    {% include farmers/farmers-list-all.html %}
  </div>
</section>

<!-- <featured-farms></featured-farms> -->
{% include footer-image.html %}
