---
layout: page
title: >-
  4P Foods | Our Community Food Partners | Local CSA Program | Nutritional
  Program
meta:
  - title: 4P Foods | Community Food Partners | Local CSA Programs
    description: >-
      At 4P Foods, rebuilding a regenerative and equitable food systems needs
      community food partners that help extend access to nutritional education,
      healthy food, and agriculture education to the people that need it most. 
    image:
footer_image: /uploads/2009-08-cucumber-va-xx.JPG
partners:
  - name: Washington Nationals Youth Baseball Academy
    description: >-
      The Washington Nationals Youth Baseball Academy, the signature program of
      Nationals Philanthropies, uses the sports of baseball and softball as
      vehicles to foster positive character development, academic achievement,
      and improved health among youth from underserved communities in
      Washington, D.C. The Health + Nutrition program at the Youth Baseball
      Academy provides resources and guidance for Scholar Athletes and the Ward
      7 and 8 communities to make healthy choices that will have long-lasting,
      generational impact. Our Community Supported Agriculture (CSA) partnership
      is aimed at increasing access to organic foods in Ward 7 and 8 through a
      year-round, CSA-style market filled with affordable, locally grown
      produce.
    image: /uploads/4p-ymca-nats-academy-market1.jpg
    link: https://nats4good.org/youth-baseball-academy/
  - name: 'Local Food Hub: Fresh Farmacy Program'
    description: >-
      Local Food Hub is a nonprofit organization that partners with Virginia
      farmers to increase community access to local food. Its Fresh Farmacy:
      Fruit and Veggie Prescription Program began in 2015 to provide shares of
      fresh produce to members of its community who have limited access to fresh
      fruits and vegetables and suffer from diet-related illnesses, such as
      hypertension or diabetes. Food is primarily sourced from small family
      farms in Virginia, providing more than two dozen growers with an important
      sales outlet. In addition to the bounty in each share, participants
      receive program support materials designed to build confidence in
      preparing and eating fresh produce, plus tips for safe storage and
      handling of produce at home. Local Food Hub is responsible for program
      development, management, and fundraising. Since its founding, the program
      has always been available for free to participants. 


      In response to COVID-19, Local Food Hub expanded the Fresh Farmacy program
      to serve over twice as many homes (650+) for a longer duration, with
      weekly food deliveries rather than biweekly. 4P Foods is responsible for
      product sourcing, as well as packing and delivering a portion of the
      shares.
    image: /uploads/our-partners/4p-partners-localfoodhub.jpg
    link: https://www.localfoodhub.org/program/food-access/
  - name: Bainum Family Foundation
    description: >-
      The Bainum Family Foundation Food Security Initiative supports the
      creation of a sustainable, end-to-end solution to the District’s broken
      food system that will better address the needs of low-income children and
      families in Wards 7 and 8. Together with 4P Foods and other Food Security
      Initiative partners of the Bainum Family Foundation, we are establishing
      new pathways for local food into and within D.C. to benefit both the
      community and local farmers.
    image: /uploads/our-partners/4p-partners-bainum.jpg
    link: https://bainumfdn.org/
  - name: The YMCA of Metropolitan Washington
    description: >-
      The YMCA Food Programs promote health and community through cooking
      classes making food prep easy and stress-free for families because we
      believe in the power of a shared meal. The Y’s food programs adopt
      community-specific programming that addresses the needs and desires of our
      families. Through 4P’s partnership with the YMCA of Metropolitan
      Washington, we provide nutrient-dense fresh ingredients from our farm
      network for cooking classes.
    image: /uploads/4p-csa-bag.jpg
    link: https://www.ymcadc.org/programs/health-fitness/cooking-classes/
  - name: Inova Hospital
    description: >-
      As part of a commitment to environmental sustainability and team member
      wellness, Inova partners with 4P Foods to offer weekly farm shares to
      organization team members. This partnership allows Inova to support local
      farmers while making it easy for team members to access nutritious food.
      Inova is also on the cutting edge of leveraging food as medicine, piloting
      a fruit and vegetable prescription program with 4P to connect at-risk
      patients with health-promoting food.
    image: /uploads/4p-produce-bag--summer.jpg
    link: https://www.inova.org/sustainability
  - name: Fauquier Community Food Bank
    description: >-
      Fauquier Community Food Bank is a 501(c)(3) non-profit organization that
      helps feed the hungry in Fauquier County, Virginia. Since our founding, 4P
      Foods has delivered donated produce, meat, and dairy to the food pantry to
      provide access to healthy, fresh food within the communities we serve. In
      2020 alone, 4P donated over 10,000 lbs of fresh food to the food bank.
    image: /uploads/tomatoes-dsc-1468.jpg
    link: https://fauquierfoodbank.org/
  - name: Culinary Concepts AB
    description: >-
      Connecting passion with purpose, Culinary Concepts AB provides high-impact
      training to create tangible results through career pathways. In 2018, Chef
      Antwon launched Culinary Concepts AB with the intention to create a
      socially-minded company that focuses on developing individuals' passions
      and abilities by teaching life skills through culinary arts. When
      everything shut down due to the COVID-19 pandemic Antwon created an online
      platform to be able to virtually teach cooking classes to people at home.
      Right now Culinary Concepts AB holds multiple classes a week for both
      group and private sessions. Culinary Concepts partners with 4P Foods to
      connect cooking classes to healthy sustainably grown ingredients.
    image: /uploads/2020-05-31-culinaryconcepts-pilotepisode-11.jpg
    link: https://culinaryconceptsab.com/
---
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 mx-lg-auto text-center">
        <div class="editable">
          <h1>
            It takes a community to grow a local food system
          </h1>
          <h3>
            <em>Meet 4P foods Community Partners</em>
          </h3>
        </div>
        <div class="editable">
          <p>&nbsp;</p>
          <p>It takes a village to rebuild a regenerative and equitable food system. We are able to increase access to nutrient-dense food, food education, and agriculture resources because of these outstanding partners who have made it a core tenant of their mission.</p>
          <p>Every day, we are humbled and grateful for the immense task they take on to ensure everyone gets the food they need, when they need it.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div data-cms-editor-link="cloudcannon:#partners" data-cms-editor-link-style="modal" class="responsive-card-deck cards-lg-3 cards-md-2 mt-5 cms-editor-link">
          {% for partner in page.partners %}
          <div class="card bg-transparent mb-3 mb-lg-5">
            <div class="bg-image aspect-4x3" style="background-image: url({{ partner.image }})"></div>
            <div class="card-body">
              <h5>{{ partner.name }}</h5>
              <p>{{ partner.description }}</p>
            </div>
            <div class="card-footer bg-transparent">
              <a href="{{ partner.link }}" class="btn btn-secondary text-white" target="_blank" rel="noopener">Learn More</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% include footer-image.html %}
