---
layout: page
Title: 4P In the Press
---
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 mx-auto text-center">
        <h1 class="editable">
          4p In the Press
        </h1>
        <h3 class="editable">
          <em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil libero debitis odit voluptates tempora cumque eius accusamus repellendus tempore dol</em>
        </h3>
      </div>
    </div>
</section>
<section>
  <div class="container">
    {% for press in site.press %}
      <div class="row align-items-center mb-5">
        <div class="col-lg-4">
          <a href="{{ press.link }}" class="bg-image aspect-4x3 mb-3 mb-lg-0" style="background-image: url({{ press.featured_image }})"></a>
        </div>
        <div class="col-lg-8">
          <h4 class="mb-0">{{ press.title }}</h4>
          <p>{% if press.source %}{{ press.source }} | {% endif %}{{ press.press_date | date: '%B %-d, %Y'}}</p>
          {% if press.author %}
            Written by: <p>{{ press.author }}</p>
          {% endif %}
          <p>{{ press.description }}</p>
          <a href="{{ press.link }}" class="btn btn-primary mt-3" target="_blank" rel="noopener">View Article</a>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
