---
layout: page
title: Team
meta:
  - title: 4P Team
    description: >-
      The people behind the food. The 4P team that procure, pack, deliver, and
      work day in and day out to bring source-identified Good Food to the 4P
      community.
    image:
team_members:
  - tom-mcdougall
  - beth-leonard
  - louisa-hart
  - christopher-gergen
  - justin-white
  - human-resources-manager
  - temesgen-sahle
  - sandy-tribendis
  - david-eggleston
  - alexander-sanchez
  - julia-hoffman
  - rod-crawford
  - amanda-mac-de-villiers
  - lucie-warga
  - julianne-hart
  - breyonna-horsley
  - bonnie-may
  - chelsea-roseberry
  - margaret-grace-gratten
  - devon-byrne
  - jenn-palmer
  - caitlin-lundquist
  - erin-kath
  - zakiyyah-yarbrough
  - jennifer-beckman
  - kerry-trenor
  - tyler-bruder
  - brian-wachira
footer_image: /uploads/team-page-footer.png
---
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 mx-lg-auto text-center">
        <div class="editable">
          <h1><strong>Meet Our Team</strong></h1>
          <h3><em>The People Behind the Veggies</em></h3>
        </div>
        <div class="editable">
          <p>Get to know the team that procures, packs, delivers, writes newsletters, and otherwise does all of the work day in and day out that makes the magic of 4P Foods happen.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div data-cms-editor-link="cloudcannon:#team_members" data-cms-editor-link-style="modal" class="responsive-card-deck cards-lg-3 cards-md-2 cms-editor-link">
          {% for object in page.team_members %}
          {% assign team =  site.team_members | where: 'slug', object | first %}
          <div class="card bg-transparent mb-5">
            <a href="{{ team.url }}" class="bg-image aspect-1x1 bg-white" style="background-image: url({{ team.image | default: '/img/4p-foods-cmyk-logo-color-color.png'}})"></a>
            <div class="card-body">
              <h4 class="mb-0">{{ team.title }}</h4>
              <h5 class="font-weight-light">{{ team.role }}</h5>
              <p><small><strong>Favorite Fruit or Veggie:</strong> {{ team.favorite_veggie }}</small>
              </p>
            </div>
            <div class="card-footer bg-transparent">
              <a href="{{ team.url }}" class="btn btn-secondary text-white">Read More</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-green text-white">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 mx-lg-auto text-center">
        <div class="editable">
          <h2>Work with us</h2>
          <p>We're building a food system where Good Food is the norm, not the exception. We connect farms and artisans in the Mid-Atlantic to those who need food. Our team is committed to making a better world for tomorrow through the power of Good Food. Search our job listings for current openings or you may send a resume and cover letter to info@4pfoods.com.</p>
        </div>
        <a href="/contact" class="btn btn-secondary text-white editable">Contact Us</a>
      </div>
    </div>
  </div>
</section>
{% include footer-image.html %}
