---
layout: page
title: Wholesale  | Farm to Table Food Distributor | Buy Direct from Farmers
meta:
  - title: >-
      4P Foods | Food Distributor | Wholesale Produce, Ethical Meat, Poultry,
      and Pork 
    description: >-
      4P Foods source-identifies, wholesale food delivery for restaurants,
      grocers, food co-ops, and community access organizations.  We deliver to
      Washington, D.C., Virginia, Maryland, and North Carolina.
    image:
hero:
  label:
  title_html: <h1><code>Effortlessly fresh wholesale</code></h1>
  subtitle: Source food from 200+ independent regional producers
  links:
    - link: /get-started
      label: Get Started
slider:
  show_section: true
  items: 
    - image: /uploads/4pfoods-weeklygroceries-harvestphoto.png
      title_black_text:
      title_green_text:
      subtitle:
    - image:
      title_black_text: We've tried many meal prep kits and grocery delivery services -
      title_green_text: nothing compares to the quality of 4P Foods.
      subtitle: Firstname Lastname
    - image: /uploads/4pfoods-weeklygroceries-harvestphoto.png
      title_black_text:
      title_green_text:
      subtitle:
    - image: /uploads/4pfoods-weeklygroceries-harvestphoto.png
      title_black_text:
      title_green_text:
      subtitle:
    - image: /uploads/4pfoods-weeklygroceries-harvestphoto.png
      title_black_text:
      title_green_text:
      subtitle:   
wholesale_industries:
  - /wholesale/restaurants-grocery
  - /wholesale/higher-education
  - /wholesale/healthcare-corporate
  
catalog_categories:
  - title: Fresh seasonal and organic produce
    image: /uploads/4pfoods-weeklygroceries-harvestphoto.png
  - title: Ethically and pasture-raised meat
    image: /uploads/4pfoods-weeklygroceries-harvestphoto.png
  - title: Local and grass-fed dairy
    image: /uploads/4pfoods-weeklygroceries-harvestphoto.png
  - title: Pantry items from local artisans
    image: /uploads/4pfoods-weeklygroceries-harvestphoto.png  
featured_farmer: /farmers/tallawah-farms
footer_image: /uploads/4pfoods-weeklygroceries-harvestphoto.png
---
{% include hero-text.html item=page.hero %}
{% include components/slider.html slider=page.slider %}
<section class="bg-light">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center mx-lg-n5">
      <div class="col-12 col-lg-5 px-lg-5">
        <h2 class="editable">Your partner to build stronger local food systems in the <code>Mid-Atlantic and Eastern Seaboard</code></h2>
        <p class="lead editable">We work with businesses who want to buy local and offer their customers the best. Whether you’re a fine dining establishment with just a few tables or a school system with hundreds of children to feed, we link you to fresher, more ethical foods at wholesale prices with wholesale ease. </p>
      </div>
      <div class="col-12 col-lg-5 px-lg-5">
        {% include components/image-grid-split-vertical-2.html %}
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="editable">
          <h2>We tailor our services to meet the different needs of every industry wholesale client.</h2>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12">
        {% assign tabs = include.item %}
        <div>
          <ul id="{{ page.title }}-tabs" class="nav nav-tabs tabs-buttons">
            {% for object in page.wholesale_industries %}
              {% assign item = site.wholesale_industries | where_exp: 'item', 'item.url contains object' | first %}
              <li class="nav-item">
                <a class="nav-link {% if forloop.first %}active{% endif %}" id="tab-{{ item.title | slugify }}" data-toggle="tab" href="#{{ item.title | slugify }}" role="tab" aria-controls="{{ item.title | slugify }}" aria-selected="true">{{ item.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="tab-content mt-5">
          {% for object in page.wholesale_industries %}
          {% assign item = site.wholesale_industries | where_exp: 'item', 'item.url contains object' | first %}
            <div id="{{ item.title | slugify }}" role="tabpanel" aria-labelledby="tab-{{ item.title | slugify }}" class="tab-pane fade {% if forloop.first %}show active{% endif %}">
              <div class="row mx-lg-n4 rounded-lg bg-mid align-items-center">
                {% if item.featured_image %}
                  <div class="col-12 col-lg-4 p-4">
                    <div class="bg-image aspect-1x1 mb-3 mb-lg-0 rounded-lg" style="background-image: url({{ item.featured_image }})"></div>
                  </div>
                {% endif %}
                <div class="col-12 col-lg-8 p-4">
                  <div class="d-flex flex-column justify-content-between p-4">
                    <div>
                      <h3><strong>{{ item.title }}</strong></h3>
                      {% if item.summary %}
                        <p>{{ item.summary }} </p>
                      {% endif %} 
                    </div>
                    <p class="mt-4">
                      <a href="{{ item.url }}" class="btn btn-green-light">Learn More</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-mid">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="editable">
          <h2>Find what you need - <code>made locally</code></h2>
        </div>
        <p>
          <a href="/get-started" class="editable btn btn-blue-light">View Seasonal Catalog</a>
        </p>
      </div>
    </div>
    <div class="row mt-5 no-gutters">
      {% for item in page.catalog_categories %}
        <div class="col-12 col-lg-3">
          <div class="text-center bg-tan rounded p-4 h-100 m-1">
            <div class="bg-image aspect-2x1 rounded mb-3 bg-contain bg-transparent" style="background-image: url({{ item.image }})"></div>
            <h4>{{ item.title }}</h4>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- <section class="bg-light">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <div class="text-center editable">
          <h1><strong>Ready to buy from local, regional, ethical, or climate-first farmers and artisans?</strong></h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6 mb-4">
        <div class="editable">
          <h4>Purchase Wholesale from 4P Foods</h4>
          <h6>We work with universities, school systems, restaurants, grocery stores/markets, food co-ops, community access organization, and other wholesale buyers.&nbsp;</h6>
          <hr />
          <p><strong>Does this sound like you?</strong> Please provide us with your information via the form below and we'll be in touch!</p>
        </div>
        <a href="https://wkf.ms/3TshTqo" target="_blank" rel="noreferrer" class="editable btn btn-primary">WHOLESALER APPLICATION</a>
      </div>
      <div class="col-12 col-lg-6 mb-4">
        <div class="editable">
          <h4>Sell Your Goods to 4P Foods</h4>
          <h6>We are always looking to expand our farmer and artisan partnerships that align with our mission and vision.&nbsp;</h6>
          <p>&nbsp;</p>
          <hr />
          <p>Contact our Procurement Team by completing the vendor application form below.</p>
        </div>
        <a href="https://forms.gle/StrB1GJRik4UnsDv8" target="_blank" rel="noreferrer" class="editable btn btn-primary">PROCUREMENT APPLICATION</a>
      </div>
    </div>
  </div>
</section> -->
