.DeliveryCard.card {
  .card-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 38px;
    font-weight: 400;
    padding: 25px 20px;
  }
  .btn {
    font-size: 1rem;
    font-weight: 400;
  }
}
