<section id="bring-us-to-your-community" class="bg-primary text-white">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 mx-lg-auto text-center">
        <h2>Bring 4p to your community</h2>
        <h3><em>Supportive Sub-Headline Here</em></h3>
        <p>4p Foods sources farm-fresh food from farms in the Washington DC local foodshed and delivers them to your
          office or apartment building once each week.</p>
      </div>
    </div>
    <div class="foursome mt-5">
      <div class="card">
        <div class="card-content pin-footer">
          <div class="card-header">
            <div class="content">
              <img src="{{ '/img/icons/4p-icons-delivery-01.png' }}" class="img-fluid" alt="Office icon" />
            </div>
          </div>
          <div class="card-body">
            <div class="content text-center">
              <h4 class="editable">Your Office</h4>
              <div class="editable">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione praesentium veritatis at error fuga
                  magni labore cum iusto, natus obcaecati recusandae, fugiat voluptatibus reprehenderit laborum ex magnam
                  molestiae? Sit, omnis!</p>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <p><a href="/how-it-works" class="btn btn-green btn-block">Learn More</a></p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content pin-footer">
          <div class="card-header">
            <div class="content">
              <img src="{{ '/img/icons/4p-icons-delivery-02.png' }}" class="img-fluid" alt="Building icon" />
            </div>
          </div>
          <div class="card-body">
            <div class="content text-center">
              <h4 class="editable">Your Building</h4>
              <div class="editable">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione praesentium veritatis at error fuga
                  magni labore cum iusto, natus obcaecati recusandae, fugiat voluptatibus reprehenderit laborum ex magnam
                  molestiae? Sit, omnis!</p>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <p><a href="/how-it-works" class="btn btn-green btn-block">Learn More</a></p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content pin-footer">
          <div class="card-header">
            <div class="content">
              <img src="{{ '/img/icons/4p-icons-delivery-03.png' }}" class="img-fluid" alt="Community Icon" />
            </div>
          </div>
          <div class="card-body">
            <div class="content text-center">
              <h4>Your Community</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione praesentium veritatis at error fuga
                magni labore cum iusto, natus obcaecati recusandae, fugiat voluptatibus reprehenderit laborum ex magnam
                molestiae? Sit, omnis!</p>
            </div>
          </div>
          <div class="card-footer">
            <p><a href="/how-it-works" class="btn btn-green btn-block">Learn More</a></p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content pin-footer">
          <div class="card-header">
            <div class="content">
              <img src="{{ '/img/icons/4p-icons-delivery-04.png' }}" class="img-fluid" alt="Business icon" />
            </div>
          </div>
          <div class="card-body">
            <div class="content text-center">
              <h4>Your Business</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione praesentium veritatis at error fuga
                magni labore cum iusto, natus obcaecati recusandae, fugiat voluptatibus reprehenderit laborum ex magnam
                molestiae? Sit, omnis!</p>
            </div>
          </div>
          <div class="card-footer">
            <p><a href="/how-it-works" class="btn btn-green btn-block">Learn More</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>