<section id="testimonials" class="bg-primary text-white">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h4 class="text-white mb-4 text-uppercase font-weight-bold">Stories of Satisfied Customers</h4>
        <div id="carousel-testimonials" class="carousel slide" data-ride="carousel" data-interval="10000">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-lg-10 mx-lg-auto">
                  <blockquote class="quote">
                    <p>“I can’t say enough good things about 4P! My boyfriend and I have been subscribed to their
                      produce bags
                      for over a year now, and we absolutely love it! Unlike most CSAs, 4P is extremely flexible. It
                      allows
                      you to switch out things you don’t like and get more of the items you do. They also allow you to
                      skip
                      weeks, which we often do during the winter when there are fewer options. At $35 per “small” bag
                      (which
                      they recommend for 1-2 people), you definitely get your money’s worth in terms of quantity and
                      quality.
                      Most of the items are organic, in addition to being locally grown. My boyfriend picks up the bag
                      at his
                      office. I strongly recommend 4P for its convenience and commitment to sustainability!”</p>
                    <footer>Collin B. - <cite>Yelp Review</cite></footer>
                  </blockquote>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-lg-10 mx-lg-auto">
                  <blockquote class="quote">
                    <p>“I can’t say enough good things about 4P! My boyfriend and I have been subscribed to their
                      produce bags
                      for over a year now, and we absolutely love it! Unlike most CSAs, 4P is extremely flexible. It
                      allows
                      you to switch out things you don’t like and get more of the items you do. They also allow you to
                      skip
                      weeks, which we often do during the winter when there are fewer options. At $35 per “small” bag
                      (which
                      they recommend for 1-2 people), you definitely get your money’s worth in terms of quantity and
                      quality.
                      Most of the items are organic, in addition to being locally grown. My boyfriend picks up the bag
                      at his
                      office. I strongly recommend 4P for its convenience and commitment to sustainability!”</p>
                    <footer>Collin B. - <cite>Yelp Review</cite></footer>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carousel-testimonials" role="button" data-slide="prev">
            <i class="ri-arrow-left-s-line"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-tesimonials" role="button" data-slide="next">
            <i class="ri-arrow-right-s-line"></i>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>