---
layout: page
title: 'Our Farmers | Local Farmers Market | Farm-To-Table CSA | '
meta:
  title: Meet Our Farmers
  description: >-
    4P Foods sources fresh, high-quality, delicious food, prioritizing local and
    regional partners. We cultivate a network of growers and producers who
    engage in labor practices that enable people and communities to thrive, and
    in growing practices that actively build the soil and promote biodiversity.
    Year-round, you can get freshly harvested produce, dairy and meat products
    delivered directly from our trusted network of farms and artisans. Read
    about some of the amazing producers that make up our Good Food community—
    and make them your food community too!
  image:
featured_farmer: /farmers/chrysalis-vineyards-at-the-ag-district
footer_image:
---
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 mx-lg-auto text-center">
        <div class="editable">
          <h1><strong>Meet Our Farmers + Makers</strong></h1>
        </div>
        <p class="lead editable">
          <em>Rebuilding a regional, regenerative, and equitable food system</em>
        </p>
        <div class="editable">
          <p>Our growing list of partners includes more than 200 farmers who value ethical and planet-friendly agricultural practices to provide local, sustainable, high-quality food year-round. </p>
          <p>Want to join our network of farmers? <a href="https://forms.gle/StrB1GJRik4UnsDv8" title="Vendor Application" target="_blank" rel="noopener">Sell to us.</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- TODO Farm map -->
<!-- <farm-map></farm-map> -->
<section>
  <div class="container">
    {% include farmers/featured-farmer.html %}
    <div class="__react-component" data-component="SearchBar" data-indexname="Farmers"></div>
    <!-- {% include farmers/farmers-list-all.html %} -->
  </div>
</section>

<!-- <featured-farms></featured-farms> -->
{% include footer-image.html %}
