---
layout: page
title: How We Work | Local CSA Program | Grocery Delivery | Farm-To-Table Delivery
meta:
  title: >-
    How We Work | Local CSA Program | Grocery Delivery | Farm-To-Table
    Delivery
  description: >
    At 4P Foods, we deliver weekly groceries delivered directly from local,
    family farms. In-season produce handpicked by farmers in Virginia,
    Maryland, Washington, D.C., the Eastern Seaboard, and Mid-Atlantic.
  image:
footer_image: /uploads/4p-bag-chard-cropped.jpg
community_featured_products:
  - family-veggie-box---medium
  - dairy-bag-1
  - protein-bag
---
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="editable">
          <h1><strong>How We Work</strong></h1>
          <h2>Weekly groceries delivered direct from local farms.<br />Currently delivering in Washington, D.C., Virginia, and Southern Maryland.</h2>
          <p>&nbsp;</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <a href="#how-to-shop" class="nav-link btn btn-secondary text-white my-2 editable">SUBSCRIBE OR BUY A-LA-CARTE</a>
      </div>
      <div class="col-lg-4">
        <a href="#delivery" class="nav-link btn btn-secondary text-white my-2 editable">CUSTOMIZE EVERY DELIVERY</a>
      </div>
      <div class="col-lg-4">
        <a href="#fresh-from-the-farm" class="nav-link btn btn-secondary text-white my-2 editable">GET LOCALLY SOURCED FOOD</a>
      </div>
    </div>
    <div class="row justify-content-between text-center mt-5">
      <div class="col-12 col-md-4">
        <div class="m-3 arrow arrow-right-green">
          <img src="/uploads/signup-3.png" alt="farm icon" class="img-fluid mx-4 w-50 mb-3 editable" />
          <div class="editable">
            <h3><strong>Choose Your 4P Foods Tote!</strong></h3>
          </div>
          <div class="editable">
            <p>&nbsp;</p>
            <h6><strong>Subscribe to a tote and add the groceries you need.</strong></h6>
            <p>&nbsp;<br />Small, medium, large.&nbsp;<br />Veggies, dairy, or proteins.&nbsp;<br />Or, just shop a-la-carte, too!</p>
            <p><br />We tote-ally get your dietary requirements.</p>
            <p><em>Starting at just $30 per grocery order.</em></p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="m-3 arrow arrow-right-green">
          <img src="/uploads/customize-2.png" alt="Orders Icon" class="img-fluid mx-4 w-50 mb-3 editable" />
          <div class="editable">
            <h3><strong>Add The Goodies You Need &amp; Love!</strong></h3>
          </div>
          <div class="editable">
            <p>&nbsp;</p>
            <h6><strong>Customize your tote with the fruit, vegetables, dairy, pantry items, or proteins you need!</strong></h6>
            <p>&nbsp;</p>
            <p>Or, let our team suggest in-season picks from more than 200+ local farms.</p>
            <p>Try a new veggie or fruit or swap in food you already know and love!</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="m-3">
          <img src="/uploads/deliver.png" alt="Dropoff Icon" class="img-fluid mx-4 w-50 mb-3 editable" />
          <div class="editable">
            <h3><em></em><strong>We Deliver Direct From Local Farms!</strong></h3>
          </div>
          <div class="editable">
            <p>&nbsp;</p>
            <h6><strong>Get your 4P Foods tote weekly to your doorstep or community pick up point.</strong>&nbsp;</h6>
            <p>Change frequency of delivery, pause for travel, or cancel as needed!&nbsp;</p>
            <p>Serving Northern and Central Va., Southern, Md., and Washington, D.C.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="how-to-shop" class="bg-tan">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 mx-lg-auto text-center">
        <div class="editable">
          <h1><strong>Our Promise to You</strong></h1>
          <p><em>Our farm partners are good stewards of the land, food, animals, and communities they serve. We encourage farmers to use sustainable and regenerative farming methods to rebuild the soil and health of the community. We pay farmers fair prices for the work they do and support equitable food sourcing and fair labor practices. We use reusable packaging to curb our carbon footprint. We will always strive to provide you with source transparency so that you can make informed decisions about what food is on your table.</em></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <how-to-shop></how-to-shop> -->
{% include wholesale-cta.html %}
{% include how-it-works/how-faq.html %}
<section id="delivery" class="position-relative">
  <img src="/img/bg-illustrations/4p-background-lettuce-01.png" alt="lettuce illustration" style="position: absolute; top: -60%; width: 28%; left: 0%; transform: rotate(-65deg); pointer-events: none;" />
  <img src="/img/bg-illustrations/4p-background-radish-01.png" alt="radish illustration" style="position: absolute; top: -40%; width: 28%; right: 5%; pointer-events: none;" />
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="editable">
          <h1><strong>Your online farmers market - get farm-fresh foods delivered direct.</strong></h1>
        </div>
      </div>
    </div>
  </div>
</section>
{% include how-it-works/how-tabs.html %}
<section id="fresh-from-the-farm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="editable">
          <h1><strong>We're Building a Better Food System</strong></h1>
        </div>
      </div>
      <div class="col-lg-4 text-lg-right">
        <a href="/farmers" class="btn btn-primary editable">meet farmers &amp; artisans</a>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-6">
        <div class="editable">
          <h4>Direct from local farmers and makers</h4>
          <p>We're making it more easier to source in-season food direct from local farming communities. The closer your food source is - the longer it stays on the vine to ripen and soak in the nutrients. Eat seasonal and healthy food fresh and transparently sourced from our trusted network of regional farms.&nbsp;</p>
          <h4>Committed to our planet</h4>
          <p>Together we're building a more sustainable food system that supports low-impact, sustainable, and regenerative methods of food production. Curb your food footprint with responsibly produced groceries delivered in reusable packaging.</p>
          <h4>Good food for all</h4>
          <p>Our values go beyond local. With 4P Foods, your food dollars support small-scale farmers and help make Good Food--food that is nourishing, equitably accessible, environmentally regenerative, and ethically produced--available to all.</p>
          <p><em></em></p>
        </div>
      </div>
      <div class="col-lg-6">
        <img class="img-fluid editable" alt="" src="/uploads/copy-of-2020-06-17-va-hanover-agriberryfarm-danieljames-herd-ventures-13.jpg" width="554" />
      </div>
    </div>
  </div>
</section>
{% include products/featured-products-picks.html %}
{% include footer-image.html %}
